<button (click)="goBack()" class="btn btn-sm btn-outline-secondary mb-3">
    <i class="mdi mdi-chevron-left"></i> Kembali
</button>
<ng-container *ngIf="(tab$ | async) === 0">
    <ng-container *ngIf="isLoading$ | async; else kelasHadItem">
        <div class="d-flex justify-content-center my-5">
            <div class="spinner-border" role="status"></div>
        </div>
    </ng-container>

    <ng-template #kelasHadItem>
        <div class="card">
            <div class="card-header fw-semibold">Informasi Kelas</div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12">
                        <label class="form-label text-muted small"
                            >Nama Kelas</label
                        >
                        <div class="fw-semibold fs-5">
                            {{ detailKelas.name }}
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label text-muted small"
                            >Tanggal</label
                        >
                        <div>
                            {{ detailKelas.examStartAt | tanggalIndo:
                            detailKelas.examEndAt }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label text-muted small"
                            >Jabatan</label
                        >
                        <div>{{ detailKelas.jabatanName }}</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label text-muted small"
                            >Jenjang</label
                        >
                        <div>{{ detailKelas.jenjangName }}</div>
                    </div>

                    <div class="col-12">
                        <label class="form-label text-muted small"
                            >Bidang Jabatan</label
                        >
                        <div>{{ detailKelas.bidangJabatanName ?? '-' }}</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label text-muted small"
                            >Kuota Peserta</label
                        >
                        <div>{{ detailKelas.participantQuota ?? '-' }}</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label text-muted small"
                            >Link Zoom</label
                        >
                        <div>{{ detailKelas.vidCallLink ?? '-' }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="fw-bold">Daftar Peserta</h5>
        <app-pagable [pagable]="pagable"></app-pagable>
    </ng-template>
</ng-container>
