.feedback {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.text-subtitle {
    opacity: 0.6;
}