<div class="row">
  <div class="col-lg-12">
    <div class="mb-3">
      <label for="emailInput" class="form-label">
        File yang perlu diperbaiki
      </label>
    </div>
    <div class="row">
      <app-file-handler [inputs]="inputs"></app-file-handler>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="hstack gap-2 justify-content-end">
      <button
        (click)="onSave()"
        class="btn btn-success"
        [disabled]="isAnyFileMissing()"
      >
        Simpan
      </button>
    </div>
  </div>
</div>

<app-confirmation-dialog></app-confirmation-dialog>
<app-file-preview></app-file-preview>
