<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title flex-grow-1 mb-0">
                    Ubah Periode Pendaftaran UKom
                </h4>
                <div class="flex-shrink-0"></div>
            </div>
            <div class="card-body">
                <form (submit)="submit()">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label fw-bold" for=""
                            >Tanggal Pendaftaran Dibuka</label
                        >
                        <div class="col-sm-10">
                            <input
                                [(ngModel)]="periodePendaftaran.startDate"
                                class="form-control"
                                name="start_date"
                                type="date"
                            />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label fw-bold" for=""
                            >Tanggal Pendaftaran Ditutup</label
                        >
                        <div class="col-sm-10">
                            <input
                                [(ngModel)]="periodePendaftaran.endDate"
                                class="form-control"
                                name="end_date"
                                type="date"
                            />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-check form-switch ms-2">
                            <input
                                (change)="
                  periodePendaftaran.notify = !periodePendaftaran.notify
                "
                                class="form-check-input"
                                id="flexSwitchCheckChecked"
                                role="switch"
                                type="checkbox"
                            />
                            <label
                                class="form-check-label"
                                for="flexSwitchCheckChecked"
                                >Kirim Pengumuman input</label
                            >
                        </div>
                    </div>
                    <div *ngIf="periodePendaftaran.notify" class="row mb-3">
                        <label class="col-sm-2 col-form-label fw-bold" for=""
                            >Pengumuman :
                        </label>
                        <editor
                            (onEditorChange)="onEditorChange($event)"
                            [(ngModel)]="editorContent"
                            [init]="init"
                            name="editorContent"
                        >
                        </editor>
                    </div>

                    <div class="float-end text-center">
                        <button class="btn btn-sm btn-success" type="submit">
                            Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
