.cursor-pointer {
  cursor: pointer;
}

.text-subtitle {
  opacity: 0.6;
}

.w-fit {
  width: fit-content;
}

main {
  background-color: #13182b;
  background-image: url('/assets/wave.svg');

  background-size: contain;
  background-repeat: repeat;
  background-blend-mode: overlay;
}

.grad-button {
  color: white !important;
  background: linear-gradient(45deg, #2967be, #49ab49) !important;
  border: none !important;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(90deg, #49ab49, #2967be) !important;
  }
}

.grad-button-secondary {
  color: #2967be !important;
  background: linear-gradient(45deg, #dbeafe, #e5f5e5) !important;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(90deg, #e5f5e5, #dbeafe) !important;
    color: #1d4ed8 !important;
    border-color: #1d4ed8 !important;
  }
}
