/* Add spacing and adjust alignment */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.list-group-item {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.kompetensi-section {
    margin-bottom: 2rem;
}

.kompetensi-section h4 {
    margin-bottom: 1rem;
    color: #333;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.total-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px;
    border-radius: 50px;
    max-width: 320px;
    margin: 20px auto;
    text-align: center;
}

.total-score-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.total-score-value {
    font-size: 3rem;
    font-weight: bold;
    //   padding: 15px 30px;
    //   background: #f8f9fa; /* Bootstrap Light Gray */
    color: #212529; /* Bootstrap Dark Gray */
    //   border-radius: 50px; /* Biar lebih bulat */
    //   display: inline-block;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
}

.total-score-value:hover {
    transform: scale(1.1);
    //   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.info-page {
    .binbot-illustration {
        width: 100%;
        max-width: 220px;
        height: auto;
        margin: 0 auto 1rem;
        display: block;
    }

    .title {
        font-size: 1.25rem;
        margin-top: 0.5rem;
    }
}

.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
    box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
}

.parent {
    @media screen and (max-width: 768px) {
        margin-left: 16px !important;
        margin-right: 16px !important;
        padding: 16px !important;
    }

    @media screen and (min-width: 768px) {
        margin-left: 32px !important;
        margin-right: 32px !important;
        padding: 16px !important;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 200px !important;
        margin-right: 200px !important;
        padding: 32px !important;
    }

    margin-left: 160px !important;
    margin-right: 160px !important;
    margin-top: 24px;
}
