<app-landing-page [imported]="true"></app-landing-page>

<script src="ukom-detail.component.ts"></script>

<div
    *ngIf="isLoading(); else ukomHadItem"
    class="d-flex justify-content-center my-5"
>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ng-template #ukomHadItem>
    <ng-container *ngIf="ukomParticipantExist(); else participantNotFound">
        <ng-container *ngIf="ukomGrade?.id">
            <app-ukom-grade-detail-table
                [gradeData]="ukomGrade"
                [roomUkomData]="classUkomRoom"
                [nama]="ukomDetail().name"
                [nip]="ukomDetail().nip"
            ></app-ukom-grade-detail-table>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #participantNotFound>
    <div class="card parent">
        <app-empty-state
            [buttonAction]="backToDashboard"
            [buttonText]="'Kembali ke Halaman Utama'"
            [description]="'Silakan periksa kembali tautan yang Anda akses, pastikan tautan tersebut sudah benar.'"
            [iconColor]="'danger'"
            [icon]="'mdi-package-variant-closed-remove'"
            [title]="'Data Peserta UKom Tidak Ditemukan'"
        ></app-empty-state>
    </div>
</ng-template>
