<div class="card m-0">
    <div class="card-header bg-light">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <h5 class="m-0">
                <i class="mdi mdi-certificate-outline me-2"></i>
                Detail Nilai Ukom
            </h5>
            <ng-container *ngIf="gradeData?.passed; else notPassed">
                <span
                    class="bg-success rounded-pill small fw-semibold px-3 py-1 text-white"
                    >{{gradeData?.status ?? "Lulus Uji Kompetensi"}}</span
                >
            </ng-container>
            <ng-template #notPassed>
                <span
                    class="bg-danger rounded-pill small fw-semibold px-3 py-1 text-white"
                    >{{gradeData?.status ?? "Tidak Lulus Uji Kompetensi"}}</span
                >
            </ng-template>
        </div>
    </div>
    <div class="scroll-container">
        <table class="table-hover m-0 table">
            <tbody>
                <tr>
                    <th class="w-25" scope="row">NIP</th>
                    <td>{{ nip }}</td>
                </tr>
                <tr>
                    <th scope="row">Nama</th>
                    <td>{{ nama }}</td>
                </tr>
                <tr>
                    <th scope="row">Skor CAT</th>
                    <!-- <td>{{ gradeData.nbCat ?? '-' }}</td> -->
                    <td>{{ gradeData?.catGrade?.score ?? '-' }}</td>
                </tr>
                <tr>
                    <th scope="row">Skor Wawancara</th>
                    <td>{{ gradeData?.wawancaraGrade?.score ?? '-' }}</td>
                </tr>
                <tr>
                    <th scope="row">Skor Seminar</th>
                    <td>{{ gradeData?.seminarGrade?.score ?? '-' }}</td>
                </tr>
                <tr>
                    <th scope="row">Skor Praktik</th>
                    <td>{{ gradeData?.praktikGrade?.score ?? "-" }}</td>
                </tr>
                <tr>
                    <th scope="row">Skor Portofolio</th>
                    <td>{{ gradeData?.portofolioGrade?.score ?? '-' }}</td>
                </tr>
                <tr>
                  <th scope="row">Skor Studi Kasus</th>
                  <td>{{ gradeData?.studiKasusGrade?.score ?? '-' }}</td>
                </tr>
                <tr>
                    <th scope="row">UKT</th>
                    <td>{{ gradeData?.ukt ?? '-' }}</td>
                </tr>
                <tr>
                    <th scope="row">UKMSK</th>
                    <td>{{ gradeData?.jpm ?? '-' }}</td>
                </tr>
                <tr class="fw-bold">
                    <th scope="row">Nilai Akhir</th>
                    <td>{{ gradeData?.grade ?? '-' }}</td>
                </tr>
                <tr class="fw-bold">
                    <th scope="row">File Rekomendasi UKom</th>
                    <td>
                        <ng-container
                            *ngIf="rekomendasiUrl; else waitingTemplate"
                        >
                            <button
                                (click)="onDownloadFile()"
                                class="btn btn-primary"
                            >
                                Download File Rekomendasi
                            </button>
                        </ng-container>

                        <ng-template #waitingTemplate>
                            <span class="text-muted fst-italic">
                                Menunggu admin mengupload
                            </span>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <div class="scroll-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>NIP</th>
                <th>Nama</th>
                <th>Skor CAT</th>
                <th>Skor Wawancara</th>
                <th>Skor Seminar</th>
                <th>Skor Praktek</th>
                <th>Skor Portfolio</th>
                <th>UKT</th>
                <th>UKMSK</th>
                <th>Nilai Akhir</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row">
                <td class="truncate-cell m-1 p-1 ">{{nip}}</td>
                <td class="truncate-cell m-1 p-1 ">{{nama}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
                <td class="truncate-cell m-1 p-1 ">{{gradeData.nbCat}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
