<nav class="navbar">
    <img src="assets/logo/kemendag-logo-light.png" width="120">
    <div class="toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav-links" [ngClass]="{'active': isMenuOpen}">
        <li><a href="#beranda">Beranda</a></li>
        <li><a href="#layanan">Layanan</a></li>
        <li><a href="#lokasi">Lokasi</a></li>
        <li><a href="#kontak">Kontak</a></li>
        <li><a href="/login" class="btn btn-secondary grad-button">Daftar Sekarang</a></li>
    </ul>
</nav>
<section class="hero-section" id="beranda">
    <h1>Selamat Datang di Sistem Informasi Fungsional Kemendag RI <span class="gradient-text">(SIjuPRI)</span></h1>
    <p>Solusi cerdas untuk mendukung kinerja Kementrian Perdagangan Republik Indonesia</p>
    <a routerLink="/login" class="btn btn-secondary w-fit grad-button ">Masuk Sekarang</a>
</section>

<section class="feature-section" id="layanan">
    <h2>Menyediakan Fitur Pendaftaran Uji Kompetensi</h2>
    <p>Berikut adalah beberapa fitur layanan yang tersedia pada SIjuPRI</p>
    <div class="feature-list">
        <div class="feature feature-1">
            <div class="image">
                <img src="assets/doc-icon.svg" alt="">
            </div>
            <h4>Pendaftaran Ukom Internal</h4>
            <p>Dikhususkan untuk internal Kementerian Perdagangan Republik Indonesia</p>
            <div class="req-parent">
                <h6 class="req-title">Dokumen Promosi</h6>
                <div class="req-items">
                    <div class="req-item">
                        <i-lucide [img]="SquareCheck" [color]="'#49AB49'"></i-lucide>
                        <p class=""> Dokumen Perserahan</p>
                    </div>
                    <div class="req-item">
                        <i-lucide [img]="SquareX" [color]="'#bf4b4b'"></i-lucide>
                        <p class=""> Dokumen Mana Tahu</p>
                    </div>
                    <div class="req-item">
                        <i-lucide [img]="SquareX" [color]="'#bf4b4b'"></i-lucide>
                        <p class=""> Dokumen Tertentu</p>
                    </div>
                </div>
            </div>
            <div class="req-parent">
                <h6 class="req-title">Dokumen Perpindahan Jabatan</h6>
                <div class="req-items">
                    <div class="req-item">
                        <i-lucide [img]="SquareCheck" [color]="'#49AB49'"></i-lucide>
                        <p class=""> Dokumen Perserahan</p>
                    </div>
                    <div class="req-item">
                        <i-lucide [img]="SquareX" [color]="'#bf4b4b'"></i-lucide>
                        <p class=""> Dokumen Mana Tahu</p>
                    </div>
                    <div class="req-item">
                        <i-lucide [img]="SquareX" [color]="'#bf4b4b'"></i-lucide>
                        <p class=""> Dokumen Tertentu</p>
                    </div>
                </div>
            </div>
            <a routerLink="/login" class="btn btn-secondary grad-button">Daftar Sekarang</a>
        </div>
        <div class="feature feature-2">
            <div class="image">
                <img src="assets/doc-icon.svg" alt="">
            </div>
            <h4>Pendaftaran Ukom Eksternal</h4>
            <p>Dikhususkan untuk eksternal Kementerian Perdagangan Republik Indonesia</p>
            <div class="req-parent">
                <h6 class="req-title">Dokumen Promosi</h6>
                <div class="req-items">
                    <div class="req-item">
                        <i-lucide [img]="SquareCheck" [color]="'#49AB49'"></i-lucide>
                        <p class=""> Dokumen Perserahan</p>
                    </div>
                    <div class="req-item">
                        <i-lucide [img]="SquareCheck" [color]="'#49AB49'"></i-lucide>
                        <p class=""> Dokumen Mana Tahu</p>
                    </div>
                    <div class="req-item">
                        <i-lucide [img]="SquareCheck" [color]="'#49AB49'"></i-lucide>
                        <p class=""> Dokumen Tertentu</p>
                    </div>
                </div>
            </div>
            <div class="req-parent">
                <h6 class="req-title">Dokumen Perpindahan Jabatan</h6>
                <div class="req-items">
                    <div class="req-item">
                        <i-lucide [img]="SquareCheck" [color]="'#49AB49'"></i-lucide>
                        <p class=""> Dokumen Perserahan</p>
                    </div>
                    <div class="req-item">
                        <i-lucide [img]="SquareCheck" [color]="'#49AB49'"></i-lucide>
                        <p class=""> Dokumen Mana Tahu</p>
                    </div>
                    <div class="req-item">
                        <i-lucide [img]="SquareCheck" [color]="'#49AB49'"></i-lucide>
                        <p class=""> Dokumen Tertentu</p>
                    </div>
                </div>
            </div>
            <a routerLink="/login" class="btn btn-secondary grad-button">Daftar Sekarang</a>
        </div>
        <div class="feature feature-3">
            <div class="image">
                <img src="assets/doc-icon.svg" alt="">
            </div>
            <h4>Detail Pendaftaran dan Perbaikan Dokumen</h4>
            <p>Anda dapat melihat detail dan memperbaiki dokumen pendaftaran UKom anda dengan melakukan scan QR yang
                telah anda download atau dengan menginputkan kode pendaftaran dibawah ini </p>
            <form [formGroup]="ukomForm" (ngSubmit)="onSubmit()" class="row">
                <div class="w-100">
                    <label for="nip" class="form-label">Kode UKom</label>
                    <div class="input-group has-validation">
                        <input type="text" name="ukomCode" class="form-control" id="ukomCode" formControlName="ukomCode"
                            placeholder="Masukkan Kode UKom">
                    </div>
                    <div class="feedback" *ngIf="ukomForm.get('ukomCode').invalid && ukomForm.get('ukomCode').touched">
                        <small *ngIf="ukomForm.get('ukomCode').errors?.['required']">Kode UKom perlu
                            diisi.</small>
                        <small *ngIf="ukomForm.get('ukomCode').errors?.['minlength']">Kode UKom
                            minimal 5 karakter.</small>
                        <small *ngIf="ukomForm.get('ukomCode').errors?.['pattern']">Kode UKom harus
                            angka.</small>
                    </div>
                    <button routerLink="/login" class="btn btn-secondary grad-button mt-4" [disabled]="ukomForm.invalid">Ikuti UKom</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section style="padding-top: 0 !important; padding-bottom: 0 !important; text-align: center;" id="lokasi">
    <h2>Lokasi Kementerian Perdagangan Republik Indonesia </h2>
    <p style="margin-bottom: 64px;">Berikut adalah lokasi dimana gedung kemendag berada</p>
    <!-- <div id="map" class="map-container"></div> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d573.7930201627036!2d106.83318637558038!3d-6.181469988094899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f433dff0a1f7%3A0x600a7ff8254f640d!2sMinistry%20of%20Trade%20of%20The%20Republic%20of%20Indonesia!5e0!3m2!1sen!2sid!4v1730204663845!5m2!1sen!2sid" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<footer class="footer-landing" id="kontak">
    <div class="footer-content">
        <div class="footer-left">
            <img src="assets/logo/kemendag-logo-dark.png" width="160">
            <p class="footer-description">
                Kementerian Perdagangan Republik Indonesia
            </p>
            <p>Jl. M.I. Ridwan Rais, No. 5 Daerah Khusus Ibukota Jakarta 10110, Indonesia</p>
            <p>Phone: +62 21 350 0000</p>
            <p>Call Center: 78123</p>
        </div>

        <div class="right-side">
            <div class="footer-right">
                <h3>Navigasi</h3>
                <ul class="footer-menu">
                    <li><a href="#beranda">Beranda</a></li>
                    <li><a href="#layanan">Layanan</a></li>
                    <li><a href="#lokasi">Lokasi</a></li>
                    <li><a href="#kontak">Kontak</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <h3>Menu Aplikasi</h3>
                <ul class="footer-menu">
                    <li><a href="#">SIAP</a></li>
                    <li><a href="#">Formasi</a></li>
                    <li><a href="#">AKP</a></li>
                    <li><a href="#">Kinerja</a></li>
                    <li><a href="#">UKom</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <h3>Sosial Media</h3>
                <ul class="footer-menu">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <p class="footer-copy">© {{currentYear}} Kementerian Perdagangan Republik Indonesia</p>
</footer>