<form [formGroup]="rwPangkatForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="pangkatCode" class="form-label">
                    Pangkat <span class="text-danger">*</span>
                </label>
                <select class="form-select" name="pangkatCode" id="pangkatCode" formControlName="pangkatCode">
                    <option selected value="" style=" display: none;">Pilih Pangkat</option>
                    <option *ngFor="let pangkat of pangkatList" [value]="pangkat.code">
                        {{pangkat.name}} ({{pangkat.golongan}})
                    </option>
                </select>
                <div class="feedback"
                *ngIf="rwPangkatForm.get('pangkatCode').invalid && rwPangkatForm.get('pangkatCode').touched">
                <small *ngIf="rwPangkatForm.get('pangkatCode').errors?.['required']">Pangkat perlu
                    dipilih.</small>
            </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="tmt" class="form-label">
                    Terhitung Mulai Tanggal <span class="text-danger">*</span>
                </label>
                <input type="date" class="form-control" name="tmt" id="tmt" formControlName="tmt"
                    placeholder="Masukan nama Sekolah/Universitas/Institusi">
                    <div class="feedback"
                    *ngIf="rwPangkatForm.get('tmt').invalid && rwPangkatForm.get('tmt').touched">
                    <small *ngIf="rwPangkatForm.get('tmt').errors?.['required']">Tanggal mulai perlu
                        diisi.</small>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <app-file-handler [inputs]="inputs"></app-file-handler>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-primary" [disabled]="rwPangkatForm.invalid">Simpan</button>
            </div>
        </div>
    </div>
</form>