<div
  *ngIf="AKPDetailLoading$ | async; else akpHadItem"
  class="d-flex justify-content-center my-5"
>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<ng-template #akpHadItem>
  <button class="btn btn-sm btn-outline-secondary mb-3" (click)="backToList()">
    <i class="mdi mdi-chevron-left"></i> Kembali
  </button>
  <div class="p-0 d-flex flex-column flex-xl-row gap-3">
    <div class="card flex-grow-1 m-0 detail-jf">
      <div class="card-header">
        <h5 class="m-0">
          <i class="mdi mdi-account me-2"></i> Informasi User JF
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label class="form-label"> Nama Lengkap </label>
            <p>{{ AKPDetail.name }}</p>
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label"> NIP </label>
            <p>{{ AKPDetail.nip }}</p>
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label"> Tempat, Tanggal Lahir </label>
            <p>{{ AKPDetail.tempatLahir + ', ' + AKPDetail.tanggalLahir }}</p>
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label"> Jenis Kelamin </label>
            <p>{{ AKPDetail.jenisKelaminName }}</p>
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label"> Unit Kerja </label>
            <p>{{ AKPDetail.unitKerjaName }}</p>
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label"> Instansi </label>
            <p>{{ AKPDetail.instansiName }}</p>
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label"> Pangkat </label>
            <p>{{ AKPDetail.pangkatName }}</p>
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label"> Jabatan </label>
            <p>{{ AKPDetail.jabatanName }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card flex-grow-1 m-0 detail-atasan">
      <div class="card-header">
        <h5 class="m-0">
          <i class="mdi mdi-account-multiple me-2"></i> Informasi Atasan
          (Penilai)
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-2">
            <label class="form-label"> Nama Lengkap Atasan </label>
            <p>{{ AKPDetail.namaAtasan }}</p>
          </div>
          <div class="col-12 mb-2">
            <label class="form-label"> Email Atasan </label>
            <p>{{ AKPDetail.emailAtasan }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header" style="border-bottom: none">
      <ul
        class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
        role="tablist"
      >
        <li class="nav-item cursor-pointer" (click)="tabChange(1)">
          <a class="nav-link active" data-bs-toggle="tab" role="tab">
            <i class="mdi mdi-clipboard-text me-1"></i>
            Detail Rekap
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ng-container *ngIf="(currentTab$ | async) === 1">
    <app-rekap-table [data]="AKPDetail.akpRekapDtoList"></app-rekap-table>
  </ng-container>
</ng-template>
