<section class="container-fluid">
  <p>Pengajuan dengan status pending</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center p-3 mb-4">
        <h5>AKP</h5>
        <h2>{{ totalAKPPending }}</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center p-3 mb-4">
        <h5>UKOM</h5>
        <h2>{{ totalUKOMPending }}</h2>
      </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="card text-center p-3 mb-4">
        <h5>SIAP</h5>
        <h2>3,462</h2>
      </div>
    </div> -->
    <div class="col-md-4">
      <div class="card text-center p-3 mb-4">
        <h5>FORMASI</h5>
        <h2>{{ totalFormasiPending }}</h2>
      </div>
    </div>
  </div>
</section>
