<app-pagable
  [pagable]="pagable$ | async"
  [refresh]="refreshToggle"
></app-pagable>

<app-modal
  *ngIf="isModalOpen$ | async"
  [title]="'Update Formula'"
  (toggle)="toggleModal()"
  [enableFooter]="false"
  [size]="'md'"
>
  <form [formGroup]="editFormulaForm">
    <!-- <div class="mb-3">
      <label for="jabatan_code" class="form-label">Jabatan</label>
      <select
        class="form-select"
        name="jabatan_code"
        id="jabatan_code"
        formControlName="jabatan_code"
      >
        <option selected value="" style="display: none">Pilih Jabatan</option>
        <option
          *ngFor="let jabatan of jabatanList$ | async"
          [value]="jabatan.code"
        >
          {{ jabatan.name }}
        </option>
      </select>
    </div> -->

    <!-- <div class="mb-3">
      <label for="jenjang_code" class="form-label">Jenjang</label>
      <select
        class="form-select"
        name="jenjang_code"
        id="jenjang_code"
        formControlName="jenjang_code"
      >
        <option selected value="" style="display: none">Pilih Jenjang</option>
        <option
          *ngFor="let jenjang of jenjangList$ | async"
          [value]="jenjang.code"
        >
          {{ jenjang.name }}
        </option>
      </select>
    </div> -->

    <div class="mb-3">
      <label for="cat_percentage" class="form-label"
        >CAT<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="cat_percentage"
        required
        formControlName="cat_percentage"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('cat_percentage').invalid &&
          editFormulaForm.get('cat_percentage').touched
        "
      >
        <small
          *ngIf="editFormulaForm.get('cat_percentage').errors?.['required']"
          >CAT perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="wawancara_percentage" class="form-label"
        >Wawancara<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="wawancara_percentage"
        required
        formControlName="wawancara_percentage"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('wawancara_percentage').invalid &&
          editFormulaForm.get('wawancara_percentage').touched
        "
      >
        <small
          *ngIf="editFormulaForm.get('wawancara_percentage').errors?.['required']"
          >Wawancara perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="seminar_percentage" class="form-label"
        >Seminar<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="seminar_percentage"
        required
        formControlName="seminar_percentage"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('seminar_percentage').invalid &&
          editFormulaForm.get('seminar_percentage').touched
        "
      >
        <small
          *ngIf="editFormulaForm.get('seminar_percentage').errors?.['required']"
          >Seminar perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="praktik_percentage" class="form-label"
        >Praktik<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="praktik_percentage"
        required
        formControlName="praktik_percentage"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('praktik_percentage').invalid &&
          editFormulaForm.get('praktik_percentage').touched
        "
      >
        <small
          *ngIf="editFormulaForm.get('praktik_percentage').errors?.['required']"
          >Praktik perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="portofolio_percentage" class="form-label"
        >Portofolia<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="portofolio_percentage"
        required
        formControlName="portofolio_percentage"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('portofolio_percentage').invalid &&
          editFormulaForm.get('portofolio_percentage').touched
        "
      >
        <small
          *ngIf="editFormulaForm.get('portofolio_percentage').errors?.['required']"
          >Portofolia perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="ukt_percentage" class="form-label"
        >UKT<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="ukt_percentage"
        required
        formControlName="ukt_percentage"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('ukt_percentage').invalid &&
          editFormulaForm.get('ukt_percentage').touched
        "
      >
        <small
          *ngIf="editFormulaForm.get('ukt_percentage').errors?.['required']"
          >UKT perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="ukmsk_percentage" class="form-label"
        >UKSMK<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="ukmsk_percentage"
        required
        formControlName="ukmsk_percentage"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('ukmsk_percentage').invalid &&
          editFormulaForm.get('ukmsk_percentage').touched
        "
      >
        <small
          *ngIf="editFormulaForm.get('ukmsk_percentage').errors?.['required']"
          >UKSMK perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="grade_threshold" class="form-label"
        >Ambang Batas Nilai<span class="text-danger">*</span>
      </label>
      <input
        type="number"
        step="1"
        class="form-control"
        id="grade_threshold"
        required
        formControlName="grade_threshold"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('grade_threshold').invalid &&
          editFormulaForm.get('grade_threshold').touched
        "
      >
        <small
          *ngIf="editFormulaForm.get('grade_threshold').errors?.['required']"
          >Ambang Batas Nilai perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="ukt_threshold" class="form-label"
        >Ambang Batas UKT<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="ukt_threshold"
        required
        formControlName="ukt_threshold"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('ukt_threshold').invalid &&
          editFormulaForm.get('ukt_threshold').touched
        "
      >
        <small *ngIf="editFormulaForm.get('ukt_threshold').errors?.['required']"
          >Ambang Batas UKT perlu diisi.</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="jpm_threshold" class="form-label"
        >Ambang Batas JPM<span class="text-danger">*</span></label
      >
      <input
        type="number"
        step="1"
        class="form-control"
        id="jpm_threshold"
        required
        formControlName="jpm_threshold"
      />
      <div
        class="feedback"
        *ngIf="
          editFormulaForm.get('jpm_threshold').invalid &&
          editFormulaForm.get('jpm_threshold').touched
        "
      >
        <small *ngIf="editFormulaForm.get('jpm_threshold').errors?.['required']"
          >Ambang Batas JPM perlu diisi.</small
        >
      </div>
    </div>

    <button
      (click)="submit()"
      [disabled]="!editFormulaForm.valid"
      class="btn btn-primary w-100"
    >
      Update
    </button>
  </form>
</app-modal>

<app-confirmation-dialog></app-confirmation-dialog>
