<app-pagable
    [pagable]="pagable$ | async"
    [refresh]="refreshToggle"
></app-pagable>

<app-modal
    *ngIf="isModalOpen$ | async"
    [title]="'Update Formula'"
    (toggle)="toggleModal()"
    [enableFooter]="false"
    [size]="'md'"
>
    <form [formGroup]="editFormulaForm">
        <div class="mb-3">
            <label for="catPercentage" class="form-label fw-bold"
                >CAT <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="catPercentage"
                    formControlName="catPercentage"
                />
                <span class="input-group-text">%</span>
            </div>
            <div
                *ngIf="getErrorMessage('catPercentage', 'CAT') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="wawancaraPercentage" class="form-label fw-bold"
                >Wawancara <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="wawancaraPercentage"
                    formControlName="wawancaraPercentage"
                />
                <span class="input-group-text">%</span>
            </div>
            <div
                *ngIf="getErrorMessage('wawancaraPercentage', 'Wawancara') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="seminarPercentage" class="form-label fw-bold"
                >Seminar <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="seminarPercentage"
                    formControlName="seminarPercentage"
                />
                <span class="input-group-text">%</span>
            </div>
            <div
                *ngIf="getErrorMessage('seminarPercentage', 'Seminar') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="praktikPercentage" class="form-label fw-bold"
                >Praktik <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="praktikPercentage"
                    formControlName="praktikPercentage"
                />
                <span class="input-group-text">%</span>
            </div>
            <div
                *ngIf="getErrorMessage('praktikPercentage', 'Praktik') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="portofolioPercentage" class="form-label fw-bold"
                >Portofolia <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="portofolioPercentage"
                    formControlName="portofolioPercentage"
                />
                <span class="input-group-text">%</span>
            </div>
            <div
                *ngIf="getErrorMessage('portofolioPercentage', 'Portofolia') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="studiKasusPercentage" class="form-label fw-bold"
                >Studi Kasus <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="studiKasusPercentage"
                    formControlName="studiKasusPercentage"
                />
                <span class="input-group-text">%</span>
            </div>
            <div
                *ngIf="getErrorMessage('studiKasusPercentage', 'Studi Kasus') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="uktPercentage" class="form-label fw-bold"
                >UKT <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="uktPercentage"
                    formControlName="uktPercentage"
                />
                <span class="input-group-text">%</span>
            </div>
            <div
                *ngIf="getErrorMessage('uktPercentage', 'UKT') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="ukmskPercentage" class="form-label fw-bold"
                >UKSMK <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="ukmskPercentage"
                    formControlName="ukmskPercentage"
                />
                <span class="input-group-text">%</span>
            </div>
            <div
                *ngIf="getErrorMessage('ukmskPercentage', 'UKSMK') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="gradeThreshold" class="form-label fw-bold"
                >Ambang Batas Nilai <span class="text-danger">*</span>
            </label>
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="gradeThreshold"
                    formControlName="gradeThreshold"
                />
            </div>
            <div
                *ngIf="
          getErrorMessage('gradeThreshold', 'Ambang Batas Nilai') as error
        "
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="uktThreshold" class="form-label fw-bold"
                >Ambang Batas UKT <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="uktThreshold"
                    formControlName="uktThreshold"
                />
            </div>
            <div
                *ngIf="getErrorMessage('uktThreshold', 'Ambang Batas UKT') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label for="jpmThreshold" class="form-label fw-bold"
                >Ambang Batas JPM <span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    appInvalidOnTouch
                    type="number"
                    step="1"
                    class="form-control"
                    id="jpmThreshold"
                    formControlName="jpmThreshold"
                />
            </div>
            <div
                *ngIf="getErrorMessage('jpmThreshold', 'Ambang Batas JPM') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="text-end">
            <app-loading-button
                [isLoading]="isLoading$ | async"
                [disabled]="editFormulaForm.invalid"
                [label]="'Update'"
                [className]="'btn btn-primary'"
                [type]="'button'"
                (clicked)="submit()"
            ></app-loading-button>
        </div>
    </form>
</app-modal>
