<form>
    <div class="mb-3">
        <label class="form-label" for="examTypeCode"
            >Jenis Ujian <span class="text-danger">*</span>
        </label>
        <select
            [formControl]="examTypeCode"
            appInvalidOnTouch
            class="form-select"
        >
            <option disabled hidden value="">Pilih Jenis Ujian</option>
            <option
                *ngFor="let examType of examTypeList$ | async"
                [value]="examType.code"
            >
                {{ examType.code }}
            </option>
        </select>

        <div
            *ngIf="getErrorMessage('examTypeCode', 'Jenis Ujian') as error"
            class="text-danger"
        >
            {{ error }}
        </div>
    </div>

    <app-file-handler [inputs]="inputs"></app-file-handler>
    <ng-container *ngIf="examTypeCode.value">
        <a
            (click)="handleDownloadTemplate(); $event.preventDefault()"
            class="link d-block mt-3"
            href="#"
        >
            <span class="mdi mdi-download"></span>
            Download template pertanyaan
        </a>
    </ng-container>

    <div class="text-end">
        <app-loading-button
            (clicked)="importQuestion()"
            [className]="'btn btn-primary'"
            [disabled]="!base64FileQuestion || examTypeCode.invalid"
            [isLoading]="isLoading"
            label="Import"
        ></app-loading-button>
    </div>
</form>
