<ng-container *ngIf="activeTab() === 0">
    <app-pagable [pagable]="pagable()" [refresh]="refresh()"></app-pagable>
</ng-container>
<ng-container *ngIf="activeTab() === 1">
    <form>
        <div class="mb-3">
            <label class="form-label">
                Jenis Ujian <span class="text-danger">*</span>
            </label>
            <select
                [formControl]="examTypeCode"
                appInvalidOnTouch
                class="form-select"
            >
                <option disabled hidden value="">Pilih Jenis Ujian</option>
                <option
                    *ngFor="let examType of examTypeList$ | async"
                    [value]="examType.code"
                >
                    {{
                    ukomMiscellaneousService.getModuleDisplayName(examType.code)
                    }}
                </option>
            </select>

            <div
                *ngIf="getErrorMessage('examTypeCode', 'Jenis Ujian') as error"
                class="text-danger"
            >
                {{ error }}
            </div>
        </div>

        <!-- TEMPLATE EXCEL -->
        <app-file-handler
            #templateHandler
            [inputs]="templateInputs"
        ></app-file-handler>

        @if (examTypeCode.value === ExamTypeCategory.STUDI_KASUS){
        <app-upload-study-case-file
            [reset]="resetUploadComponent()"
            (isAllFileUploadedChange)="handleAllFileUploadedChange($event)"
            (listUploadChange)="handleListUploadChange($event)"
        ></app-upload-study-case-file>
        }

        <ng-container></ng-container>

        <ng-container *ngIf="examTypeCode.value">
            <a
                (click)="handleDownloadTemplate(); $event.preventDefault()"
                class="link d-block mt-3"
                href="#"
            >
                <span class="mdi mdi-download"></span>
                Download template pertanyaan
            </a>
        </ng-container>

        <div class="text-end">
            <app-loading-button
                (clicked)="importQuestion()"
                [className]="'btn btn-primary'"
                [disabled]="isSubmitDisabled()"
                [isLoading]="isLoading"
                label="Import"
            ></app-loading-button>
        </div>
    </form>
</ng-container>
