<div *ngIf="isSubmitted$ | async; else hadItem">
  <div class="countdown-notification"></div>

  <div class="container">
    <section
      class="section min-vh-100 d-flex flex-column align-items-center justify-content-center"
    >
      <p class="countdown-message">
        Anda sudah mengerjakan CAT. Silahkan tunggu hingga waktu CAT selesai
        untuk melihat skor :
      </p>
      <div
        [class.warning]="remainingSeconds < 300"
        [class.danger]="remainingSeconds < 60"
        class="countdown-timer"
      >
        {{ remainingTime }}
      </div>

      <button
        class="btn btn-primary btn-lg mt-3"
        style="transition: transform 0.3s ease"
        onmouseover="this.style.transform='scale(1.05)';"
        onmouseout="this.style.transform='scale(1)';"
        (click)="backToHome()"
      >
        Kembali
      </button>
    </section>
  </div>
</div>

<ng-template #hadItem>
  <div class="parent">
    <div class="row w-100" *ngIf="data.data.length > 0">
      <!-- question card section -->
      <div class="col-8 d-flex flex-column card mb-10">
        <div class="text-center mb-4">
          <img
            *ngIf="data.data[currentPage - 1]?.attachmentUrl"
            [src]="data.data[currentPage - 1]?.attachmentUrl"
            alt="Question Image"
            class="img-fluid rounded shadow"
            style="max-height: 300px; object-fit: cover"
          />
        </div>

        <p class="fs-5 mb-4">{{ data.data[currentPage - 1]?.question }}</p>

        <div
          *ngFor="
            let choice of data.data[currentPage - 1]?.multipleChoiceDtoList
          "
          class="mb-3"
        >
          <label class="d-flex align-items-center gap-2">
            <input
              type="radio"
              [value]="choice.choiceId"
              name="answer"
              [checked]="
                selectedAnswer[data.data[currentPage - 1]?.id] ===
                choice.choiceId
              "
              (change)="
                selectAnswer(data.data[currentPage - 1]?.id, choice.choiceId)
              "
            />
            <span>{{ choice.choiceValue }}</span>
          </label>
        </div>

        <button
          *ngIf="currentPage !== totalQuestions"
          (click)="saveAnswer(data.data[currentPage - 1]?.id)"
          class="btn btn-primary"
        >
          Simpan
        </button>
        <button
          *ngIf="currentPage === totalQuestions"
          (click)="
            saveAnswer(data.data[currentPage - 1]?.id); submitAnswer(true)
          "
          class="btn btn-success"
        >
          Simpan dan Selesai
        </button>
      </div>

      <!-- navigation card section -->
      <div class="col-4 d-flex flex-column">
        <div class="card shadow-sm p-2 flex-grow-1">
          <div
            [class.warning]="remainingSeconds < 300"
            [class.danger]="remainingSeconds < 60"
            class="countdown-timer"
          >
            {{ remainingTime }}
          </div>

          <div class="row justify-content-center">
            <button
              *ngFor="let q of [].constructor(totalQuestions); let i = index"
              (click)="navigateToPage(i + 1)"
              [class.bg-primary]="currentPage === i + 1"
              [class.text-white]="currentPage === i + 1"
              [class.bg-success]="savedAnswer[data.data[i]?.id]"
              class="btn btn-light col-auto text-center m-1"
              style="width: 50px; height: 50px"
            >
              {{ i + 1 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="showWarning" class="warning-message">
  <p>
    Mouse harus berada di dalam area ujian. Kembalikan mouse dalam waktu
    {{ warningCountdown }} detik.
  </p>
</div>

<app-confirmation-dialog></app-confirmation-dialog>
