@if (isLoadingParticipant()) {
<div class="d-flex justify-content-center align-items-center py-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Memuat...</span>
    </div>
</div>
} @else if (participantNotFound()) {
<div class="empty-state-container">
    <div class="info-page text-center">
        <img
            src="assets/binbot/binbot-wave.webp"
            alt="BINBOT Mascot"
            class="binbot-illustration"
        />

        <h2 class="title">Tidak Ada Data Peserta UKOM Aktif</h2>

        <p class="description">
            Anda saat ini tidak memiliki data peserta UKOM yang aktif. Hal ini
            dapat terjadi karena proses pengunduran diri Anda telah disetujui
            atau belum terdapat pengajuan UKOM yang aktif.
        </p>
    </div>
</div>
} @else {
<router-outlet></router-outlet>
}
