@if (isLoadingParticipant() || isLoadingResignationStatus()) {
<div class="d-flex justify-content-center align-items-center py-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Memuat...</span>
    </div>
</div>
} @else if (isParticipantAllowToResign) {
<div class="empty-state-container">
    <div class="info-page text-center">
        <img
            src="assets/binbot/binbot-wave.webp"
            alt="BINBOT Mascot"
            class="binbot-illustration"
        />

        <h2 class="title">Pengunduran Diri Tidak Dapat Dilakukan</h2>

        <p class="description">
            Pengunduran diri tidak dapat dilakukan karena hasil UKOM telah
            dikirim kepada peserta.
        </p>
    </div>
</div>

} @else if (!pendingTask) {
<app-ukom-resignation-form></app-ukom-resignation-form>
} @else if ( pendingTask.flowId === 'resignation_flow_1' && (
pendingTask.taskStatus === 'COMPLETED' || pendingTask.taskStatus === 'PENDING' )
) {
<app-ukom-resignation-detail
    [participant]="participant()"
    [pendingTask]="pendingTask"
/>
} @else if ( pendingTask.flowId === 'resignation_flow_2' &&
pendingTask.taskStatus === 'PENDING' ) {
<app-ukom-resignation-update
    [participant]="participant()"
    [pendingTask]="pendingTask"
/>
}
