<ng-container *ngIf="(this.tabService.activeTab$ | async) === 0">
    <app-pagable [pagable]="pagable" [refresh]="refreshToggle"></app-pagable>
</ng-container>

<ng-container *ngIf="(this.tabService.activeTab$ | async) === 1">
    <app-ukom-examiner-add
        (changeTabActive)="handleTabChange(0)"
    ></app-ukom-examiner-add>
</ng-container>

<app-modal
    (toggle)="toggleModal()"
    *ngIf="isModalOpen$ | async"
    [enableFooter]="false"
    [title]="'Update Penguji'"
>
    <form [formGroup]="editExaminerForm">
        <div class="mb-3">
            <label class="form-label fw-bold" for="name"
                >Nama <span class="text-danger">*</span></label
            >
            <input
                appInvalidOnTouch
                class="form-control"
                formControlName="name"
                id="name"
                type="text"
            />
            <div
                *ngIf="getErrorMessage('name','Nama' ) as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold" for="jenisKelaminCode"
                >Jenis Kelamin <span class="text-danger">*</span></label
            >
            <select
                appInvalidOnTouch
                class="form-select"
                formControlName="jenisKelaminCode"
                id="jenisKelaminCode"
                name="jenisKelaminCode"
            >
                <option [value]="'F'">Wanita</option>
                <option [value]="'M'">Pria</option>
            </select>
            <div
                *ngIf="getErrorMessage(
                                    'jenisKelaminCode',
                                    'Jenis Kelamin'
                                ) as error
                            "
                class="invalid-feedback"
            >
                {{ error }}x
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold" for="examTypeList"
                >Jenis Ukom <span class="text-danger">*</span></label
            >
            <app-multi-select
                [options]="examTypeListOptions()"
                formControlName="examTypeList"
                placeholder="Pilih Jenis Ukom"
            ></app-multi-select>
            <div
                *ngIf="getErrorMessage('examTypeList', 'Jenis Ukom') as error"
                class="invalid-feedback d-block"
            >
                {{ error }}
            </div>
        </div>

        <div class="text-end">
            <app-loading-button
                (clicked)="submit()"
                [className]="'btn btn-primary'"
                [disabled]="editExaminerForm.invalid"
                [isLoading]="isLoading$ | async"
                [label]="'Simpan'"
                [type]="'button'"
            ></app-loading-button>
        </div>
    </form>
</app-modal>
