<div *ngIf="pendingTask.flowId == 'for_flow_2'" class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Proses Verifikasi</h4>
                <div class="flex-shrink-0">
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">Unit Kerja</label>
                        <div class="col-sm-10">
                            <p><b>{{unitKerja.name}}</b></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">Alamat</label>
                        <div class="col-sm-10">
                            <p><b>{{unitKerja.alamat}}</b></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">Email</label>
                        <div class="col-sm-10">
                            <p><b>{{unitKerja.email}}</b></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">Phone</label>
                        <div class="col-sm-10">
                            <p><b>{{unitKerja.phone}}</b></p>
                        </div>
                    </div>
                    <hr>
                    <div *ngFor="let formasiDokumen of formasiRequest.formasiDokumenList; index as i" class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">{{formasiDokumen.dokumenName}}</label>
                        <div class="col-sm-10">
                            <tr>
                                <td>
                                    <a class="btn btn-sm btn-info ms-2">lihat</a>
                                </td>
                                <td>
                                    <div class="ms-2">
                                        <input type="radio" class="btn-check" name="options-outlined"
                                            (click)="onFIleSwitch(i, 'APPROVE')" id="btn-approve-toggle"
                                            autocomplete="off" checked>
                                        <label class="btn btn-sm btn-soft-success"
                                            for="btn-approve-toggle">Terima</label>

                                        <input type="radio" class="btn-check" name="options-outlined"
                                            (click)="onFIleSwitch(i, 'REJECT')" id="btn-reject-toggle"
                                            autocomplete="off">
                                        <label class="btn btn-sm btn-soft-danger" for="btn-reject-toggle">Tolak</label>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </div>
                    <div *ngIf="isApproveEnable" class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">Surat Undangan</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" (change)="onFileChange($event)"
                                name=" fileSuratUndangan">
                        </div>
                    </div>
                    <div class="text-center float-end">
                        <button *ngIf="isApproveEnable" type="submit" class="btn btn-sm btn-success me-2"
                            (click)="submitFl2(true)">Terima</button>
                        <button type="submit" class="btn btn-sm btn-danger" (click)="submitFl2(false)">Tolak</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf=" pendingTask.flowId=='for_flow_3'">
    <div class=" card">
        <div class="card-header">
            <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0 flex-nowrap mt-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#Verifikasi" role="tab">
                        <i class=" las la-user-graduate"></i>
                        Proses Verifikasi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#Rekomendasi" role="tab">
                        <i class=" las la-sort-up"></i>
                        Proses Rekomendasi Formasi
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="Verifikasi" role="tabpanel">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Proses Verifikasi</h4>
                            <div class="flex-shrink-0">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row border-bottom">
                                <label for="" class="col-sm-2 col-form-label fw-bold">Unit Kerja</label>
                                <div class="col-sm-10">
                                    <p><b>{{unitKerja.name}}</b></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <label for="" class="col-sm-2 col-form-label fw-bold">Alamat</label>
                                <div class="col-sm-10">
                                    <p><b>{{unitKerja.alamat}}</b></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <label for="" class="col-sm-2 col-form-label fw-bold">Email</label>
                                <div class="col-sm-10">
                                    <p><b>{{unitKerja.email}}</b></p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <label for="" class="col-sm-2 col-form-label fw-bold">Phone</label>
                                <div class="col-sm-10">
                                    <p><b>{{unitKerja.phone}}</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngFor="let formasi of this.formasiList">
                    <div class="col-lg-12 row">
                        <div *ngIf="formasi.jabatanCode == 'JB11'" class="col-xl-4">
                            <div class="card card-animate"
                                [routerLink]="'/formasi/formasi-task-list/jabatan/'+formasi.unitKerjaId+'/'+formasi.jabatanCode">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                                <i data-feather="briefcase" class="text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden ms-3">
                                            <div class="d-flex align-items-center mb-3">
                                                <h4 class="flex-grow-1 mb-0"><span class="counter-value">Penera</span>
                                                </h4>
                                                <span class="badge bg-warning-subtle text-warning fs-12"><i
                                                        class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="formasi.jabatanCode == 'JB10'" class="col-xl-4">
                            <div class="card card-animate"
                                [routerLink]="'/formasi/formasi-task-list/jabatan/'+formasi.unitKerjaId+'/'+formasi.jabatanCode">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                                <i data-feather="briefcase" class="text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden ms-3">
                                            <div class="d-flex align-items-center mb-3">
                                                <h4 class="flex-grow-1 mb-0"><span class="counter-value">Pengamat
                                                        Tera</span>
                                                </h4>
                                                <span class="badge bg-warning-subtle text-warning fs-12"><i
                                                        class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="formasi.jabatanCode == 'JB9'" class="col-xl-4">
                            <div class="card card-animate"
                                [routerLink]="'/formasi/formasi-task-list/jabatan/'+formasi.unitKerjaId+'/'+formasi.jabatanCode">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                                <i data-feather="briefcase" class="text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden ms-3">
                                            <div class="d-flex align-items-center mb-3">
                                                <h4 class="flex-grow-1 mb-0"><span class="counter-value">Pengawas
                                                        Kemetrologian</span>
                                                </h4>
                                                <span class="badge bg-warning-subtle text-warning fs-12"><i
                                                        class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="formasi.jabatanCode == 'JB7'" class="col-xl-4">
                            <div class="card card-animate"
                                [routerLink]="'/formasi/formasi-task-list/jabatan/'+formasi.unitKerjaId+'/'+formasi.jabatanCode">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                                <i data-feather="briefcase" class="text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden ms-3">
                                            <div class="d-flex align-items-center mb-3">
                                                <h4 class="flex-grow-1 mb-0"><span class="counter-value">Penguji Mutu
                                                        Barang</span>
                                                </h4>
                                                <span class="badge bg-warning-subtle text-warning fs-12"><i
                                                        class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="formasi.jabatanCode == 'JB4'" class="col-xl-4">
                            <div class="card card-animate"
                                [routerLink]="'/formasi/formasi-task-list/jabatan/'+formasi.unitKerjaId+'/'+formasi.jabatanCode">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                                <i data-feather="briefcase" class="text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden ms-3">
                                            <div class="d-flex align-items-center mb-3">
                                                <h4 class="flex-grow-1 mb-0"><span class="counter-value">Pengawas
                                                        Perdagangan</span>
                                                </h4>
                                                <span class="badge bg-warning-subtle text-warning fs-12"><i
                                                        class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="formasi.jabatanCode == 'JB1'" class="col-xl-4">
                            <div class="card card-animate"
                                [routerLink]="'/formasi/formasi-task-list/jabatan/'+formasi.unitKerjaId+'/'+formasi.jabatanCode">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                                <i data-feather="briefcase" class="text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden ms-3">
                                            <div class="d-flex align-items-center mb-3">
                                                <h4 class="flex-grow-1 mb-0"><span class="counter-value">Analis
                                                        Perdagangan</span>
                                                </h4>
                                                <span class="badge bg-warning-subtle text-warning fs-12"><i
                                                        class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="tab-pane" id="Rekomendasi" role="tabpanel">
            <div class="row col-lg-8">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Proses Rekomendasi Formasi</h4>
                        <div class="flex-shrink-0">
                        </div>
                    </div>
                    <div class="card-body">
                        <form (submit)="submitFl3()">
                            <div class="row mb-3">
                                <label for="" class="col-sm-2 col-form-label fw-bold">Rekomendasi Formasi</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" id="emailInput" placeholder="Masukkan KTP"
                                        (change)="onFileChange($event)" name="file_ktp">
                                </div>
                            </div>
                            <div class="text-center float-end">
                                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>