<form (ngSubmit)="submit()" [formGroup]="kompetensiForm">
    <div class="mb-3">
        <label class="form-label fw-bold" for="code"
            >Kode <span class="text-danger">*</span></label
        >
        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="code"
            id="code"
            placeholder="Masukan kode kompetensi"
            type="text"
        />
        <div
            *ngIf="getErrorMessage('code', 'Kode kompetensi') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="name"
            >Nama Kompetensi <span class="text-danger">*</span></label
        >

        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="name"
            id="name"
            name="name"
            placeholder="Masukan nama kompetensi"
            type="text"
        />
        <div
            *ngIf="getErrorMessage('name', 'Nama kompetensi') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="level"
            >Level <span class="text-danger">*</span></label
        >

        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="level"
            id="level"
            name="level"
            placeholder="Masukan level kompetensi"
            type="text"
        />
        <div
            *ngIf="
                        getErrorMessage('level', 'Level kompetensi') as error
                    "
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="description"
            >Deskripsi <span class="text-danger">*</span></label
        >

        <textarea
            appInvalidOnTouch
            class="form-control"
            formControlName="description"
            id="description"
            name="description"
            placeholder="Masukan deskripsi kompetensi"
            rows="3"
        ></textarea>
        <div
            *ngIf="
                        getErrorMessage(
                            'description',
                            'Deskripsi kompetensi'
                        ) as error
                    "
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="jabatan_code"
            >Jabatan <span class="text-danger">*</span></label
        >

        <select
            appInvalidOnTouch
            class="form-select"
            formControlName="jabatan_code"
            id="jabatan_code"
            name="jabatan_code"
        >
            <option hidden selected value="">Pilih Jabatan</option>
            <option
                *ngFor="let jabatan of jabatanList$ | async"
                [value]="jabatan.code"
            >
                {{ jabatan.name }}
            </option>
        </select>
        <div
            *ngIf="getErrorMessage('jabatan_code', 'Jabatan') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="jenjang_code"
            >Jenjang <span class="text-danger">*</span></label
        >

        <select
            appInvalidOnTouch
            class="form-select"
            formControlName="jenjang_code"
            id="jenjang_code"
            name="jenjang_code"
        >
            <option hidden selected value="">Pilih Jenjang</option>
            <ng-container
                *ngIf="
                            (jenjangList$ | async)?.length;
                            else jabatanNotSelected
                        "
            >
                <option
                    *ngFor="let jenjang of jenjangList$ | async"
                    [value]="jenjang.code"
                >
                    {{ jenjang.name }}
                </option>
            </ng-container>
            <ng-template #jabatanNotSelected>
                <option disabled>Pilih Jabatan terlebih dahulu</option>
            </ng-template>
        </select>
        <div
            *ngIf="getErrorMessage('jenjang_code', 'Jenjang') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div *ngIf="(bidangJabatanList$ | async)?.length" class="mb-3">
        <label class="form-label fw-bold" for="bidang_jabatan_code"
            >Bidang Jabatan
        </label>

        <select
            appInvalidOnTouch
            class="form-select"
            formControlName="bidang_jabatan_code"
            id="bidang_jabatan_code"
            name="bidang_jabatan_code"
        >
            <option [ngValue]="null" selected>Pilih Bidang Jabatan</option>
            <option
                *ngFor="let bidang of bidangJabatanList$ | async"
                [value]="bidang.code"
            >
                {{ bidang.name }}
            </option>
        </select>
        <div
            *ngIf="
                        getErrorMessage(
                            'bidang_jabatan_code',
                            'Bidang Jabatan'
                        ) as error
                    "
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="text-center">
        <ng-container *ngIf="submitLoading$ | async; else noLoading">
            <button class="btn btn-success float-end" disabled>
                <div class="spinner-border spinner-sm-custom" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </ng-container>
        <ng-template #noLoading>
            <button
                [disabled]="
                            kompetensiForm.invalid || (submitLoading$ | async)
                        "
                class="btn btn-success float-end"
                type="submit"
            >
                Simpan
            </button>
        </ng-template>
    </div>
</form>
