<form (submit)="submit()">
  <!-- <div
    *ngFor="let formasiDokumen of formasiDokumenList; index as i"
    class="row mb-3"
  >
    <label for="" class="col-sm-2 col-form-label fw-bold">{{
      formasiDokumen.dokumenName
    }}</label>
    <div class="col-sm-10">
      <tr>
        <td class="w-75">
          <input
            type="file"
            class="form-control"
            (change)="onFileChange($event, i)"
            [(ngModel)]="formasiDokumen.file_url"
            name=" file"
          />
        </td>
        <td *ngIf="formasiDokumen.file_url">
          <a class="btn btn-sm btn-info ms-2">lihat</a>
        </td>
      </tr>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-12">
      <app-file-handler [inputs]="inputs"></app-file-handler>
    </div>

    <div class="text-center col">
      <button
        type="submit"
        class="btn btn-success float-end"
        [disabled]="isAnyFileMissing()"
      >
        Simpan
      </button>
    </div>
  </div>
</form>
