.feedback {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.text-subtitle {
  opacity: 0.6;
}

main {
  background-color: #13182b;
  /* SVG pattern overlay */
  background-image: url('/assets/wave.svg');

  /* Cover styling */
  background-size: contain;
  background-repeat: repeat;
  background-blend-mode: overlay;
}

.grad-button {
  color: white !important;
  background: linear-gradient(45deg, #2967be, #49ab49) !important;
  border: none !important;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(90deg, #49ab49, #2967be) !important;
  }
}

.w-fit {
  width: fit-content;
}

re-captcha.is-invalid > div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}
