<ng-container>
  <div
    *ngIf="FormulaDetailLoading$ | async; else formulaHadItem"
    class="d-flex justify-content-center my-5"
  >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <ng-template #formulaHadItem>
    <div class="p-0 d-flex flex-column flex-xl-row gap-3">
      <div class="card flex-grow-1 m-0 detail-jf">
        <div class="card-header">
          <h5 class="m-0">
            <i class="mdi mdi-account me-2"></i> Informasi Detail Formula
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label class="form-label">Persentase CAT</label>
              <p>{{ FormulaDetail.catPercentage }}%</p>
            </div>
            <div class="col-md-6 mb-2">
              <label class="form-label"> Persentase Wawancara </label>
              <p>{{ FormulaDetail.wawancaraPercentage }}%</p>
            </div>
            <div class="col-md-6 mb-2">
              <label class="form-label"> Persentase Praktik </label>
              <p>{{ FormulaDetail.praktikPercentage }}%</p>
            </div>
            <div class="col-md-6 mb-2">
              <label class="form-label"> Persentase Portofolio </label>
              <p>{{ FormulaDetail.portofolioPercentage }}%</p>
            </div>
            <div class="col-md-6 mb-2">
              <label class="form-label"> Ambang Batas Nilai </label>
              <p>{{ FormulaDetail.gradeThreshold }}</p>
            </div>
            <div class="col-md-6 mb-2">
              <label class="form-label"> Ambang Batas UKT </label>
              <p>{{ FormulaDetail.uktThreshold }}</p>
            </div>
            <div class="col-md-6 mb-2">
              <label class="form-label"> Ambang Batas JPM </label>
              <p>{{ FormulaDetail.jpmThreshold }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card flex-grow-1 m-0 detail-atasan">
        <div class="card-header">
          <h5 class="m-0">
            <i class="mdi mdi-account-multiple me-2"></i> Informasi Jabatan
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-2">
              <label class="form-label"> Jabatan </label>
              <p>{{ (filteredJabatan$ | async)?.name || '-' }}</p>
            </div>
            <div class="col-12 mb-2">
              <label class="form-label"> Jenjang </label>
              <p>{{ (filteredJenjang$ | async)?.name || '-' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
