<div class="card">
  <div class="card-body">
    <!-- <form (submit)="submit()"> -->
    <form (ngSubmit)="submit()" [formGroup]="passwordForm">
      <div class="row">
        <div class="col-lg-12 row">
          <div class="col-lg-6 mb-3">
            <label for="firstnameInput" class="form-label">
              Mengikuti Uji Kompetensi Jenis ?
              <span class="text-danger">*</span>
            </label>
            <select
              class="form-select"
              (change)="onJenisUkomSwitch($event)"
              name="jabatanCode"
            >
              <option [value]="" selected disabled style="display: none">
                Pilih Jenis UKom
              </option>
              <option [value]="'KENAIKAN_JENJANG'">Kenaikan Jenjang</option>
              <option [value]="'PERPINDAHAN_JABATAN'">
                Perpindahan Jabatan
              </option>
            </select>
          </div>
        </div>

        <div class="mb-3">
          <label for="statusPendaftaran" class="form-label">
            Status Pendaftaran <span class="text-danger">*</span>
          </label>
          <select
            class="form-select"
            id="statusPendaftaran"
            formControlName="statusPendaftaran"
          >
            <option value="" disabled selected style="display: none">
              Pilih Status Pendaftaran
            </option>
            <option value="baru">Baru</option>
            <option value="mengulang">Mengulang</option>
          </select>

          <div
            *ngIf="getErrorMessage('statusPendaftaran', 'Status Pendaftaran')"
            class="text-danger"
          >
            {{ getErrorMessage('statusPendaftaran', 'Status Pendaftaran') }}
          </div>
        </div>

        <div
          *ngIf="pesertaUkom.jenis_ukom == 'KENAIKAN_JENJANG'"
          class="col-lg-12 row"
        >
          <div class="col-lg-6 mb-3">
            <label for="firstnameInput" class="form-label">
              Jenjang Yang Di Tuju <span class="text-danger">*</span>
            </label>
            <p>{{ nextJenjang.name }}</p>
          </div>
        </div>

        <div
          *ngIf="pesertaUkom.jenis_ukom == 'PERPINDAHAN_JABATAN'"
          class="col-lg-12 row"
        >
          <div class="col-lg-6 mb-3">
            <label for="nextjabatan" class="form-label">
              Jabatan Yang Di Tuju <span class="text-danger">*</span>
            </label>
            <select
              class="form-select"
              name="nextJabatanCode"
              (change)="onNextJabatanSwitch($event)"
            >
              <option [value]="" selected disabled style="display: none">
                Pilih Jabatan Yang Di Tuju
              </option>
              <option
                *ngFor="let jabatan of jabatanList"
                [value]="jabatan.code"
              >
                {{ jabatan.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <app-file-handler [inputs]="inputs"></app-file-handler>
          </div>
        </div>

        <div *ngIf="pesertaUkom.jenis_ukom" class="col-lg-12">
          <div class="mb-3 col-lg-6">
            <label for="password" class="form-label"
              >Password <span class="text-danger">*</span></label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              required
              formControlName="password"
            />
            <div
              *ngIf="
                passwordForm.get('password')?.invalid &&
                (passwordForm.get('password')?.touched ||
                  passwordForm.get('password')?.dirty)
              "
              class="text-danger"
            >
              Password tidak boleh kosong.
            </div>
            <div
              *ngIf="
      passwordForm.get('password')?.errors?.['minlength'] &&
      (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty)
    "
              class="text-danger"
            >
              Password minimal 8 karakter.
            </div>
          </div>

          <div class="mb-3 col-lg-6">
            <label for="confirmPassword" class="form-label"
              >Konfirmasi Password <span class="text-danger">*</span></label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              required
              formControlName="confirmPassword"
            />
            <div
              *ngIf="
                passwordForm.get('confirmPassword')?.hasError('required') &&
                (passwordForm.get('confirmPassword')?.touched ||
                  passwordForm.get('confirmPassword')?.dirty)
              "
              class="text-danger"
            >
              Konfirmasi Password tidak boleh kosong.
            </div>
            <div
              *ngIf="
                passwordForm.get('confirmPassword')?.hasError('mismatch') &&
                (passwordForm.get('confirmPassword')?.touched ||
                  passwordForm.get('confirmPassword')?.dirty)
              "
              class="text-danger"
            >
              Password dan Konfirmasi Password tidak cocok.
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!passwordForm.valid || isAnyFileMissing()"
              *ngIf="!(hadItemsLoading$ | async)"
            >
              Simpan
            </button>

            <button
              *ngIf="hadItemsLoading$ | async"
              class="btn btn-success"
              disabled
            >
              <div
                class="spinner-border"
                style="width: 19px; height: 19px"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
