<div class="card">
    <div class="card-body">
        <form (ngSubmit)="submit()" [formGroup]="passwordForm">
            <div class="row">
                <div class="col-lg-12 row">
                    <div class="col-lg-6 mb-3">
                        <label for="jenis_ukom" class="form-label">
                            Mengikuti Uji Kompetensi Jenis?
                            <span class="text-danger">*</span>
                        </label>
                        <select
                            class="form-select"
                            id="jenis_ukom"
                            name="jenis_ukom"
                            formControlName="jenis_ukom"
                        >
                            <option
                                value=""
                                selected
                                disabled
                                style="display: none"
                            >
                                Pilih Jenis UKom
                            </option>
                            <option [value]="'KENAIKAN_JENJANG'">
                                Kenaikan Jenjang
                            </option>
                            <option [value]="'PERPINDAHAN_JABATAN'">
                                Perpindahan Jabatan
                            </option>
                            <option [value]="'PROMOSI_JF'">
                                Promosi Jabatan Fungsional
                            </option>
                        </select>

                        <div
                            *ngIf="
                                getErrorMessage(
                                    'jenis_ukom',
                                    'Jenis UKom'
                                ) as error
                            "
                            class="text-danger"
                        >
                            {{ error }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 row">
                    <div class="col-lg-6 mb-3">
                        <div class="mb-3"></div>
                        <label for="isMengulang" class="form-label">
                            Status Pendaftaran
                            <span class="text-danger">*</span>
                        </label>
                        <select
                            class="form-select"
                            id="isMengulang"
                            formControlName="isMengulang"
                        >
                            <option
                                value=""
                                disabled
                                selected
                                style="display: none"
                            >
                                Pilih Status Pendaftaran
                            </option>
                            <option value="false">Baru</option>
                            <option value="true">Mengulang</option>
                        </select>

                        <div
                            *ngIf="
                                getErrorMessage(
                                    'isMengulang',
                                    'Status Pendaftaran'
                                ) as error
                            "
                            class="text-danger"
                        >
                            {{ error }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 row">
                    <div class="col-lg-6 mb-3">
                        <label for="next_jabatan_code" class="form-label">
                            Jabatan Yang Di Tuju
                            <span class="text-danger">*</span>
                        </label>
                        <select
                            class="form-select"
                            name="next_jabatan_code"
                            id="next_jabatan_code"
                            formControlName="next_jabatan_code"
                            [disabled]="
                                passwordForm.get('jenis_ukom')?.value ===
                                'KENAIKAN_JENJANG'
                            "
                        >
                            <option value="" selected style="display: none">
                                Pilih Jabatan Yang Di Tuju
                            </option>
                            <option
                                *ngFor="let jabatan of jabatanList"
                                [value]="jabatan.code"
                            >
                                {{ jabatan.name }}
                            </option>
                        </select>
                        <div
                            *ngIf="
                                getErrorMessage(
                                    'next_jabatan_code',
                                    'Jabatan Yang Di Tuju'
                                ) as error
                            "
                            class="text-danger"
                        >
                            {{ error }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 row">
                    <div class="col-lg-6 mb-3">
                        <label for="next_jenjang_code" class="form-label">
                            Jenjang Yang Di Tuju
                            <span class="text-danger">*</span>
                        </label>
                        <select
                            class="form-select"
                            name="next_jenjang_code"
                            id="next_jenjang_code"
                            formControlName="next_jenjang_code"
                            [disabled]="
                                passwordForm.get('jenis_ukom')?.value ===
                                'KENAIKAN_JENJANG'
                            "
                        >
                            <option value="" selected style="display: none">
                                Pilih Jenjang Yang Di Tuju
                            </option>
                            <option
                                *ngFor="let jenjang of jenjangList"
                                [value]="jenjang.code"
                            >
                                {{ jenjang.name }}
                            </option>
                        </select>
                        <div
                            *ngIf="
                                getErrorMessage(
                                    'next_jenjang_code',
                                    'Jabatan Yang Di Tuju'
                                ) as error
                            "
                            class="text-danger"
                        >
                            {{ error }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 row">
                    <div class="col-lg-6 mb-3">
                        <div
                            class="mb-3"
                            *ngIf="(bidangJabatanList$ | async)?.length > 0"
                        >
                            <label for="bidang_jabatan_code" class="form-label"
                                >Bidang Jabatan Yang Dituju
                                <span class="text-danger">*</span></label
                            >
                            <select
                                class="form-select"
                                name="bidang_jabatan_code"
                                id="bidang_jabatan_code"
                                formControlName="bidang_jabatan_code"
                            >
                                <option selected value="" style="display: none">
                                    Pilih Bidang Jabatan Yang Dituju
                                </option>

                                <option
                                    *ngFor="
                                        let bidangJabatan of bidangJabatanList$
                                            | async
                                    "
                                    [value]="bidangJabatan.code"
                                >
                                    {{ bidangJabatan.name }}
                                </option>
                            </select>
                            <div
                                *ngIf="
                                    getErrorMessage(
                                        'bidang_jabatan_code',
                                        'Bidang Jabatan Yang Dituju'
                                    ) as error
                                "
                                class="text-danger"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 row">
                    <div class="col-lg-6 mb-3">
                        <div class="mb-3">
                            <label for="no_surat_usulan" class="form-label"
                                >Nomor Surat Usulan
                                <span class="text-danger">*</span></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="no_surat_usulan"
                                required
                                formControlName="no_surat_usulan"
                            />
                            <div
                                *ngIf="
                                    getErrorMessage(
                                        'no_surat_usulan',
                                        'Nomor Surat Usulan'
                                    ) as error
                                "
                                class="text-danger"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 row">
                    <div class="col-lg-6 mb-3">
                        <div class="mb-3">
                            <label for="tglSuratUsulan" class="form-label"
                                >Tanggal Surat Usulan
                                <span class="text-danger">*</span></label
                            >
                            <input
                                type="date"
                                class="form-control"
                                id="tglSuratUsulan"
                                required
                                formControlName="tglSuratUsulan"
                            />
                            <div
                                *ngIf="
                                    getErrorMessage(
                                        'tglSuratUsulan',
                                        'Tanggal Surat Usulan'
                                    ) as error
                                "
                                class="text-danger"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <app-file-handler [inputs]="inputs"></app-file-handler>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mb-3 col-lg-6">
                        <label for="password" class="form-label"
                            >Password <span class="text-danger">*</span></label
                        >
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            required
                            formControlName="password"
                        />
                        <div
                            *ngIf="
                                getErrorMessage('password', 'Password') as error
                            "
                            class="text-danger"
                        >
                            {{ error }}
                        </div>
                    </div>

                    <div class="mb-3 col-lg-6">
                        <label for="confirmPassword" class="form-label"
                            >Konfirmasi Password
                            <span class="text-danger">*</span></label
                        >
                        <input
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            required
                            formControlName="confirmPassword"
                        />
                        <div
                            *ngIf="
                                getErrorMessage(
                                    'confirmPassword',
                                    'Komfirmasi Password'
                                ) as error
                            "
                            class="text-danger"
                        >
                            {{ error }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="hstack gap-2 justify-content-end">
                        <button
                            type="submit"
                            class="btn btn-success"
                            [disabled]="
                                !passwordForm.valid || isAnyFileMissing()
                            "
                            *ngIf="!(hadItemsLoading$ | async)"
                        >
                            Simpan
                        </button>

                        <button
                            *ngIf="hadItemsLoading$ | async"
                            class="btn btn-success"
                            disabled
                        >
                            <div
                                class="spinner-border"
                                style="width: 19px; height: 19px"
                                role="status"
                            >
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
