<form (submit)="submit()">
    <div class="col-lg-12 mb-3">
        <label for="firstnameInput" class="form-label">
            Pilih Ukom Untuk Dinilai
        </label>
        <select class="form-select" [(ngModel)]="gradeImport.ukomId" name="ukomId">
            <option [value]="undefined">Pilih</option>
            <option *ngFor="let ukom of ukomList" [value]="ukom.id">
                UKom {{ukom.startDate}} - {{ukom.endDate}}
            </option>
        </select>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <app-file-handler [inputs]="inputs"></app-file-handler>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <button type="submit" class="btn btn-sm btn-success float-end" (click)="submit()">Import</button>
        </div>
    </div>
</form>