.inactive {
    background-color: #e9edf0;
    color: #9ea4ac;

    &:hover {
        background-color: #dbdfe4;
    }
}

.card {
    overflow: hidden;
    box-shadow: none;
    border: 1px solid rgb(221, 225, 229) !important;

    .card-body {
        padding-top: 0 !important;
    }

}