<form (ngSubmit)="submit()" [formGroup]="form">
    <div class="mb-3">
        <label class="form-label fw-bold" for="angkaKreditThreshold">
            Angka Kredit Threshold <span class="text-danger">*</span>
        </label>
        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="angkaKreditThreshold"
            id="angkaKreditThreshold"
            placeholder="Angka Kredit Threshold"
            type="number"
        />
        <div
            *ngIf="getError('angkaKreditThreshold', 'Angka Kredit Threshold') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="lastNYear">
            N Tahun Terakhir <span class="text-danger">*</span>
        </label>
        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="lastNYear"
            id="lastNYear"
            placeholder="N Tahun Terakhir"
            type="number"
        />
        <div
            *ngIf="getError('lastNYear', 'N Tahun Terakhir') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="ratingHasilId">
            Rating Hasil Kinerja <span class="text-danger">*</span>
        </label>
        <select
            appInvalidOnTouch
            class="form-select"
            formControlName="ratingHasilId"
            id="ratingHasilId"
        >
            <option [ngValue]="''" disabled hidden selected>
                Pilih Rating Hasil Kinerja
            </option>
            <ng-container
                *ngIf="(kinerjaService.ratingKinerjaList$ | async) as ratings"
            >
                <ng-container *ngIf="ratings.length > 0; else noRatings">
                    <option *ngFor="let rating of ratings" [value]="rating.id">
                        {{ rating.name }}
                    </option>
                </ng-container>
            </ng-container>
            <ng-template #noRatings>
                <option disabled>Tidak ada data</option>
            </ng-template>
        </select>
        <div
            *ngIf="getError('ratingHasilId', 'Rating Hasil') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="ratingKinerjaId">
            Rating Perilaku Kinerja <span class="text-danger">*</span>
        </label>
        <select
            appInvalidOnTouch
            class="form-select"
            formControlName="ratingKinerjaId"
            id="ratingKinerjaId"
        >
            <option [ngValue]="''" disabled hidden selected>
                Pilih Rating Perilaku Kinerja
            </option>
            <ng-container
                *ngIf="(kinerjaService.ratingKinerjaList$ | async) as ratings; else noRatings"
            >
                <option *ngFor="let rating of ratings" [value]="rating.id">
                    {{ rating.name }}
                </option>
            </ng-container>
            <ng-template #noRatings>
                <option disabled>Tidak ada data</option>
            </ng-template>
        </select>
        <div
            *ngIf="getError('ratingKinerjaId', 'Rating Kinerja') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="predikatKinerjaId">
            Predikat Kinerja <span class="text-danger">*</span>
        </label>
        <select
            appInvalidOnTouch
            class="form-select"
            formControlName="predikatKinerjaId"
            id="predikatKinerjaId"
        >
            <option [ngValue]="''" disabled hidden selected>
                Pilih Predikat Kinerja
            </option>
            <ng-container
                *ngIf="(kinerjaService.predikatKinerjaList$ | async) as ratings"
            >
                <ng-container *ngIf="ratings.length > 0; else noRatings">
                    <option *ngFor="let rating of ratings" [value]="rating.id">
                        {{ rating.name }}
                    </option>
                </ng-container>
            </ng-container>
            <ng-template #noRatings>
                <option disabled>Tidak ada data</option>
            </ng-template>
        </select>
        <div
            *ngIf="getError('predikatKinerjaId', 'Predikat Kinerja') as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <app-loading-button
            [className]="'btn btn-primary'"
            [disabled]="form.invalid"
            [isLoading]="ukomRegistrationRuleService.updateRuleLoading$ | async"
            [label]="'Update'"
            [type]="'submit'"
        >
        </app-loading-button>
    </div>
</form>
