<div class="row">
  <div class="col-12">
    <form [formGroup]="updateBidangJabatanForm">
      <div class="mb-3">
        <label for="name" class="form-label">
          Nama <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          formControlName="name"
        />
        <div
          *ngIf="getErrorMessage('name', 'Nama') as error"
          class="text-danger"
        >
          {{ error }}
        </div>
      </div>

      <ng-container *ngIf="submitLoading$ | async; else noLoading">
        <button class="btn btn-success w-100" disabled>
          <div
            class="spinner-border"
            style="width: 19px; height: 19px"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </ng-container>
      <ng-template #noLoading>
        <button
          type="button"
          class="btn btn-success w-100"
          [disabled]="
            updateBidangJabatanForm.invalid || (submitLoading$ | async)
          "
          (click)="onSubmit()"
        >
          Simpan
        </button>
      </ng-template>
    </form>
  </div>
</div>
