<app-pagable *ngIf="!isDetailOpen" [pagable]="pagable"></app-pagable>
<form *ngIf="isDetailOpen" (submit)="submit()">
    <div *ngIf="pendingTask.remark" class="alert alert-warning" role="alert">
        {{pendingTask.remark}}
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="lastnameInput" class="form-label">
                    Nama Kompetensi
                </label>
                <input type="text" class="form-control" [(ngModel)]="rwKompetensi.name" name="name"
                    placeholder="Masukan nama Kompetensi">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="firstnameInput" class="form-label">
                    Pangkat
                </label>
                <select class="form-select" [(ngModel)]="rwKompetensi.kategoriPengembanganId"
                    name="kategoriPengembanganId">
                    <option [value]="undefined">Pilih</option>
                    <option *ngFor="let kategoriPengembangan of kategoriPengembanganList"
                        [value]="kategoriPengembangan.id">
                        {{kategoriPengembangan.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="lastnameInput" class="form-label">
                    Tanggal Mulai
                </label>
                <input type="date" class="form-control" [(ngModel)]="rwKompetensi.dateStart" name="dateStart">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="lastnameInput" class="form-label">
                    Tanggal Mulai
                </label>
                <input type="date" class="form-control" [(ngModel)]="rwKompetensi.dateEnd" name="dateEnd">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="lastnameInput" class="form-label">
                    Tanggal Sertifikat
                </label>
                <input type="date" class="form-control" [(ngModel)]="rwKompetensi.tglSertifikat" name="tglSertifikat">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="emailInput" class="form-label">
                    File :
                </label>
            </div>
            <div class="row">
                <app-file-handler [inputs]="inputs"></app-file-handler>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-sm btn-soft-warning me-2" (click)="back()">Kembali</button>
                <button type="submit" class="btn btn-sm btn-soft-success">Simpan</button>
            </div>
        </div>
    </div>
</form>