<app-pagable *ngIf="!isDetailOpen" [pagable]="pagable"></app-pagable>
<div *ngIf="rwKompetensiLoading$ | async; else akpHadItem" class="d-flex justify-content-center my-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ng-template #akpHadItem>
    <form *ngIf="isDetailOpen" [formGroup]="rwKompetensiForm" (ngSubmit)="submit()">
        <div *ngIf="pendingTask.remark" class="alert alert-warning" role="alert">
            <strong>Catatan Revisi : </strong>"{{pendingTask.remark}}"
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="name" class="form-label">
                        Nama Kompetensi <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" name="name" id="name" formControlName="name"
                        placeholder="Masukan nama Kompetensi">
                        <div class="feedback"
                        *ngIf="rwKompetensiForm.get('name').invalid && rwKompetensiForm.get('name').touched">
                        <small *ngIf="rwKompetensiForm.get('name').errors?.['required']">Nama kompetensi perlu
                            diisi.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="kategoriPengembanganId" class="form-label">
                        Kategori Pengembangan <span class="text-danger">*</span>
                    </label>
                    <select disabled *ngIf="!kategoriPengembanganList || (kategoriPengembanganLoading$ | async)" class="form-select">
                        <option selected value="" style=" display: none;">Pilih Kategori Pengembangan</option>
                    </select>
                    <select *ngIf="kategoriPengembanganList && !(kategoriPengembanganLoading$ | async)" class="form-select" id="kategoriPengembanganId" formControlName="kategoriPengembanganId"
                        name="kategoriPengembanganId">
                        <option selected value="" style=" display: none;">Pilih Kategori Pengembangan</option>
                        <option *ngFor="let kategoriPengembangan of kategoriPengembanganList"
                            [value]="kategoriPengembangan.id">
                            {{kategoriPengembangan.name}}
                        </option>
                    </select>
                    <div class="feedback"
                    *ngIf="rwKompetensiForm.get('kategoriPengembanganId').invalid && rwKompetensiForm.get('kategoriPengembanganId').touched">
                    <small *ngIf="rwKompetensiForm.get('kategoriPengembanganId').errors?.['required']">Kategori pengembangan perlu
                        dipilih.</small>
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="dateStart" class="form-label">
                        Tanggal Mulai <span class="text-danger">*</span>
                    </label>
                    <input type="date" class="form-control" name="dateStart" id="dateStart" formControlName="dateStart" >
                    <div class="feedback"
                        *ngIf="rwKompetensiForm.get('dateStart').invalid && rwKompetensiForm.get('dateStart').touched">
                        <small *ngIf="rwKompetensiForm.get('dateStart').errors?.['required']">Tanggal mulai perlu
                            dipilih.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="dateEnd" class="form-label">
                        Tanggal Berakhir <span class="text-danger">*</span>
                    </label>
                    <input type="date" class="form-control" name="dateEnd" id="dateEnd" formControlName="dateEnd">
                    <div class="feedback"
                        *ngIf="rwKompetensiForm.get('dateEnd').invalid && rwKompetensiForm.get('dateEnd').touched">
                        <small *ngIf="rwKompetensiForm.get('dateEnd').errors?.['required']">Tanggal berakhir perlu
                            dipilih.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="lastnameInput" class="form-label">
                        Tanggal Sertifikat <span class="text-danger">*</span>
                    </label>
                    <input type="date" class="form-control"name="tglSertifikat" id="tglSertifikat" formControlName="tglSertifikat" >
                    <div class="feedback"
                        *ngIf="rwKompetensiForm.get('tglSertifikat').invalid && rwKompetensiForm.get('tglSertifikat').touched">
                        <small *ngIf="rwKompetensiForm.get('tglSertifikat').errors?.['required']">Tanggal sertifikat perlu
                            dipilih.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <app-file-handler [inputs]="inputs"></app-file-handler>
                    <div class="feedback"
                        *ngIf="rwKompetensiForm.get('fileSertifikat').invalid">
                        <small *ngIf="rwKompetensiForm.get('fileSertifikat').errors?.['required']">File dokumen sertifikat perlu
                            diunggah.</small>
                        <small *ngIf="rwKompetensiForm.get('fileSertifikat')?.hasError('invalidFileType')">File dokumen sertifikat harus
                            format .pdf</small>
                        <div *ngIf="rwKompetensiForm.get('fileSertifikat')?.hasError('fileTooLarge')">File dokumen sertifikat lebih dari 2MB.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-soft-secondary" (click)="back()">Kembali</button>
                    <ng-container *ngIf="(submitLoading$ | async) else noLoading">
                        <button class="btn btn-primary" disabled>
                            <div class="spinner-border" style="width: 19px; height: 19px;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </ng-container>
                    <ng-template #noLoading>
                        <button type="submit" class="btn btn-primary"
                            [disabled]="rwKompetensiForm.invalid || (submitLoading$ | async)">Simpan</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </form>
</ng-template>