.card-profile {
    background-color: #13182B;
     /* SVG pattern overlay */
     background-image: 
     url('/assets/sun.svg');

     /* Cover styling */
     background-size: contain;
     background-repeat: repeat;
     background-blend-mode: overlay;
}

.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: rgb(64, 145, 203)!important;
}
.bg-soft-success {
    background-color: rgb(71, 189, 154)!important;
}
.bg-soft-danger {
    background-color: rgb(231, 76, 94)!important;
}
.bg-soft-warning {
    background-color: rgb(249, 212, 112)!important;
}
.bg-soft-muted {
    background-color: rgb(223, 223, 223)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.stepper-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #e8e8e8;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #e8e8e8;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #d1d1d1;
    margin-bottom: 6px;
    color: white;
    cursor: pointer;
  }
  
  .stepper-item.active .step-counter {
    background-color: #2967be;

    &:hover {
      background-color: #1f5b9b;
    }
  }
  
  .stepper-item.completed .step-counter {
    background-color: #29be58;

    &:hover {
      background-color: #27af52;
    }
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #bbecca;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item.completed:first-child::before {
    border-color: #bbecca;
  }
  .stepper-item:first-child::before {
    border-color: #2967be58;
  }
  .stepper-item:last-child::after {
    // content: none;
  }
  
  /* Tooltip container styling */
.tooltip-container {
    position: relative;
    cursor: pointer;
  }
  
  .tooltip-container::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 0.9rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 69;
  }
  
  .tooltip-container:hover::after {
    opacity: 1;
    visibility: visible;
    margin-bottom: 5px;
  }

