<ng-container *ngIf="(tab$ | async) === 0">
  <app-pagable [pagable]="pagable" [refresh]="refresh"></app-pagable>
</ng-container>
<ng-container *ngIf="(tab$ | async) === 1">
  <app-kab-kota-add (changeTabActive)="handleTabChange(0)"></app-kab-kota-add>
</ng-container>
<app-modal
  *ngIf="isModalOpen$ | async"
  [title]="'Update Data Provinsi'"
  (toggle)="toggleModal()"
  [enableFooter]="false"
  [size]="'lg'"
>
  <app-kab-kota-update
    [id]="updateKabKotaData.id"
    (refreshList)="toggleRefresh()"
  ></app-kab-kota-update>
</app-modal>
