<section>
  <form [formGroup]="kelasForm" (ngSubmit)="submit()">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label fw-bold"
        >Nama <span class="text-danger">*</span></label
      >
      <div class="col-sm-10">
        <input
          type="text"
          id="name"
          class="form-control"
          name="name"
          formControlName="name"
          placeholder="Masukan nama tempat UKom"
        />
        <div
          class="feedback"
          *ngIf="kelasForm.get('name').invalid && kelasForm.get('name').touched"
        >
          <small *ngIf="kelasForm.get('name').errors?.['required']"
            >Nama tempat UKom perlu diisi.</small
          >
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label fw-bold"
        >Jabatan <span class="text-danger">*</span></label
      >
      <div class="col-sm-10">
        <select
          id="jabatan"
          class="form-select"
          name="jabatan"
          formControlName="jabatan"
          (change)="onJabatanSwitch($event)"
        >
          <!-- <option [value]="">Pilih</option> -->
          <option
            *ngFor="let jabatan of jabatanList$ | async"
            [value]="jabatan.code"
          >
            {{ jabatan.name }}
          </option>
        </select>
        <div
          class="feedback"
          *ngIf="
            kelasForm.get('jabatan').invalid && kelasForm.get('jabatan').touched
          "
        >
          <small *ngIf="kelasForm.get('jabatan').errors?.['required']"
            >Jabatan perlu diisi.</small
          >
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label fw-bold"
        >Jenjang <span class="text-danger">*</span></label
      >
      <div class="col-sm-10">
        <select
          id="jenjang"
          class="form-select"
          name="jenjang"
          formControlName="jenjang"
        >
          <option
            *ngFor="let jenjang of jenjangList$ | async"
            [value]="jenjang.code"
          >
            {{ jenjang.name }}
          </option>
        </select>

        <div
          class="feedback"
          *ngIf="
            kelasForm.get('jenjang').invalid && kelasForm.get('jenjang').touched
          "
        >
          <small *ngIf="kelasForm.get('jenjang').errors?.['required']"
            >Jenjang perlu diisi.</small
          >
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label fw-bold"
        >Kuota Peserta <span class="text-danger">*</span></label
      >
      <div class="col-sm-10">
        <input
          type="text"
          id="participant_quota"
          class="form-control"
          name="participant_quota"
          formControlName="participant_quota"
          placeholder="Masukan kuota peserta"
        />
        <div
          class="feedback"
          *ngIf="
            kelasForm.get('participant_quota').invalid &&
            kelasForm.get('participant_quota').touched
          "
        >
          <small *ngIf="kelasForm.get('participant_quota').errors?.['required']"
            >Kuota peserta perlu diisi.</small
          >
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label fw-bold"
        >Link Zoom<span class="text-danger">*</span></label
      >
      <div class="col-sm-10">
        <input
          type="text"
          id="link_zoom"
          class="form-control"
          name="link_zoom"
          formControlName="link_zoom"
          placeholder="Masukan Link Zoom, contoh: https://zoom.us/j/1234567890"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="exam_start_at" class="col-sm-2 col-form-label fw-bold"
        >Waktu Mulai <span class="text-danger">*</span></label
      >
      <div class="col-sm-10">
        <input
          type="datetime-local"
          id="exam_start_at"
          class="form-control"
          name="exam_start_at"
          formControlName="exam_start_at"
        />
        <div
          class="feedback"
          *ngIf="
            kelasForm.get('exam_start_at').invalid &&
            kelasForm.get('exam_start_at').touched
          "
        >
          <small *ngIf="kelasForm.get('exam_start_at').errors?.['required']"
            >Waktu mulai perlu diisi.</small
          >
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="exam_end_at" class="col-sm-2 col-form-label fw-bold"
        >Waktu Selesai <span class="text-danger">*</span></label
      >
      <div class="col-sm-10">
        <input
          type="datetime-local"
          id="exam_end_at"
          class="form-control"
          name="exam_end_at"
          formControlName="exam_end_at"
        />
        <div
          class="feedback"
          *ngIf="
            kelasForm.get('exam_end_at').invalid &&
            kelasForm.get('exam_end_at').touched
          "
        >
          <small *ngIf="kelasForm.get('exam_end_at').errors?.['required']"
            >Waktu selesai perlu diisi.</small
          >
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">
        <ng-container *ngIf="submitLoading$ | async; else noLoading">
          <button class="btn btn-primary float-end" disabled>
            <div
              class="spinner-border"
              style="width: 19px; height: 19px"
              role="status"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </ng-container>
        <ng-template #noLoading>
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="kelasForm.invalid || (submitLoading$ | async)"
          >
            Simpan
          </button>
        </ng-template>
      </div>
    </div>
  </form>
</section>
