<div *ngIf="data" class="ag-theme-alpine">
  <ag-grid-angular
    style="height: 500px"
    [rowData]="data"
    [columnDefs]="colDefs"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [overlayNoRowsTemplate]="
      '<span class=\'no-rows-message\'>Data tidak ditemukan</span>'
    "
  >
  </ag-grid-angular>

  <app-modal
    *ngIf="isModalOpen$ | async"
    [title]="'Aksi Pelatihan'"
    (toggle)="toggleModal()"
    [enableFooter]="false"
  >
    <form>
      <div *ngIf="role.includes('USER_EXTERNAL')">
        <div class="col-lg-12">
          <div class="row">
            <app-file-handler [inputs]="inputs"></app-file-handler>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button
              type="button"
              class="btn btn-success float-end"
              (click)="submit()"
            >
              Import
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-12" *ngIf="role.includes('ADMIN')">
        <div class="row">
          <div class="col-lg-12">
            <div class="category-list">
              <label> Aksi : </label>
              <a
                (click)="action$.next('APPROVE')"
                class="btn"
                [ngClass]="{
                  'btn-success': (action$ | async) === 'APPROVE',
                  'btn-soft-success': (action$ | async) === 'REJECT'
                }"
                >Terima</a
              >
              <a
                (click)="action$.next('REJECT')"
                class="btn"
                [ngClass]="{
                  'btn-danger': (action$ | async) === 'REJECT',
                  'btn-soft-danger': (action$ | async) === 'APPROVE'
                }"
                >Tolak</a
              >
            </div>

            <div *ngIf="(action$ | async) == 'REJECT'" class="mb-3">
              <label for="commentTextarea" class="form-label fw-semibold"
                >Catatan <span class="text-danger">*</span></label
              >
              <textarea
                class="form-control"
                id="commentTextarea"
                rows="3"
                [(ngModel)]="comment"
                name="comment"
                placeholder="Tuliskan catatan atau revisi"
              ></textarea>
              <div class="feedback" *ngIf="!comment && commentTouched">
                <small>Catatan perlu diisi.</small>
              </div>
            </div>

            <div class="float-end">
              <button
                class="btn btn-soft-secondary me-2"
                (click)="toggleModal()"
                type="button"
              >
                Batal
              </button>
              <button
                class="btn btn-primary"
                type="button"
                (click)="verifyDocument(selectedRekapData)"
              >
                Simpan
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </app-modal>
</div>
