.ag-theme-alpine {
    --ag-border-radius: 6px;
    --ag-border-color: #dddddd;
    --ag-header-background-color: #f7f8fc;
    --ag-alpine-active-color: #2967be;
    --ag-selected-row-background-color: #2967be55;
    --ag-row-hover-color: #2967be17;
    --ag-column-hover-color: #2967be20;
    --ag-input-focus-border-color: #2967be5a;
    --ag-range-selection-background-color: #2967be3f;
    --ag-range-selection-background-color-2: #2967be44;
    --ag-range-selection-background-color-3: #2967be6d;
    --ag-range-selection-background-color-4: #2967be7c;
}

.form-label {
    font-size: 14px !important;
    font-weight: 600;
}