<div class="d-flex gap-2" style="margin-top: 6px">
  <button
    *ngIf="params.showFirstButton(params.data)"
    [disabled]="params.disabledFirstButton(params.data)"
    (click)="onFirstButtonClick()"
    class="btn btn-sm btn-{{ params.colorFirst(params.data) }}"
  >
    <i class="mdi mdi-{{ params.iconFirst }} me-1"></i
    >{{ params.titleFirst(params.data) }}
  </button>

  <button
    *ngIf="params.showSecondButton(params.data)"
    [disabled]="params.disabledSecondButton(params.data)"
    (click)="onSecondButtonClick()"
    class="btn btn-sm btn-{{ params.colorSecond(params.data) }}"
  >
    <i class="mdi mdi-{{ params.iconSecond }} me-1"></i>
    {{ params.titleSecond(params.data) }}
  </button>
</div>
