<form (ngSubmit)="onSubmit()" [formGroup]="indikatorKompetensiForm">
    <div class="mb-3">
        <label class="form-label fw-bold" for="kompetensiName">
            Kompetensi <span class="text-danger">*</span>
        </label>
        <input
            [value]="kompetensi?.name || ''"
            class="form-control"
            disabled
            id="kompetensiName"
            readonly
            type="text"
        />
    </div>

    <!-- Hidden Kompetensi ID -->
    <input formControlName="kompetensiId" type="hidden" />

    <!-- code indicator-->
    <div class="mb-3">
        <label class="form-label fw-bold" for="code">
            Kode Indikator Kompetensi <span class="text-danger">*</span>
        </label>

        <div class="input-group">
            <span class="input-group-text" id="prefix-g"
                >{{ kompetensi.code }}-</span
            >

            <input
                appInvalidOnTouch
                aria-describedby="prefix-g"
                class="form-control"
                formControlName="code"
                id="code"
                name="code"
                placeholder="Masukan kode"
                type="text"
            />
        </div>

        <div
            *ngIf="
                        getErrorMessage(
                            'code',
                            'Kode indikator kompetensi'
                        ) as error
                    "
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <!-- Indikator Kompetensi Input -->
    <div class="mb-3">
        <label class="form-label fw-bold" for="name">
            Indikator Kompetensi <span class="text-danger">*</span>
        </label>

        <textarea
            appInvalidOnTouch
            class="form-control"
            formControlName="name"
            id="name"
            name="name"
            placeholder="Masukan nama indikator kompetensi"
            rows="3"
        ></textarea>
        <div
            *ngIf="
                        getErrorMessage(
                            'name',
                            'Nama indikator kompetensi'
                        ) as error
                    "
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>

    <div class="float-end">
        <app-loading-button
            [className]="'btn btn-primary'"
            [disabled]="indikatorKompetensiForm.invalid"
            [isLoading]="(isSubmitLoading$ | async)"
            [label]="'Simpan'"
            [type]="'submit'"
        ></app-loading-button>
    </div>
</form>
