<form [formGroup]="exportGradeForm">
    <div class="row mb-3">
        <label class="col-sm-2 form-label fw-bold" for="inputDate"
            >Tanggal <span class="text-danger">*</span></label
        >
        <div class="col-sm-5">
            <input
                appInvalidOnTouch
                class="form-control"
                formControlName="dateFrom"
                id="inputDateFrom"
                name="dateFrom"
                type="date"
            />
            <div
                *ngIf="getErrorMessage('dateFrom', 'Tanggal awal') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>
        <div class="col-sm-5">
            <input
                appInvalidOnTouch
                class="form-control"
                formControlName="dateTo"
                id="inputDateTo"
                name="dateTo"
                type="date"
            />
            <div
                *ngIf="getErrorMessage('dateTo', 'Tanggal akhir') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 form-label fw-bold" for="inputfileType"
            >Format File <span class="text-danger">*</span></label
        >
        <div class="col-sm-10">
            <select
                appInvalidOnTouch
                class="form-select"
                formControlName="fileType"
                id="inputfileType"
                name="fileType"
            >
                <option [value]="''">Pilih</option>
                <option [value]="'xlsx'">Excel 2007</option>
                <option [value]="'xls'">Excel</option>
                <option [value]="'csv'">CSV</option>
            </select>
            <div
                *ngIf="getErrorMessage('fileType', 'Format File') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>
    </div>

    <div class="row text-end">
        <app-loading-button
            (clicked)="submit()"
            [className]="'btn btn-primary'"
            [disabled]="exportGradeForm.invalid"
            [isLoading]="isLoading$ | async"
            [label]="'Export'"
            [type]="'button'"
        ></app-loading-button>
    </div>
</form>

<hr />
<app-pagable [pagable]="pagable" [refresh]="refresh"></app-pagable>
