<div class="row">
  <form [formGroup]="exportGradeForm">
    <div class="row mb-3">
      <label for="inputDate" class="col-sm-2 col-form-label fw-bold"
        >Tanggal</label
      >
      <div class="col-sm-3">
        <input
          type="date"
          name="dateFrom"
          class="form-control"
          id="inputDateFrom"
          formControlName="dateFrom"
        />
        <div
          class="feedback"
          *ngIf="
            exportGradeForm.get('dateFrom').invalid &&
            exportGradeForm.get('dateFrom').touched
          "
        >
          <small *ngIf="exportGradeForm.get('dateFrom').errors?.['required']">
            Tanggal mulai perlu diisi.
          </small>
        </div>
      </div>
      <div class="col-sm-3">
        <input
          type="date"
          name="dateTo"
          class="form-control"
          id="inputDateTo"
          formControlName="dateTo"
        />
        <div
          class="feedback"
          *ngIf="
            exportGradeForm.get('dateTo').invalid &&
            exportGradeForm.get('dateTo').touched
          "
        >
          <small *ngIf="exportGradeForm.get('dateTo').errors?.['required']">
            Tanggal tujuan perlu diisi.
          </small>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="inputfileType" class="col-sm-2 col-form-label fw-bold"
        >Tipe</label
      >
      <div class="col-sm-10">
        <select
          id="inputfileType"
          class="form-select"
          formControlName="fileType"
          name="fileType"
        >
          <option [value]="''">Pilih</option>
          <option [value]="'xlsx'">Excel 2007</option>
          <option [value]="'xls'">Excel</option>
          <option [value]="'csv'">CSV</option>
        </select>
        <div
          class="feedback"
          *ngIf="
            exportGradeForm.get('fileType').invalid &&
            exportGradeForm.get('fileType').touched
          "
        >
          <small *ngIf="exportGradeForm.get('fileType').errors?.['required']">
            File type perlu diisi.
          </small>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">
        <ng-container *ngIf="isLoading$ | async; else noLoading">
          <button class="btn btn-success float-end" disabled>
            <div
              class="spinner-border"
              style="width: 19px; height: 19px"
              role="status"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </ng-container>
        <ng-template #noLoading>
          <button
            type="button"
            (click)="submit()"
            class="btn btn-success float-end"
            [disabled]="exportGradeForm.invalid || (isLoading$ | async)"
          >
            Export
          </button>
        </ng-template>

        <!-- <button
          type="button"
          class="btn btn-success float-end"
          (click)="submit()"
          [disabled]="!exportGradeForm.valid"
        >
          Export
        </button> -->
      </div>
    </div>
  </form>
</div>

<hr />
<div class="row">
  <app-pagable [pagable]="pagable" [refresh]="refresh"></app-pagable>
</div>
