<form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="mb-3">
        <label class="form-label">Password Baru <span class="text-danger">*</span></label>
        <input type="password" formControlName="password" class="form-control" />
        <div *ngIf="getErrorMessage('password', 'Password') as error" class="text-danger">
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Konfirmasi Password Baru <span class="text-danger">*</span></label>
        <input type="password" formControlName="confirmPassword" class="form-control" />
        <div *ngIf="getErrorMessage('confirmPassword', 'Konfirmasi Password') as error" class="text-danger">
            {{ error }}
        </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-secondary me-2" (click)="cancel()" [disabled]="(isLoading$ | async)"
            *ngIf="showCancelButton">
            Cancel
        </button>
        <button type="submit" class="btn btn-success" [disabled]="form.invalid || (isLoading$ | async)"
            (click)="submitForm()">
            <span *ngIf="!(isLoading$ | async)">Update</span>
            <span *ngIf="(isLoading$ | async)" class="spinner-border spinner-border-sm"></span>
        </button>
    </div>
</form>