<form (submit)="submit()" #userForm="ngForm">
  <div class="row mb-3">
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >NIP<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="userInstansi.nip"
        name="nip"
        required
        minlength="18"
        maxlength="18"
        #nip="ngModel"
        id="nip"
      />
      <div class="feedback" *ngIf="nip.touched && nip.invalid">
        <small class="text-danger">NIP harus terdiri dari 18 karakter. </small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >Nama<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="userInstansi.name"
        name="name"
        id="name"
        #name="ngModel"
        required
      />
      <div class="feedback" *ngIf="name.touched && name.invalid">
        <small class="text-danger">Nama harus diisi. </small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >Email<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        [(ngModel)]="userInstansi.email"
        name="email"
        required
        #email="ngModel"
        id="email"
      />
      <div class="feedback" *ngIf="email.touched && email.invalid">
        <small class="text-danger">Email harus diisi dan valid.</small>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >Password<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        [(ngModel)]="userInstansi.password"
        name="password"
        required
        #password="ngModel"
        id="password"
      />
      <div class="feedback" *ngIf="password.touched && password.invalid">
        <small class="text-danger">Password harus diisi. </small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label fw-bold"
      >Konfirmasi Password<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        #confirmPass="ngModel"
      />
      <div class="feedback">
        <small
          class="text-danger"
          *ngIf="confirmPass.touched && confirmPass.invalid"
        >
          Konfirmasi password harus diisi.
        </small>
        <small
          class="text-danger"
          *ngIf="
            confirmPass.touched && confirmPassword !== userInstansi.password
          "
        >
          Konfirmasi password tidak cocok.
        </small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >Operasional<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <select
        id="inputState"
        class="form-select"
        (change)="onOperasionalChange()"
        [(ngModel)]="operasional"
        name="operasional"
      >
        <option [value]="null">Pilih</option>
        <option
          *ngFor="let instansiType of instansiTypeList"
          [value]="instansiType.code"
        >
          {{ instansiType.name }}
        </option>
      </select>
    </div>
  </div>
  <div
    *ngIf="['IT3', 'IT4', 'IT5'].includes(this.operasional)"
    (change)="onProvinsiChange()"
    class="row mb-3"
  >
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >Provinsi<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <select
        id="inputState"
        class="form-select"
        [(ngModel)]="provinsiId"
        name="provinsiId"
      >
        <option [value]="null">Pilih</option>
        <option *ngFor="let provinsi of provinsiList" [value]="provinsi.id">
          {{ provinsi.name }}
        </option>
      </select>
    </div>
  </div>
  <div
    *ngIf="operasional == 'IT4' && provinsiId"
    (change)="onKabKotaChange()"
    class="row mb-3"
  >
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >Kabupaten<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <select
        id="inputState"
        class="form-select"
        [(ngModel)]="kabupatenId"
        name="kabupatenId"
      >
        <option [value]="null">Pilih</option>
        <option *ngFor="let kabupaten of kabKotaList" [value]="kabupaten.id">
          {{ kabupaten.name }}
        </option>
      </select>
    </div>
  </div>
  <div
    *ngIf="operasional == 'IT5' && provinsiId"
    (change)="onKabKotaChange()"
    class="row mb-3"
  >
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >Kota<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <select
        id="inputState"
        class="form-select"
        [(ngModel)]="kotaId"
        name="kotaId"
      >
        <option [value]="null">Pilih</option>
        <option *ngFor="let kota of kabKotaList" [value]="kota.id">
          {{ kota.name }}
        </option>
      </select>
    </div>
  </div>
  <div
    *ngIf="
      (operasional && ['IT1', 'IT2'].includes(operasional)) ||
      (operasional == 'IT3' && provinsiId) ||
      (['IT4', 'IT5'].includes(operasional) &&
        provinsiId &&
        (kabupatenId || kotaId))
    "
    class="row mb-3"
  >
    <label for="" class="col-sm-2 col-form-label fw-bold"
      >Instansi<span class="text-danger">*</span></label
    >
    <div class="col-sm-10">
      <select
        id="inputState"
        class="form-select"
        [(ngModel)]="userInstansi.instansiId"
        name="instansiId"
        required
      >
        <option [value]="" disabled selected>Pilih</option>
        <option *ngFor="let instansi of instansiList" [value]="instansi.id">
          {{ instansi.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button
        type="submit"
        class="btn btn-success float-end"
        [disabled]="!userForm.valid || !isLoading"
      >
        Simpan
      </button>
    </div>
  </div>
</form>
