<button class="btn btn-sm btn-outline-secondary mb-3" (click)="backToList()">
  <i class="mdi mdi-chevron-left"></i> Kembali
</button>

<div class="d-flex flex-column gap-3">
  <div class="">
    <form (submit)="submit()">
      <div class="row mb-3 border-bottom">
        <label for="" class="col-sm-2 col-form-label fw-bold">Code</label>
        <div class="col-sm-10">
          <p>{{ role.code }}</p>
        </div>
      </div>
      <div class="row mb-3 border-bottom">
        <label for="" class="col-sm-2 col-form-label fw-bold">Nama</label>
        <div class="col-sm-10">
          <p>{{ role.name }}</p>
        </div>
      </div>
      <div *ngIf="!editable" class="text-center float-end">
        <a (click)="editable = true" class="btn btn-primary ms-2">Ubah</a>
        <!-- <a type="submit" class="btn btn-sm btn-danger ms-2">Hapus</a> -->
      </div>
      <div *ngIf="editable" class="text-center float-end">
        <button type="submit" class="btn btn-primary ms-2">Simpan</button>
        <a (click)="editable = false" class="btn btn-secondary ms-2">Batal</a>
      </div>
    </form>
  </div>
  <div class="">
    <app-menu-tree [menuTree]="menuTree" [disable]="!editable"></app-menu-tree>
  </div>
</div>
