<ng-container *ngIf="(tab$ | async) === 0">
    <ng-container *ngIf="pagable$ | async as pagableObj">
        <app-pagable [pagable]="pagableObj" [refresh]="refreshToggle"></app-pagable>
    </ng-container>
</ng-container>
<ng-container *ngIf="(tab$ | async) === 1">
    <app-ukom-kompetensi-add
        (changeTabActive)="handleTabChange(0)"
    ></app-ukom-kompetensi-add>
</ng-container>

<app-modal
    (toggle)="toggleModal()"
    *ngIf="isModalOpen$ | async"
    [enableFooter]="false"
    [title]="'Update Kompetensi'"
>
    <div class="col-12">
        <form [formGroup]="editKompetensiForm">
            <div class="mb-3">
                <label class="form-label fw-bold" for="name"
                    >Nama Kompetensi<span class="text-danger">*</span></label
                >
                <input
                    appInvalidOnTouch
                    class="form-control"
                    formControlName="name"
                    id="name"
                    type="text"
                />
                <div
                    *ngIf="getErrorMessage('name', 'Nama Kompetensi') as error"
                    class="invalid-feedback"
                >
                    {{ error }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold" for="level"
                    >Level<span class="text-danger">*</span></label
                >
                <input
                    appInvalidOnTouch
                    class="form-control"
                    formControlName="level"
                    id="level"
                    type="text"
                />
                <div
                    *ngIf="getErrorMessage('level', 'Level') as error"
                    class="invalid-feedback"
                >
                    {{ error }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold" for="description"
                    >Deskripsi<span class="text-danger">*</span></label
                >
                <textarea
                    appInvalidOnTouch
                    class="form-control"
                    formControlName="description"
                    id="description"
                    rows="3"
                ></textarea>
                <div
                    *ngIf="getErrorMessage('description', 'Deskripsi') as error"
                    class="invalid-feedback"
                >
                    {{ error }}
                </div>
            </div>
            <div class="float-end">
                <app-loading-button
                    (clicked)="submit()"
                    [className]="'btn btn-primary'"
                    [disabled]="editKompetensiForm.invalid"
                    [isLoading]="(loadingButton$ | async)"
                    [label]="'Update'"
                    [type]="'button'"
                ></app-loading-button>
            </div>
        </form>
    </div>
</app-modal>
