<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a class="w-100 logo logo-dark text-center">
            <span class="float-start logo-sm">
                <img src="../../../assets/logo/logo-only-square-no-background.png" alt="" height="50">
            </span>
            <span class="float-start logo-lg">
                <img class="col" src="../../../assets/logo/logo-only-square-no-background.png" alt="" height="50">
                <span class="col text-danger" style="font-size: 2rem;">EyeGil</span>
            </span>
        </a>
        <!-- Light Logo-->
        <a class="w-100 logo logo-light">
            <span class="float-start logo-sm">
                <img src="../../../assets/logo/logo-only-square-no-background.png" alt="" height="50">
            </span>
            <span class="float-start logo-lg row">
                <img class="col" src="../../../assets/logo/logo-only-square-no-background.png" alt="" height="50">
                <span class="col text-danger" style="font-size: 2rem;">EyeGil</span>
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
            id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div [id]="isScrollV ? 'scrollbarV' : 'scrollbarH'">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span></span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" routerLink="">
                        <i class="ri-dashboard-2-line"></i> <span class="fw-bold">Home</span>
                    </a>
                </li>
                <li *ngFor="let menu of menuTree" class="nav-item">
                    <a class="nav-link menu-link" href="#sidebar{{menu.code}}" data-bs-toggle="collapse" role="button"
                        [attr.aria-expanded]="isActive(menu) ? 'true' : 'false'"
                        [attr.aria-controls]="'sidebar'+menu.code">
                        <i class="ri-dashboard-2-line"></i>
                        <span class="fw-bold">{{menu.name}}</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebar{{menu.code}}" [class.show]="isActive(menu)">
                        <ul class="nav nav-sm flex-column">
                            <li *ngFor="let child of menu.child" class="nav-item">
                                <a routerLink="{{menu.path}}/{{child.path}}" class="nav-link fw-bold"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    {{child.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>