<div class="row">
  <div [ngClass]="true ? 'col-lg-8' : 'col-lg-12'">
    <div *ngIf="instasi" class="row mb-3">
      <label for="" class="col-sm-3 col-form-label fw-bold">Instansi</label>
      <div class="col-sm-9">
        <div
          *ngIf="isInstansiLoading$ | async; else instansiHadItem"
          class="d-flex"
        >
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <ng-template #instansiHadItem>
        <p class="pt-2">: {{ instasi.name }}</p>
      </ng-template>
    </div>

    <div class="row mb-3">
      <label for="" class="col-sm-3 col-form-label fw-bold">Unit Kerja </label>
      <div class="col-sm-9">
        <p class="pt-2">: {{ unitKerja.name }}</p>
      </div>
    </div>

    <div class="row mb-3">
      <label for="" class="col-sm-3 col-form-label fw-bold">Phone </label>
      <div class="col-sm-9">
        <p class="pt-2">: {{ unitKerja.phone }}</p>
      </div>
    </div>

    <div class="row mb-3">
      <label for="" class="col-sm-3 col-form-label fw-bold">Alamat </label>
      <div class="col-sm-9">
        <p class="pt-2">: {{ unitKerja.alamat }}</p>
      </div>
    </div>

    <div class="row mb-3">
      <label for="" class="col-sm-3 col-form-label fw-bold">Wilayah </label>
      <div class="col-sm-9">
        <p class="pt-2">: {{ wilayahName }}</p>
      </div>
    </div>
  </div>
  <div
    class="col-lg-4 mt-3 mt-lg-0"
    *ngIf="
      !(isUnitKerjaLoading$ | async) &&
      unitKerja.latitude &&
      unitKerja.longitude
    "
  >
    <app-map
      [type]="'unit-kerja'"
      [defaultLat]="unitKerja.latitude"
      [defaultLng]="unitKerja.longitude"
      [enableEditMarker]="enableEditMap"
    >
    </app-map>
    <!-- <app-map [type]="'unit-kerja'" [defaultLat]="-6.1754" [defaultLng]="106.8272">
  </app-map> -->
  </div>
</div>
