<div *ngIf="pagable?.filterList" class="row mb-3">
    <form (submit)="fetchData()">
        <div class="filter-container">
            <ng-container *ngFor="let fillter of pagable.filterList">
                <ng-container *ngIf="fillter.fieldType">
                    <div>
                        <div
                            *ngIf="fillter.fieldType == 'select'"
                            class="mb-0 cursor-pointer"
                        >
                            <label class="col-form-label p-1"
                                ><b>{{ fillter.label }}</b></label
                            >
                            <select
                                (ngModelChange)="onFilterValueChange(fillter, $event)"
                                [(ngModel)]="fillter.value"
                                class="form-select cursor-pointer p-1"
                                name="{{ fillter.label }}"
                            >
                                <option [value]="''">Pilih</option>
                                <ng-container
                                    *ngFor="let data of fillter.optionList"
                                >
                                    <option [value]="data.value">
                                        {{ data.label }}
                                    </option>
                                </ng-container>
                            </select>
                        </div>

                        <div *ngIf="fillter.fieldType == 'text'" class="mb-0">
                            <label class="col-form-label p-1"
                                ><b>{{ fillter.label }}</b></label
                            >
                            <input
                                [(ngModel)]="fillter.value"
                                class="form-control p-1"
                                name="{{ fillter.label }}"
                            />
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <button
                *ngIf="isSearchExist()"
                class="btn btn-sm btn-outline-primary bottom-0"
                type="submit"
            >
                Terapkan
            </button>
        </div>
    </form>
</div>
<div class="scroll-container">
    <table class="table-hover table">
        <thead>
            <tr>
                <th>#No</th>
                <ng-container *ngFor="let column of pagable.primaryColumnList">
                    <th (click)="toggleSort(column.property)">
                        {{ column.label }}
                        <span
                            *ngIf="column.sortable"
                            [ngClass]="{
                        'ri-filter-3-line': getSortIcon(column.property) == '',
                        'ri-arrow-up-line': getSortIcon(column.property) == 'asc',
                        'ri-arrow-down-line': getSortIcon(column.property) == 'desc',
                    }"
                            class="text-primary float-end"
                        ></span>
                    </th>
                </ng-container>
                <th
                    *ngIf="
                        pagable.actionColumnList &&
                        pagable.actionColumnList.length > 0
                    "
                >
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="onLoad">
                <td class="m-1 p-4" colspan="100%">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </td>
            </tr>
            <ng-container *ngIf="!onLoad">
                <tr *ngIf="filteredData.length == 0">
                    <td class="m-1 p-4" colspan="100%">
                        <div
                            class="d-flex justify-content-center align-items-center"
                        >
                            <span class="ms-2">Data tidak ditemukan</span>
                        </div>
                    </td>
                </tr>
                <tr
                    *ngFor="let row of filteredData; index as i"
                    class="table-row"
                >
                    <td class="fw-bold m-1 p-1">
                        {{ i + 1 + (page * 10 - 10) }}
                    </td>
                    <ng-container
                        *ngFor="let column of pagable.primaryColumnList"
                    >
                        <td
                            *ngIf="column.property"
                            [ngClass]="column.cellClass ? column.cellClass(row) : ''"
                            [ngStyle]="column.cellStyle ? column.cellStyle(row) : {}"
                            [title]="column.title ? column.title(row) : ''"
                            class="truncate-cell m-1 p-1"
                        >
                            {{ getPropertyValue(row, column.property) }}
                        </td>
                        <td
                            *ngIf="!column.property"
                            [ngClass]="column.cellClass ? column.cellClass(row) : ''"
                            [ngStyle]="column.cellStyle ? column.cellStyle(row) : {}"
                            [title]="column.title ? column.title(row) : ''"
                            class="truncate-cell m-1 p-1"
                        >
                            {{ column.dynamic(row) }}
                        </td>
                    </ng-container>
                    <td
                        *ngIf="
                            pagable.actionColumnList &&
                            pagable.actionColumnList.length > 0
                        "
                        class="m-1 p-1"
                    >
                        <div
                            aria-label="Basic example"
                            class="btn-group"
                            role="group"
                        >
                            <ng-container
                                *ngFor="let action of pagable.actionColumnList"
                            >
                                <a
                                    (click)="action.process(row)"
                                    *ngIf="action.inputType == 'button'"
                                    class="text-light btn btn-sm btn-{{
                                        action.inactive && action.inactive(row)
                                            ? 'grey disabled'
                                            : action.color
                                    }} {{ action.icon }}"
                                >
                                </a>

                                <input
                                    (change)="action.process(row, $event)"
                                    *ngIf="action.inputType == 'checkbox'"
                                    [checked]="action.checked(row)"
                                    class="form-check-input custom-checkbox me-2 ms-2"
                                    id="inlineCheckbox1"
                                    type="checkbox"
                                    value="option1"
                                />
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<nav
    *ngIf="paginator && pagable.enablePagination && enablePagination"
    aria-label="Page navigation example"
>
    <ul class="pagination justify-content-end">
        <li
            [ngClass]="{ disabled: page == 1 }"
            class="page-item cursor-pointer"
        >
            <a (click)="prev()" class="page-link px-2 py-1">Previous</a>
        </li>

        <ng-container *ngFor="let item of getPages(); let i = index">
            <li *ngIf="item !== '...'" class="page-item cursor-pointer">
                <a
                    (click)="select(item)"
                    [ngClass]="{ active: page == item }"
                    class="page-link px-2 py-1"
                    >{{ item }}</a
                >
            </li>
            <li *ngIf="item === '...'" class="page-item disabled">
                <a class="page-link px-2 py-1">{{ item }}</a>
            </li>
        </ng-container>

        <li
            [ngClass]="{ disabled: page == paginator.lastPage }"
            class="page-item cursor-pointer"
        >
            <a (click)="next()" class="page-link px-2 py-1">Next</a>
        </li>
    </ul>
</nav>
