.scroll-container .col-sm-4 {
    flex: 0 0 auto;
}

th {
    cursor: pointer;
}

.scroll-container {
    /* Custom scrollbar styles */
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #6f6f6f1d #ffffff;
    /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Track color */
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    /* Thumb color */
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Thumb color on hover */
}

.cursor-pointer{
    cursor: pointer;
  }

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    align-items: end;

    @media (max-width: 640px) {
        flex-direction: column;
        gap: 8px;
        align-items: start;
        width: 100%;
    }
}

.btn-sm {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

table {
    width: 100%;               
    border-collapse: collapse; 
  }
  
  td, th {
    padding: 10px;            
    // text-align: center;       
    vertical-align: middle;   
  }
  
  tr {
    height: auto;            
  }