<form *ngIf="pendingTask" (submit)="submit()">
    <div *ngIf="pendingTask.remark" class="alert alert-warning" role="alert">
        {{pendingTask.remark}}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="firstnameInput" class="form-label">
                    First Name
                </label>
                <input [disabled]="pendingTask && pendingTask.flowId == 'siap_flow_1'" type="text" class="form-control"
                    id="firstnameInput" placeholder="Masukkan Nama" [(ngModel)]="jf.name" name="name">
            </div>
        </div>
        <!--end col-->
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="lastnameInput" class="form-label">
                    No. HP
                </label>
                <input [disabled]="pendingTask && pendingTask.flowId == 'siap_flow_1'" type="text" class="form-control"
                    id="lastnameInput" placeholder="Masukkan No. HP" [(ngModel)]="jf.phone" name="phone">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="emailInput" class="form-label">
                    Email
                </label>
                <input [disabled]="pendingTask && pendingTask.flowId == 'siap_flow_1'" type="email" class="form-control"
                    id="emailInput" placeholder="Masukkan email" [(ngModel)]="jf.email" name="email">
            </div>
        </div>
        <!--end col-->
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="emailInput" class="form-label">
                    Tempat Lahir
                </label>
                <input [disabled]="pendingTask && pendingTask.flowId == 'siap_flow_1'" type="text" class="form-control"
                    id="emailInput" placeholder="Masukkan Tempat Lahir" [(ngModel)]="jf.tempatLahir" name="tempatLahir">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="emailInput" class="form-label">
                    Tanggal Lahir
                </label>
                <input [disabled]="pendingTask && pendingTask.flowId == 'siap_flow_1'" type="date" class="form-control"
                    id="emailInput" placeholder="Masukkan Tanggal Lahir" [(ngModel)]="jf.tanggalLahir"
                    name="tanggalLahir">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="firstnameInput" class="form-label">
                    Jenis Kelamin
                </label>
                <select [disabled]="pendingTask && pendingTask.flowId == 'siap_flow_1'" class="form-select"
                    [(ngModel)]="jf.jenisKelaminCode" name="jenisKelaminCode">
                    <option [value]="undefined">Pilih</option>
                    <option *ngFor="let jenisKelamin of jenisKelaminList" [value]="jenisKelamin.code">
                        {{jenisKelamin.name}}
                    </option>
                </select>
            </div>
        </div>
        <hr>
        <div class="col-lg-12 row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">
                        NIK
                    </label>
                    <input [disabled]="pendingTask && pendingTask.flowId == 'siap_flow_1'" type="text"
                        class="form-control" id="emailInput" placeholder="Masukkan NIK" [(ngModel)]="jf.nik" name="nik">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">
                        KTP
                    </label>
                    <app-file-handler [inputs]="inputs"></app-file-handler>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="pendingTask && pendingTask.flowId != 'siap_flow_1'" class="col-lg-12">
        <div class="hstack gap-2 justify-content-end">
            <button type="submit" class="btn btn-sm btn-soft-success">Simpan</button>
        </div>
    </div>
</form>