<div class="card card-profile">
    <div class="card-body row p-4">
        <div class="col-12">
            <a
                *ngIf="this.currentRoute !== '/'"
                class="btn btn-sm btn-soft-danger float-end"
                routerLink=""
                >Kembali</a
            >
            <a
                *ngIf="this.currentRoute === '/'"
                class="btn btn-sm btn-soft-primary float-end"
                routerLink="/profile"
                >Lihat Detail</a
            >
        </div>
        <div class="col-12 text-center">
            <div
                class="profile-user position-relative d-inline-block mx-auto mb-4"
            >
                <div
                    *ngIf="file || filePreview; else placeholder"
                    class="image-container"
                >
                    <img
                        [src]="filePreview || profileImageSrc"
                        alt="user-profile-image"
                        class="rounded-circle avatar-xl img-thumbnail user-profile-image"
                    />
                </div>

                <ng-template #placeholder>
                    <img
                        [src]="profileImageSrc"
                        alt="user-profile-image"
                        class="rounded-circle avatar-xl img-thumbnail user-profile-image"
                    />
                </ng-template>

                <label for="avatar-input-file">
                    <div class="icon-wrapper">
                        <input
                            (change)="onFileChange($event)"
                            accept="image/*"
                            id="avatar-input-file"
                            type="file"
                        />
                        <i class="ri-pencil-line"></i>
                    </div>
                </label>
            </div>

            <h5 class="fs-16 mb-1 text-white">{{ name }}</h5>
            <h5 class="text-muted fs-10 mb-1">NIP : {{ nip }}</h5>
            <h5 *ngIf="userDetail.email" class="text-muted fs-10 mb-1">
                Email : {{ userDetail.email }}
            </h5>
            <button
                (click)="saveProfileImage()"
                *ngIf="file"
                class="btn btn-primary mt-3"
            >
                Simpan Perubahan
            </button>
        </div>
    </div>
</div>
