.modal.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.85); // Darker background for focus
}

.modal-dialog {
    // max-width: 95vw; // Make it wide
    margin: 1.75rem auto;
}

.modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.modal-header {
    background-color: #fff;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding: 1rem;
}

.modal-body {
    background-color: #525659; // Standard PDF viewer background color
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
