<ng-container *ngIf="isLoading$ | async; else dashboardContent">
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-container>

<ng-template #dashboardContent>
    <div *ngIf="roomUkom.id" class="card mb-4 border-0 shadow-sm">
        <div class="card-body">
            <h3 class="card-title fw-semibold text-primary mb-2">
                {{ roomUkom.name }}
            </h3>

            <ul class="list-unstyled mb-3">
                <li><strong>Jabatan:</strong> {{ roomUkom.jabatanName }}</li>
                <li><strong>Jenjang:</strong> {{ roomUkom.jenjangName }}</li>
                <li *ngIf="roomUkom.bidangJabatanName">
                    <strong>Bidang Jabatan:</strong>
                    {{ roomUkom.bidangJabatanName }}
                </li>
            </ul>

            <p class="mb-0">
                <ng-container *ngIf="roomUkom.vidCallLink; else noLink">
                    <a
                        [attr.title]="roomUkom.vidCallLink"
                        [href]="getAbsoluteUrl(roomUkom.vidCallLink)"
                        class="text-decoration-none"
                        data-bs-placement="top"
                        data-bs-toggle="tooltip"
                        target="_blank"
                    >
                        <span class="badge bg-primary">Join Zoom</span>
                    </a>
                </ng-container>
                <ng-template #noLink>
                    <span class="text-danger fst-italic"
                        >Belum ada link Zoom</span
                    >
                </ng-template>
            </p>
        </div>
    </div>

    <ng-container
        *ngIf="roomUkom?.examScheduleDtoList.length > 0; else emptyState"
    >
        <div class="accordion" id="examAccordion">
            <div
                *ngFor="let exam of roomUkom.examScheduleDtoList; let i = index"
                class="accordion-item"
            >
                <h2 [id]="'heading' + i" class="accordion-header">
                    <button
                        [attr.aria-controls]="'collapse' + i"
                        [attr.aria-expanded]="isInitiallyOpen(exam.id)"
                        [attr.data-bs-target]="'#collapse' + i"
                        [class.collapsed]="!isInitiallyOpen(exam.id)"
                        class="accordion-button"
                        data-bs-toggle="collapse"
                        type="button"
                    >
                        {{ exam.examTypeCode | prettyName}}
                        <span class="fw-bold ms-1"
                            >(Durasi: {{ exam.duration | examDuration}})</span
                        >
                    </button>
                </h2>
                <div
                    [attr.aria-labelledby]="'heading' + i"
                    [class.show]="isInitiallyOpen(exam.id)"
                    [id]="'collapse' + i"
                    class="accordion-collapse collapse"
                    data-bs-parent="#examAccordion"
                >
                    <div class="accordion-body">
                        <p>
                            <strong>Jadwal:</strong>
                            {{ exam.startTime | formatExamSchedule: exam.endTime
                            }}
                        </p>

                        <div
                            class="d-flex align-items-end flex-sm-row flex-column gap-2"
                        >
                            <ng-container *ngIf="exam.examTypeCode === 'CAT'">
                                <app-loading-button
                                    (clicked)="startExam(exam.roomUkomId, exam.examTypeCode, exam.id)"
                                    *ngIf="canStartExam(exam.startTime, exam.endTime) &&
                                                (scoreMap[exam.id]?.score === null || scoreMap[exam.id]?.score === undefined)"
                                    [className]="'btn btn-primary'"
                                    [disabled]="!canStartExam(exam.startTime, exam.endTime) ||
                                                (scoreMap[exam.id]?.score !== null && scoreMap[exam.id]?.score !== undefined)"
                                    [isLoading]="isStartCATLoading$ | async"
                                    [label]="'Mulai'"
                                >
                                </app-loading-button>

                                <button
                                    (click)="openScoreModal(exam.id)"
                                    *ngIf="scoreMap[exam.id]?.score !== null && scoreMap[exam.id]?.score !== undefined"
                                    class="btn btn-success"
                                >
                                    Lihat Nilai
                                </button>
                            </ng-container>

                            <ng-container
                                *ngIf="exam.examTypeCode === 'MAKALAH'"
                            >
                                <app-loading-button
                                    (clicked)="startExam(exam.roomUkomId, exam.examTypeCode, exam.id)"
                                    *ngIf="canStartExam(exam.startTime, exam.endTime) ||
                                                scoreMap[exam.id]?.score == null ||
                                                scoreMap[exam.id]?.score === undefined"
                                    [className]="'btn btn-primary'"
                                    [disabled]="!canStartExam(exam.startTime, exam.endTime) ||
                                                (scoreMap[exam.id]?.score !== null && scoreMap[exam.id]?.score !== undefined)"
                                    [isLoading]="isMakalahLoading$ | async"
                                    [label]="'Unggah Makalah'"
                                >
                                </app-loading-button>

                                <button
                                    (click)="viewUploadedMakalah(exam.id)"
                                    *ngIf="scoreMap[exam.id]?.score !== null && scoreMap[exam.id]?.score !== undefined"
                                    class="btn btn-success"
                                >
                                    Makalah berhasil diunggah
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #emptyState>
        <section class="my-5">
            <app-empty-state
                [description]="'Panitia belum menetapkan jadwal ujian untuk Anda. Silahkan tunggu informasi selanjutnya.'"
                [title]="'Anda belum ada jadwal UKom'"
            >
            </app-empty-state>
        </section>
    </ng-template>
</ng-template>

<app-modal
    (toggle)="toggleModal()"
    *ngIf="isModalOpen()"
    [enableFooter]="false"
    [size]="'lg'"
    [title]="'Hasil Ujian'"
>
    <ng-container>
        <div class="total-score-container">
            <div class="total-score-value">
                {{ scoreMap[selectedExamId()]?.score | number: '1.2-2' }}
            </div>
        </div>

        <div
            *ngFor="let competencyGroup of getGroupedCompetencies()"
            class="mb-3"
        >
            <div class="card mb-3 border-0">
                <div class="card-header bg-primary text-white">
                    <div
                        class="d-flex justify-content-between align-items-center"
                    >
                        <h4 class="mb-0 text-white">
                            {{ competencyGroup.name }}
                        </h4>
                        <span class="badge badge-light badge-lg">
                            {{ competencyGroup.percentage }}% ({{
                            competencyGroup.correct }}/{{ competencyGroup.total
                            }})
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-modal>
