<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <app-file-handler [inputs]="inputs"></app-file-handler>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="hstack gap-2 justify-content-end">
            <ng-container *ngIf="!(submitLoading$ | async); else loading">
                <button (click)="onSave()" class="btn btn-success" [disabled]="isAnyFileMissing()">
                    Simpan
                </button>
            </ng-container>
            <ng-template #loading>
                <button class="btn btn-success" disabled>
                    <div class="spinner-border" style="width: 19px; height: 19px" role="status">
                    </div>
                </button>
            </ng-template>
        </div>
    </div>
</div>