<div
    class="d-flex align-items-center justify-content-between mb-3 flex-wrap gap-2"
>
    <button (click)="goBack()" class="btn-sm btn btn-outline-secondary">
        <i class="mdi mdi-chevron-left"></i> Kembali
    </button>

    <ng-container *ngIf="!(isLoading$ | async)">
        <button
            (click)="toggleUpdatePasswordModal()"
            class="btn btn-primary mb-3"
        >
            <i class="mdi mdi-lock-reset me-1"></i>
            Lupa password akun UKom? <strong>Reset di sini</strong>
        </button>
    </ng-container>
</div>

<ng-container *ngIf="isLoading$ | async; else ukomHadItem">
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-container>

<ng-template #ukomHadItem>
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h5 class="m-0">
                <i class="mdi mdi-account me-2"></i>Detail Peserta UKom
            </h5>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="fw-bold">Identitas Peserta</h5>
                    <hr />
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Status Pendaftar</label>
                        <p class="border-bottom">
                            {{ participant.participantStatus == 'jf' ? 'JF
                            Perdagangan' : 'Non-JF Perdagangan' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Nama Lengkap</label>
                        <p class="border-bottom">
                            {{ participant.name ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">NIP</label>
                        <p class="border-bottom">
                            {{ participant.nip ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Nomor Whatsapp</label>
                        <p class="border-bottom">
                            {{ participant.phone ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 mb-2">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <p class="border-bottom">
                            {{ participant.email ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Tanggal Lahir</label>
                        <p class="border-bottom">
                            {{ participant.tanggalLahir | tanggalIndo }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label"
                            >Usia Menurut Surat Usulan</label
                        >
                        <p class="border-bottom">
                            {{ calculateAge( participant.tanggalLahir,
                            participant.tglSuratUsulan ) }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-12">
                    <h5 class="fw-bold mt-3">Pendidikan & Pekerjaan</h5>
                    <hr />
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Jenjang Pendidikan</label>
                        <p class="border-bottom">{{ pendidikanName ?? '-' }}</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Program Studi/Jurusan</label>
                        <p class="border-bottom">
                            {{ participant.jurusan ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Instansi</label>
                        <p class="border-bottom">
                            {{ transformInstansiName( participant.jenisInstansi
                            ) ?? '-' }}
                        </p>
                    </div>
                </div>

                <div *ngIf="provinsiName" class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Provinsi</label>
                        <p class="border-bottom">{{ provinsiName ?? '-' }}</p>
                    </div>
                </div>

                <div *ngIf="kabupatenName" class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Kabupaten/Kota</label>
                        <p class="border-bottom">
                            {{ kabupatenName ? typeKabKota + ' ' + kabupatenName
                            : '-' }}
                        </p>
                    </div>
                </div>

                <div
                    [ngClass]="{
                                'col-lg-6':
                                    participant.jenisInstansi !=
                                    'PEMERINTAH_PROVINSI',
                                'col-lg-12':
                                    participant.jenisInstansi ==
                                    'PEMERINTAH_PROVINSI'
                            }"
                >
                    <div class="mb-3">
                        <label class="form-label">Unit Kerja</label>
                        <p class="border-bottom">
                            {{ participant.unitKerjaName ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Jabatan</label>
                        <p class="border-bottom">
                            {{ participant.jabatanName ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Jabatan Yang Dituju</label>
                        <p class="border-bottom">
                            {{ participant.nextJabatanName ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Jenjang</label>
                        <p class="border-bottom">
                            {{ participant.jenjangName ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Jenjang Yang Dituju</label>
                        <p class="border-bottom">
                            {{ participant.nextJenjangName ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Pangkat</label>
                        <p class="border-bottom">
                            {{ participant.pangkatName ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label"
                            >Bidang Jabatan Yang Dituju</label
                        >
                        <p class="border-bottom">
                            {{ bidangJabatanName ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-12">
                    <h5 class="fw-bold mt-3">Informasi Pengajuan</h5>
                    <hr />
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Jenis UKom</label>
                        <p class="border-bottom">
                            {{
                            jenisUkomService.getLabelByValue(participant.jenisUkom)
                            }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Status Pendaftaran</label>
                        <p class="border-bottom">
                            {{ participant.isMengulang ? 'Mengulang' : 'Baru' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Nomor Surat Usulan</label>
                        <p class="border-bottom">
                            {{ participant.noSuratUsulan ?? '-' }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Tanggal Surat Usulan</label>
                        <p class="border-bottom">
                            {{ participant.tglSuratUsulan | tanggalIndo }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label"
                            >Predikat Kinerja Pegawai Satu Tahun Terakhir</label
                        >
                        <p class="border-bottom">{{ predikat1Name ?? '-' }}</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label"
                            >Predikat Kinerja Pegawai Dua Tahun Terakhir</label
                        >
                        <p class="border-bottom">{{ predikat2Name ?? '-'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Dokumen Pendaftaran -->
    <div *ngIf="dataDokumenUkom.length > 0" class="card">
        <div class="card-header">
            <h5 class="m-0">
                <i class="mdi mdi-file-document-check-outline me-2"></i>Dokumen
                Pendaftaran UKom
            </h5>
        </div>
        <div class="card-body">
            <app-file-handler [inputs]="fileHandlerData"></app-file-handler>
        </div>
    </div>

    <div
        *ngIf="(scoreMap | keyvalue)?.length > 0 && hasNonNullScores()"
        class="card shadow-sm"
    >
        <div class="card-header bg-light">
            <h5 class="m-0">
                <i class="mdi mdi-checkbox-marked-circle-outline me-2"></i>
                Detail UKom
            </h5>
        </div>

        <!--        <div class="card-body p-0">-->
        <!--            <div class="list-group list-group-flush">-->
        <!--                <ng-container-->
        <!--                    *ngFor="let exam of participant.roomUkomDto?.examScheduleDtoList"-->
        <!--                >-->
        <!--                    <div-->
        <!--                        *ngIf="scoreMap[exam.id] != null"-->
        <!--                        class="list-group-item py-3"-->
        <!--                    >-->
        <!--                        <div-->
        <!--                            class="d-flex justify-content-between align-items-center flex-wrap gap-3"-->
        <!--                        >-->
        <!--                            <div>-->
        <!--                                <h6 class="fw-semibold mb-1">-->
        <!--                                    {{ukomMiscellaneousService.getModuleDisplayName(exam.examTypeCode)}}-->
        <!--                                </h6>-->
        <!--                            </div>-->
        <!--                            <div-->
        <!--                                class="d-flex align-items-end flex-sm-row flex-column mt-sm-0 mt-2 gap-2"-->
        <!--                            >-->
        <!--                                <button-->
        <!--                                    (click)="toggleModal(exam.id, exam.examTypeCode)"-->
        <!--                                    class="btn btn-success"-->
        <!--                                >-->
        <!--                                    Lihat Nilai-->
        <!--                                </button>-->
        <!--                                <app-loading-button-->
        <!--                                    (clicked)="deleteExamScore(scoreMap[exam.id]?.id)"-->
        <!--                                    [className]="'btn btn-danger'"-->
        <!--                                    [isLoading]="isDeleteExamScoreLoading$ | async"-->
        <!--                                    [type]="'button'"-->
        <!--                                    label="Hapus Nilai"-->
        <!--                                >-->
        <!--                                </app-loading-button>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </ng-container>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="card-body p-0">
            <div class="list-group list-group-flush">
                <ng-container
                    *ngFor="let exam of participant.roomUkomDto?.examScheduleDtoList"
                >
                    <div
                        *ngIf="scoreMap[exam.id] != null"
                        class="list-group-item py-3"
                    >
                        <div
                            class="d-flex justify-content-between align-items-start flex-wrap gap-3"
                        >
                            <!-- LEFT: Info -->
                            <div class="flex-grow-1">
                                <h6 class="fw-semibold mb-1">
                                    {{
                                    ukomMiscellaneousService.getModuleDisplayName(exam.examTypeCode)
                                    }}
                                </h6>

                                <!-- NEW: Datetime Info -->
                                <div class="text-muted small">
                                    {{ getScheduleStartTime(exam.id) |
                                    tanggalWaktuIndo }}
                                </div>
                            </div>

                            <!-- RIGHT: Actions -->
                            <div
                                class="d-flex align-items-end flex-sm-row flex-column mt-sm-0 mt-2 gap-2"
                            >
                                <button
                                    (click)="toggleModal(exam.id, exam.examTypeCode)"
                                    class="btn btn-success"
                                >
                                    Lihat Nilai
                                </button>

                                <app-loading-button
                                    (clicked)="deleteExamScore(scoreMap[exam.id]?.id)"
                                    [className]="'btn btn-danger'"
                                    [isLoading]="isDeleteExamScoreLoading$ | async"
                                    [type]="'button'"
                                    label="Hapus Nilai"
                                >
                                </app-loading-button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <ng-container *ngIf="ukomGrade().id && participant.id">
        <app-ukom-grade-table
            (downloadFile)="downloadRekomendasi()"
            [gradeData]="ukomGrade()"
            [nama]="participant.name"
            [nip]="participant.nip"
            [rekomendasiUrl]="participant.rekomendasiUrl"
        ></app-ukom-grade-table>
    </ng-container>
</ng-template>

<app-modal
    (toggle)="toggleModal()"
    *ngIf="isModalOpen$ | async"
    [enableFooter]="false"
    [size]="'lg'"
    [title]="'Hasil ' + ukomMiscellaneousService.getModuleDisplayName(getSelectedExamType())"
>
    <ng-container *ngIf="getSelectedScore() as selectedScore">
        <!-- CAT Score Component -->
        <app-cat-score-admin
            *ngIf="getSelectedExamType() === ExamTypeCategory.CAT"
            [score]="$any(selectedScore)"
        >
        </app-cat-score-admin>

        <app-portofolio-score-admin
            *ngIf="getSelectedExamType() === ExamTypeCategory.PORTOFOLIO"
            [score]="$any(selectedScore)"
        >
        </app-portofolio-score-admin>

        <app-studi-kasus-score-admin
            *ngIf="getSelectedExamType() === ExamTypeCategory.STUDI_KASUS"
            [score]="$any(selectedScore)"
        >
        </app-studi-kasus-score-admin>

        <app-praktik-score-admin
            *ngIf="getSelectedExamType() === ExamTypeCategory.PRAKTIK"
            [score]="$any(selectedScore)"
        >
        </app-praktik-score-admin>

        <app-wawancara-score-admin
            *ngIf="getSelectedExamType() === ExamTypeCategory.WAWANCARA"
            [score]="$any(selectedScore)"
        >
        </app-wawancara-score-admin>

        <app-makalah-score-admin
            *ngIf="getSelectedExamType() === ExamTypeCategory.MAKALAH"
            [score]="$any(selectedScore)"
        >
        </app-makalah-score-admin>

        <app-seminar-score-admin
            *ngIf="getSelectedExamType() === ExamTypeCategory.SEMINAR"
            [score]="$any(selectedScore)"
        >
        </app-seminar-score-admin>
    </ng-container>
</app-modal>

<app-modal
    (toggle)="toggleUpdatePasswordModal()"
    *ngIf="isToggleUpdatePasswordModal$ | async"
    [enableFooter]="false"
    [title]="'Update Password '"
>
    <app-force-password-form
        (passwordUpdated)="toggleUpdatePasswordModal()"
        [userId]="participant.userId"
    />
</app-modal>
