<form (ngSubmit)="submit()" [formGroup]="form">
    <div class="mb-3">
        <label class="form-label fw-bold" for="jenjangCode">
            Jenjang <span class="text-danger">*</span>
        </label>
        <select
            class="form-select"
            formControlName="jenjangCode"
            id="jenjangCode"
        >
            <option [ngValue]="''" disabled hidden selected>
                Pilih Jenjang
            </option>
            <ng-container
                *ngIf="(jenjangService.jenjangList$ | async) as jenjangList"
            >
                <ng-container *ngIf="jenjangList.length > 0; else noJenjang">
                    <option
                        *ngFor="let jenjang of jenjangList"
                        [value]="jenjang.code"
                    >
                        {{ jenjang.name }}
                    </option>
                </ng-container>
            </ng-container>
            <ng-template #noJenjang>
                <option disabled>Tidak ada data</option>
            </ng-template>
        </select>
        <div
            *ngIf="getError('jenjangCode', 'Jenjang') as error"
            class="text-danger"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="angkaKreditThreshold">
            Akumulasi Angka Kredit Threshold <span class="text-danger">*</span>
        </label>
        <input
            class="form-control"
            formControlName="angkaKreditThreshold"
            id="angkaKreditThreshold"
            placeholder="Akumulasi Angka Kredit Threshold"
            type="number"
        />
        <div
            *ngIf="getError('angkaKreditThreshold', 'Akumulasi Angka Kredit Threshold') as error"
            class="text-danger"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="lastNYear">
            N Tahun Terakhir <span class="text-danger">*</span>
        </label>
        <input
            class="form-control"
            formControlName="lastNYear"
            id="lastNYear"
            placeholder="N Tahun Terakhir"
            type="number"
        />
        <div
            *ngIf="getError('lastNYear', 'N Tahun Terakhir') as error"
            class="text-danger"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="ratingHasilId">
            Rating Hasil Kinerja <span class="text-danger">*</span>
        </label>
        <select
            class="form-select"
            formControlName="ratingHasilId"
            id="ratingHasilId"
        >
            <option [ngValue]="''" disabled hidden selected>
                Pilih Rating Hasil Kinerja
            </option>
            <ng-container
                *ngIf="(kinerjaService.ratingKinerjaList$ | async) as ratings"
            >
                <ng-container *ngIf="ratings.length > 0; else noRatings">
                    <option *ngFor="let rating of ratings" [value]="rating.id">
                        {{ rating.name }}
                    </option>
                </ng-container>
            </ng-container>
            <ng-template #noRatings>
                <option disabled>Tidak ada data</option>
            </ng-template>
        </select>
        <div
            *ngIf="getError('ratingHasilId', 'Rating Hasil') as error"
            class="text-danger"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="ratingKinerjaId">
            Rating Perilaku Kinerja <span class="text-danger">*</span>
        </label>
        <select
            class="form-select"
            formControlName="ratingKinerjaId"
            id="ratingKinerjaId"
        >
            <option [ngValue]="''" disabled hidden selected>
                Pilih Rating Perilaku Kinerja
            </option>
            <ng-container
                *ngIf="(kinerjaService.ratingKinerjaList$ | async) as ratings; else noRatings"
            >
                <option *ngFor="let rating of ratings" [value]="rating.id">
                    {{ rating.name }}
                </option>
            </ng-container>
            <ng-template #noRatings>
                <option disabled>Tidak ada data</option>
            </ng-template>
        </select>
        <div
            *ngIf="getError('ratingKinerjaId', 'Rating Kinerja') as error"
            class="text-danger"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="predikatKinerjaId">
            Predikat Kinerja <span class="text-danger">*</span>
        </label>
        <select
            class="form-select"
            formControlName="predikatKinerjaId"
            id="predikatKinerjaId"
        >
            <option [ngValue]="''" disabled hidden selected>
                Pilih Predikat Kinerja
            </option>
            <ng-container
                *ngIf="(kinerjaService.predikatKinerjaList$ | async) as ratings"
            >
                <ng-container *ngIf="ratings.length > 0; else noRatings">
                    <option *ngFor="let rating of ratings" [value]="rating.id">
                        {{ rating.name }}
                    </option>
                </ng-container>
            </ng-container>
            <ng-template #noRatings>
                <option disabled>Tidak ada data</option>
            </ng-template>
        </select>
        <div
            *ngIf="getError('predikatKinerjaId', 'Predikat Kinerja') as error"
            class="text-danger"
        >
            {{ error }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold" for="jenisUkom">
            Jenis UKom <span class="text-danger">*</span>
        </label>
        <select class="form-select" formControlName="jenisUkom" id="jenisUkom">
            <option [ngValue]="''" disabled hidden selected>
                Pilih Jenis UKom
            </option>
            <ng-container
                *ngIf="(jenisUkomService.jenisUkomList$ | async) as jenisUkomList"
            >
                <ng-container
                    *ngIf="jenisUkomList.length > 0; else noJenisUkom"
                >
                    <option
                        *ngFor="let jenis of jenisUkomList"
                        [value]="jenis.value"
                    >
                        {{ jenis.label }}
                    </option>
                </ng-container>
            </ng-container>
            <ng-template #noJenisUkom>
                <option disabled>Tidak ada data</option>
            </ng-template>
        </select>
        <div
            *ngIf="getError('jenisUkom', 'Jenis UKom') as error"
            class="text-danger"
        >
            {{ error }}
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <app-loading-button
            [disabled]="form.invalid"
            [isLoading]="ukomRegistrationRuleService.createRuleLoading$ | async"
            [label]="'Simpan'"
            [type]="'submit'"
        >
        </app-loading-button>
    </div>
</form>
