<app-pagable [pagable]="pagable"></app-pagable>

<app-modal
    (toggle)="toggleModal()"
    *ngIf="isModalOpen$ | async"
    [enableFooter]="false"
    [title]="'Update Indikator Kompetensi'"
>
    <form [formGroup]="editIndikatorKompetensiForm">
        <div class="mb-3">
            <label class="form-label fw-bold" for="name"
                >Indikator Kompetensi<span class="text-danger">*</span></label
            >
            <textarea
                appInvalidOnTouch
                class="form-control"
                formControlName="name"
                id="name"
                placeholder="Masukan nama indikator kompetensi"
                rows="3"
            ></textarea>
            <div
                *ngIf="getErrorMessage('name', 'Nama Kompetensi') as error"
                class="invalid-feedback"
            >
                {{ error }}
            </div>
        </div>

        <div class="float-end">
            <app-loading-button
                (clicked)="onSubmit()"
                [className]="'btn btn-primary'"
                [disabled]="editIndikatorKompetensiForm.invalid"
                [isLoading]="(isSubmitLoading$ | async)"
                [label]="'Update'"
                [type]="'button'"
            ></app-loading-button>
        </div>
    </form>
</app-modal>
