<div
    *ngIf="isLoadingRWKinerja$ | async; else noLoading"
    class="d-flex justify-content-center my-5"
>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ng-template #noLoading>
    <button (click)="onBack()" class="btn btn-sm btn-outline-secondary mb-3">
        <i class="mdi mdi-chevron-left"></i> Kembali
    </button>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label" for="firstnameInput">
                Tanggal Mulai
            </label>
            <p class="border-bottom pb-2">{{ rwKinerja.dateStart }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="firstnameInput"
                >Tanggal Selesai</label
            >
            <p class="border-bottom pb-2">{{ rwKinerja.dateEnd }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="firstnameInput"
                >Akumulasi Angka Kredit</label
            >
            <p class="border-bottom pb-2">{{ rwKinerja.angkaKredit }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="firstnameInput">Rating Hasil</label>
            <p class="border-bottom pb-2">{{ rwKinerja.ratingHasilName }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="firstnameInput"
                >Rating Kinerja</label
            >
            <p class="border-bottom pb-2">{{ rwKinerja.ratingKinerjaName }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="firstnameInput"
                >Predikat Kinerja</label
            >
            <p class="border-bottom pb-2">
                {{ rwKinerja.predikatKinerjaName }}
            </p>
        </div>
        <div class="col-md-6 mb-3">
            <app-file-handler
                [inputs]="{
                files: {
                  docEvaluas: { label: 'Preview Dokumen Evaluasi', fileName: this.rwKinerja.docEvaluasi, source: this.rwKinerja.docEvaluasiUrl },
                  docPredikat: { label: 'Preview Dokumen Predikat', fileName: this.rwKinerja.docPredikat, source: this.rwKinerja.docPredikatUrl },
                  docAkumulasiAk: { label: 'Preview Dokumen Akumulasi Angka Kredit', fileName: this.rwKinerja.docAkumulasiAk, source: this.rwKinerja.docAkumulasiAkUrl },
                  docPenetapanAk: { label: 'Preview Dokumen Penetapan Angka Kredit', fileName: this.rwKinerja.docPenetapanAk, source: this.rwKinerja.docPenetapanAkUrl },
                },
                viewOnly: true
              }"
            ></app-file-handler>
        </div>
    </div>
</ng-template>
