<div class="card-body py-4">
  <div class="p-3 border rounded-circle w-fit mx-auto mb-3">
    <img src="assets/logo/kemendag-logo.svg" alt="" width="32" />
  </div>
  <div class="pb-2">
    <h5 class="card-title text-center pb-0 fs-3">Lupa Password</h5>
    <p class="text-center small text-subtitle mt-2">
      Masukkan NIP anda untuk mereset password.
    </p>
  </div>

  <div *ngIf="submitMessage$ | async as submitMessage">
    <div
      *ngIf="submitMessage.status !== ''"
      class="alert"
      [ngClass]="
        submitMessage.status === 'error' ? 'alert-danger' : 'alert-success'
      "
      role="alert"
    >
      {{ submitMessage.message }}
    </div>
  </div>

  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="row g-3 needs-validation"
  >
    <div class="col-12">
      <label for="userId" class="form-label"
        >NIP <span class="text-danger">*</span></label
      >
      <input
        type="text"
        name="userId"
        class="form-control"
        id="userId"
        formControlName="userId"
      />
      <div
        class="text-danger row"
        *ngIf="
          forgotPasswordForm.get('userId').invalid &&
          forgotPasswordForm.get('userId').touched
        "
      >
        <small *ngIf="forgotPasswordForm.get('userId').errors?.['required']"
          >NIP perlu diisi.</small
        >

        <small
          *ngIf="forgotPasswordForm.get('userId').errors?.['minlength'] || forgotPasswordForm.get('userId').errors?.['maxlength']"
          >NIP harus 18 karakter.</small
        >

        <small *ngIf="forgotPasswordForm.get('userId').errors?.['pattern']"
          >NIP harus angka.</small
        >
      </div>
    </div>

    <div class="col-12 mt-3">
      <button
        *ngIf="!(isSubmitLoading$ | async)"
        class="btn grad-button w-100"
        type="submit"
        [disabled]="forgotPasswordForm.invalid"
      >
        Kirim
      </button>

      <button
        *ngIf="isSubmitLoading$ | async"
        class="btn grad-button w-100"
        disabled
      >
        <div
          class="spinner-border"
          style="width: 19px; height: 19px"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>

      <button
        class="btn grad-button-secondary w-100 mt-2"
        (click)="navigateBack()"
      >
        Kembali ke Login
      </button>
    </div>
  </form>
</div>
