<app-pagable *ngIf="!isDetailOpen" [pagable]="pagable"></app-pagable>
<div *ngIf="rwJabatanLoading$ | async; else akpHadItem" class="d-flex justify-content-center my-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ng-template #akpHadItem>
    <form *ngIf="isDetailOpen" [formGroup]="rwJabatanForm" (ngSubmit)="submit()">
        <div *ngIf="pendingTask.remark" class="alert alert-warning" role="alert">
            <strong>Catatan Revisi : </strong>"{{pendingTask.remark}}"
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="jabatanCode" class="form-label">
                        Jabatan <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" name="jabatanCode" id="jabatanCode" formControlName="jabatanCode">
                        <option selected value="" style=" display: none;">Pilih Jabatan</option>
                        <option *ngFor="let jabatan of jabatanList" [value]="jabatan.code">
                            {{jabatan.name}}
                        </option>
                    </select>
                    <div class="feedback"
                        *ngIf="rwJabatanForm.get('jabatanCode').invalid && rwJabatanForm.get('jabatanCode').touched">
                        <small *ngIf="rwJabatanForm.get('jabatanCode').errors?.['required']">Jabatan perlu
                            dipilih.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3 d-flex flex-column">
                    <label for="jenjangCode" class="form-label">
                        Jenjang <span class="text-danger">*</span>
                    </label>
                    <div class="spinner-border" role="status" *ngIf="jenjangLoading$ | async">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <select disabled *ngIf="!jenjangList && !(jenjangLoading$ | async)" class="form-select">
                        <option selected value="" style=" display: none;">Jabatan perlu dipilih</option>
                    </select>
                    <select class="form-select" name="jenjangCode" id="jenjangCode" formControlName="jenjangCode" *ngIf="jenjangList && !(jenjangLoading$ | async)">
                        <option selected value="" style=" display: none;">Pilih Jenjang</option>
                        <option *ngFor="let jenjang of jenjangList" [value]="jenjang.code"
                            style="text-transform: capitalize;">
                            {{jenjang.name}}
                        </option>
                    </select>
                    <div class="feedback"
                        *ngIf="rwJabatanForm.get('jenjangCode').invalid && rwJabatanForm.get('jenjangCode').touched">
                        <small *ngIf="rwJabatanForm.get('jenjangCode').errors?.['required']">Jenjang perlu
                            dipilih.</small>
                    </div>
                </div>
            </div>
            <div class="row col-lg-6">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="tmt" class="form-label">
                            Terhitung Mulai Tanggal <span class="text-danger">*</span>
                        </label>
                        <input type="date" class="form-control" name="tmt" id="tmt" formControlName="tmt"
                            placeholder="Masukan nama Sekolah/Universitas/Institusi">
                        <div class="feedback" *ngIf="rwJabatanForm.get('tmt').invalid && rwJabatanForm.get('tmt').touched">
                            <small *ngIf="rwJabatanForm.get('tmt').errors?.['required']">Tanggal mulai perlu
                                diisi.</small>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <app-file-handler [inputs]="inputs"></app-file-handler>
                        <div class="feedback" *ngIf="rwJabatanForm.get('fileSkJabatan').invalid">
                            <small *ngIf="rwJabatanForm.get('fileSkJabatan').errors?.['required']">File dokumen SK jabatan
                                perlu
                                diunggah.</small>
                            <small *ngIf="rwJabatanForm.get('fileSkJabatan')?.hasError('invalidFileType')">File dokumen SK
                                jabatan harus
                                format .pdf</small>
                            <div *ngIf="rwJabatanForm.get('fileSkJabatan')?.hasError('fileTooLarge')">File dokumen SK
                                jabatan lebih dari 2MB.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-soft-secondary" (click)="back()">Kembali</button>
                    <button type="submit" class="btn btn-primary" [disabled]="rwJabatanForm.invalid">Simpan</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>