<div class="total-score-container">
    <div class="total-score-value">
        {{ score()?.score | truncateDecimal:2 }}
    </div>
</div>

<ng-container *ngFor="let competencyGroup of groupedCompetencies()">
    <div class="card mb-4 border-0 shadow-sm">
        <div class="card-header bg-primary py-3 text-white">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold mb-0 text-white">
                    {{ competencyGroup.name }}
                </h5>
                <span class="badge bg-light text-primary badge-lg fs-6">
                    {{ competencyGroup.percentage }}% ({{
                    competencyGroup.correct }}/{{ competencyGroup.total }})
                </span>
            </div>
        </div>

        <div class="card-body bg-light">
            <!-- Sub-competencies -->
            <div class="row">
                <div
                    *ngFor="let kompetensi of competencyGroup.items"
                    class="col-md-6 mb-3"
                >
                    <div class="card h-100 border-0 shadow-sm">
                        <div
                            class="card-header border-bottom-0 d-flex justify-content-between align-items-center bg-white py-3"
                        >
                            <h6 class="fw-bold mb-0">{{ kompetensi.name }}</h6>
                            <span
                                [ngClass]="{
                                    'bg-success':
                                        getIndicatorPercentage(kompetensi) >=
                                        70,
                                    'bg-warning':
                                        getIndicatorPercentage(kompetensi) >=
                                            50 &&
                                        getIndicatorPercentage(kompetensi) <
                                            70,
                                    'bg-danger':
                                        getIndicatorPercentage(kompetensi) < 50
                                }"
                                class="badge"
                            >
                                {{ getIndicatorPercentage(kompetensi) }}%
                            </span>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table-hover mb-0 table">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="ps-3">Pertanyaan</th>
                                            <th
                                                class="pe-3 text-end"
                                                style="width: 100px"
                                            >
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="
                                                let question of kompetensi.questionDtoList
                                            "
                                        >
                                            <td class="ps-3 align-middle">
                                                {{ question.question }}
                                            </td>
                                            <td
                                                class="pe-3 text-end align-middle"
                                            >
                                                <span
                                                    [ngClass]="{
                                                        'bg-success-subtle text-success': question.answerDto?.answerChoice === getCorrectAnswer(question),
                                                        'bg-danger-subtle text-danger': question.answerDto?.answerChoice !== getCorrectAnswer(question)
                                                    }"
                                                    class="badge rounded-pill"
                                                >
                                                    {{
                                                    question.answerDto?.answerChoice
                                                    ===
                                                    getCorrectAnswer(question) ?
                                                    'Benar' : 'Salah' }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
