<div class="column">
    <div class="">
        <app-profile-card></app-profile-card>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="">
        <div class="row">
            <div class="col-xl-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                    <i data-feather="briefcase" class="text-primary"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="flex-grow-1 mb-0"><span class="counter-value">AKP</span>
                                    </h4>
                                    <span class="badge bg-warning-subtle text-warning fs-12"><i
                                            class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                    <i data-feather="briefcase" class="text-primary"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="flex-grow-1 mb-0"><span class="counter-value">UKom</span>
                                    </h4>
                                    <span class="badge bg-warning-subtle text-warning fs-12"><i
                                            class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                    <i data-feather="briefcase" class="text-primary"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="flex-grow-1 mb-0"><span class="counter-value">Formasi</span>
                                    </h4>
                                    <span class="badge bg-warning-subtle text-warning fs-12"><i
                                            class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end col -->
    <!--end col-->
</div>