<div class="column">
  <div class="">
    <app-profile-card></app-profile-card>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="">
    <div class="row">
      <a class="col-xl-4" href="/akp/akp-task">
        <div class="card card-animate">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="avatar-sm flex-shrink-0">
                <span
                  class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
                >
                  <!-- <i data-feather="briefcase" class="text-primary"></i> -->
                  <lucide-angular
                    [img]="BookOpenText"
                    class="my-icon"
                  ></lucide-angular>
                </span>
              </div>
              <div class="flex-grow-1 overflow-hidden ms-3">
                <div class="d-flex align-items-center mb-3">
                  <h4 class="flex-grow-1 mb-0">
                    <span class="counter-value">AKP</span>
                  </h4>
                  <span class="badge bg-warning-subtle text-warning fs-12"
                    ><i
                      class="ri-arrow-right-s-line fs-13 align-middle me-1"
                    ></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a class="col-xl-4" href="/ukom/ukom-task">
        <div class="card card-animate">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="avatar-sm flex-shrink-0">
                <span
                  class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
                >
                  <!-- <i data-feather="briefcase" class="text-primary"></i> -->
                  <lucide-angular
                    [img]="ScrollText"
                    class="my-icon"
                  ></lucide-angular>
                </span>
              </div>
              <div class="flex-grow-1 overflow-hidden ms-3">
                <div class="d-flex align-items-center mb-3">
                  <h4 class="flex-grow-1 mb-0">
                    <span class="counter-value">UKom</span>
                  </h4>
                  <span class="badge bg-warning-subtle text-warning fs-12"
                    ><i
                      class="ri-arrow-right-s-line fs-13 align-middle me-1"
                    ></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a class="col-xl-4" href="/formasi/formasi-task">
        <div class="card card-animate">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="avatar-sm flex-shrink-0">
                <span
                  class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
                >
                  <!-- <i data-feather="briefcase" class="text-primary"></i> -->
                  <lucide-angular
                    [img]="FileText"
                    class="my-icon"
                  ></lucide-angular>
                </span>
              </div>
              <div class="flex-grow-1 overflow-hidden ms-3">
                <div class="d-flex align-items-center mb-3">
                  <h4 class="flex-grow-1 mb-0">
                    <span class="counter-value">Formasi</span>
                  </h4>
                  <span class="badge bg-warning-subtle text-warning fs-12"
                    ><i
                      class="ri-arrow-right-s-line fs-13 align-middle me-1"
                    ></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- end row -->
  </div>
  <!-- end col -->
  <!--end col-->
</div>
