<div class="row">
    <div class="col-xxl-3">
        <div class="card ">
            <div class="card-body row p-4">
                <div class="col-12">
                    <a routerLink="profile" class="btn btn-sm btn-soft-info float-end">Detail</a>
                </div>
                <div class="col-12 text-center">
                    <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                        <img src="../../../assets/no-profile.jpg"
                            class="  rounded-circle avatar-xl img-thumbnail user-profile-image"
                            alt="user-profile-image">
                        <div routerLink="profile" class="avatar-xs p-0 rounded-circle profile-photo-edit">
                            <a class="profile-img-file-input"></a>
                            <label class="profile-photo-edit avatar-xs">
                                <span class="avatar-title rounded-circle bg-light text-body">
                                    <i class="ri-pencil-line"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    <h5 class="text-muted fs-10 mb-1">NIP : {{nip}}</h5>
                    <h5 class="fs-16 mb-1">{{name}}</h5>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-8">
        <div class="row">
            <div class="col-xl-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                    <i data-feather="briefcase" class="text-primary"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="flex-grow-1 mb-0"><span class="counter-value">AKP</span>
                                    </h4>
                                    <span class="badge bg-warning-subtle text-warning fs-12"><i
                                            class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                    <i data-feather="briefcase" class="text-primary"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="flex-grow-1 mb-0"><span class="counter-value">UKom</span>
                                    </h4>
                                    <span class="badge bg-warning-subtle text-warning fs-12"><i
                                            class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2">
                                    <i data-feather="briefcase" class="text-primary"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="flex-grow-1 mb-0"><span class="counter-value">Formasi</span>
                                    </h4>
                                    <span class="badge bg-warning-subtle text-warning fs-12"><i
                                            class="ri-arrow-right-s-line fs-13 align-middle me-1"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end col -->
    <!--end col-->
</div>