<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Ubah Periode Pendaftaran Ukom</h4>
                <div class="flex-shrink-0">
                </div>
            </div>
            <div class="card-body">
                <form (submit)="submit()">
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">Tanggal Pendaftaran Dibuka</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" [(ngModel)]="periodePendaftaran.startDate"
                                name="start_date">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">Tanggal Pendaftaran Ditutup</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" [(ngModel)]="periodePendaftaran.endDate"
                                name="end_date">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="ms-2 form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                (change)="periodePendaftaran.notify = !periodePendaftaran.notify">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Kirim Pengumuman
                                input</label>
                        </div>
                    </div>
                    <div *ngIf="periodePendaftaran.notify" class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label fw-bold">Pengumuman : </label>
                        <editor [(ngModel)]="editorContent" name="editorContent" [init]="init"
                            (onEditorChange)="onEditorChange($event)">
                        </editor>
                    </div>

                    <div class="text-center float-end">
                        <button type="submit" class="btn btn-sm btn-success">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>