<div class="row">
  <div class="col-xl-4">
    <!-- <div class="card card-animate" [routerLink]="'/formasi/formasi-task/JB11'"> -->
    <a class="card card-animate" [routerLink]="'/formasi/formasi-task/JB11'">
      <!-- <a class="card card-animate" href="/formasi/formasi-task/JB11"> -->
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
            >
              <lucide-angular [img]="Icon" class="my-icon"></lucide-angular>
            </span>
          </div>
          <div class="flex-grow-1 overflow-hidden ms-3">
            <div class="d-flex align-items-center mb-3">
              <h4 class="flex-grow-1 mb-0">
                <span class="counter-value">Penera</span>
              </h4>
              <span
                [ngClass]="
                  isSubmitted('JB11')
                    ? 'badge bg-success-subtle text-success fs-12'
                    : 'badge bg-warning-subtle text-warning fs-12'
                "
              >
                <i
                  [ngClass]="
                    isSubmitted('JB11')
                      ? 'ri-check-line text-success'
                      : 'ri-arrow-right-s-line'
                  "
                  class="fs-13 align-middle me-1"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-4">
    <a class="card card-animate" [routerLink]="'/formasi/formasi-task/JB10'">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
            >
              <lucide-angular [img]="Icon" class="my-icon"></lucide-angular>
              <!-- <i data-feather="briefcase" class="text-primary"></i> -->
            </span>
          </div>
          <div class="flex-grow-1 overflow-hidden ms-3">
            <div class="d-flex align-items-center mb-3">
              <h4 class="flex-grow-1 mb-0">
                <span class="counter-value">Pengamat Tera</span>
              </h4>
              <span
                [ngClass]="
                  isSubmitted('JB10')
                    ? 'badge bg-success-subtle text-success fs-12'
                    : 'badge bg-warning-subtle text-warning fs-12'
                "
              >
                <i
                  [ngClass]="
                    isSubmitted('JB10')
                      ? 'ri-check-line text-success'
                      : 'ri-arrow-right-s-line'
                  "
                  class="fs-13 align-middle me-1"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-4">
    <a class="card card-animate" [routerLink]="'/formasi/formasi-task/JB8'">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
            >
              <lucide-angular [img]="Icon" class="my-icon"></lucide-angular>
              <!-- <i data-feather="briefcase" class="text-primary"></i> -->
            </span>
          </div>
          <div class="flex-grow-1 overflow-hidden ms-3">
            <div class="d-flex align-items-center mb-3">
              <h4 class="flex-grow-1 mb-0">
                <span class="counter-value">Pengawas Kemetrologian</span>
              </h4>
              <span
                [ngClass]="
                  isSubmitted('JB8')
                    ? 'badge bg-success-subtle text-success fs-12'
                    : 'badge bg-warning-subtle text-warning fs-12'
                "
              >
                <i
                  [ngClass]="
                    isSubmitted('JB8')
                      ? 'ri-check-line text-success'
                      : 'ri-arrow-right-s-line'
                  "
                  class="fs-13 align-middle me-1"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-4">
    <a class="card card-animate" [routerLink]="'/formasi/formasi-task/JB7'">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
            >
              <lucide-angular [img]="Icon" class="my-icon"></lucide-angular>
              <!-- <i data-feather="briefcase" class="text-primary"></i> -->
            </span>
          </div>
          <div class="flex-grow-1 overflow-hidden ms-3">
            <div class="d-flex align-items-center mb-3">
              <h4 class="flex-grow-1 mb-0">
                <span class="counter-value">Penguji Mutu Barang</span>
              </h4>
              <span
                [ngClass]="
                  isSubmitted('JB7')
                    ? 'badge bg-success-subtle text-success fs-12'
                    : 'badge bg-warning-subtle text-warning fs-12'
                "
              >
                <i
                  [ngClass]="
                    isSubmitted('JB7')
                      ? 'ri-check-line text-success'
                      : 'ri-arrow-right-s-line'
                  "
                  class="fs-13 align-middle me-1"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-4">
    <a class="card card-animate" [routerLink]="'/formasi/formasi-task/JB4'">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
            >
              <lucide-angular [img]="Icon" class="my-icon"></lucide-angular>
              <!-- <i data-feather="briefcase" class="text-primary"></i> -->
            </span>
          </div>
          <div class="flex-grow-1 overflow-hidden ms-3">
            <div class="d-flex align-items-center mb-3">
              <h4 class="flex-grow-1 mb-0">
                <span class="counter-value">Pengawas Perdagangan</span>
              </h4>
              <span
                [ngClass]="
                  isSubmitted('JB4')
                    ? 'badge bg-success-subtle text-success fs-12'
                    : 'badge bg-warning-subtle text-warning fs-12'
                "
              >
                <i
                  [ngClass]="
                    isSubmitted('JB4')
                      ? 'ri-check-line text-success'
                      : 'ri-arrow-right-s-line'
                  "
                  class="fs-13 align-middle me-1"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-4">
    <a class="card card-animate" [routerLink]="'/formasi/formasi-task/JB1'">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-primary-subtle text-primary rounded-2 fs-2"
            >
              <lucide-angular [img]="Icon" class="my-icon"></lucide-angular>
              <!-- <i data-feather="briefcase" class="text-primary"></i> -->
            </span>
          </div>
          <div class="flex-grow-1 overflow-hidden ms-3">
            <div class="d-flex align-items-center mb-3">
              <h4 class="flex-grow-1 mb-0">
                <span class="counter-value">Analis Perdagangan</span>
              </h4>
              <span
                [ngClass]="
                  isSubmitted('JB1')
                    ? 'badge bg-success-subtle text-success fs-12'
                    : 'badge bg-warning-subtle text-warning fs-12'
                "
              >
                <i
                  [ngClass]="
                    isSubmitted('JB1')
                      ? 'ri-check-line text-success'
                      : 'ri-arrow-right-s-line'
                  "
                  class="fs-13 align-middle me-1"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
