<div
    *ngIf="isLoading$ | async; else indikatorKompetensiContent"
    class="d-flex justify-content-center my-5"
>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ng-template #indikatorKompetensiContent
    ><button class="btn btn-sm btn-outline-secondary mb-3" (click)="onBack()">
        <i class="mdi mdi-chevron-left"></i> Kembali
    </button>
    <div class="card">
        <div class="card-header">
            <h5 class="m-0">
                <i class="mdi mdi-certificate me-2"></i> Informasi Indikator
                Komptensi
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label class="form-label">Kode Indikator Kompetensi</label>
                    <p>{{ detailIndikatorKompetensi.code }}</p>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="form-label">Kompetensi </label>
                    <p>{{ detailKompetensi.name }}</p>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="form-label">Indikator Kompetensi</label>
                    <p>{{ detailIndikatorKompetensi.name }}</p>
                </div>
            </div>
        </div>
    </div>

    <section *ngIf="questionsList.length > 0" class="">
        <div class="card border-0">
            <div class="row question-container mb-3 pb-2">
                <label for="" class="p-0 fw-bold">Daftar Pertanyaan</label>
                <div class="col-sm-12 mt-2">
                    <ng-container
                        *ngFor="let pertanyaan of questionsList; index as i"
                    >
                        <div class="row card">
                            <div
                                class="d-flex justify-content-between align-items-center mb-2"
                            >
                                <label for="" class="col-form-label fw-bold"
                                    >Pertanyaan {{ i + 1 }}</label
                                >
                                <a
                                    class="btn btn-sm btn-soft-danger"
                                    (click)="deleteQuestion(pertanyaan.id)"
                                    >Hapus</a
                                >
                            </div>

                            <div class="col">
                                <p>{{ pertanyaan.question }}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</ng-template>
