<form [formGroup]="examinerForm" (ngSubmit)="submit()">
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label fw-bold"
            >Nama <span class="text-danger">*</span></label
        >
        <div class="col-sm-10">
            <input
                type="text"
                id="name"
                class="form-control"
                name="name"
                formControlName="name"
                placeholder="Masukan nama penguji"
            />
            <div
                *ngIf="getErrorMessage('name','Nama' ) as error"
                class="text-danger"
            >
                {{ error }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="nip" class="col-sm-2 col-form-label fw-bold"
            >Username <span class="text-danger">*</span></label
        >
        <div class="col-sm-10">
            <input
                type="text"
                id="nip"
                class="form-control"
                name="nip"
                formControlName="nip"
                placeholder="Masukan Username"
            />
            <div
                *ngIf="getErrorMessage('nip','Username' ) as error"
                class="text-danger"
            >
                {{ error }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="jenisKelaminCode" class="col-sm-2 col-form-label fw-bold"
            >Jenis Kelamin <span class="text-danger">*</span></label
        >
        <div class="col-sm-10">
            <select
                id="jenisKelaminCode"
                class="form-select"
                name="jenisKelaminCode"
                formControlName="jenisKelaminCode"
            >
                <option [value]="'F'">Wanita</option>
                <option [value]="'M'">Pria</option>
            </select>
            <div
                *ngIf="getErrorMessage('jenisKelaminCode','Jenis Kelamin' ) as error"
                class="text-danger"
            >
                {{ error }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label fw-bold"
            >Password <span class="text-danger">*</span></label
        >
        <div class="col-sm-10">
            <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                formControlName="password"
                placeholder="Masukan password"
            />
            <div
                *ngIf="getErrorMessage('password','Password' ) as error"
                class="text-danger"
            >
                {{ error }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="confirmPassword" class="col-sm-2 col-form-label fw-bold"
            >Konfirmasi Password <span class="text-danger">*</span></label
        >
        <div class="col-sm-10">
            <input
                type="password"
                class="form-control"
                id="confirmPassword"
                required
                formControlName="confirmPassword"
            />
            <div
                *ngIf="getErrorMessage('confirmPassword','Konfirmasi Password' ) as error"
                class="text-danger"
            >
                {{ error }}
            </div>
        </div>
    </div>
    <div class="row text-end">
        <app-loading-button
            [isLoading]="submitLoading$ | async"
            [disabled]="examinerForm.invalid"
            [className]="'btn btn-primary'"
            [label]="'Simpan'"
            [type]="'submit'"
        ></app-loading-button>
    </div>
</form>
