<form (ngSubmit)="submit()" [formGroup]="examinerForm">
    <div class="mb-3">
        <label class="form-label fw-bold" for="name"
            >Nama <span class="text-danger">*</span></label
        >
        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="name"
            id="name"
            name="name"
            placeholder="Masukan nama penguji"
            type="text"
        />
        <div
            *ngIf="getErrorMessage('name','Nama' ) as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="nip"
            >Username <span class="text-danger">*</span></label
        >
        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="nip"
            id="nip"
            name="nip"
            placeholder="Masukan Username"
            type="text"
        />
        <div
            *ngIf="getErrorMessage('nip','Username' ) as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="jenisKelaminCode"
            >Jenis Kelamin <span class="text-danger">*</span></label
        >
        <select
            appInvalidOnTouch
            class="form-select"
            formControlName="jenisKelaminCode"
            id="jenisKelaminCode"
            name="jenisKelaminCode"
        >
            <option hidden="" selected value="">
                Pilih jenis kelamin penguji
            </option>
            <option [value]="'F'">Wanita</option>
            <option [value]="'M'">Pria</option>
        </select>
        <div
            *ngIf="getErrorMessage('jenisKelaminCode','Jenis Kelamin' ) as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="password"
            >Password <span class="text-danger">*</span></label
        >
        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="password"
            id="password"
            name="password"
            placeholder="Masukan password"
            type="password"
        />
        <div
            *ngIf="getErrorMessage('password','Password' ) as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="confirmPassword"
            >Konfirmasi Password <span class="text-danger">*</span></label
        >
        <input
            appInvalidOnTouch
            class="form-control"
            formControlName="confirmPassword"
            id="confirmPassword"
            placeholder="Masukan konfirmasi password"
            type="password"
        />
        <div
            *ngIf="getErrorMessage('confirmPassword','Konfirmasi Password' ) as error"
            class="invalid-feedback"
        >
            {{ error }}
        </div>
    </div>
    <div class="text-end">
        <app-loading-button
            [className]="'btn btn-primary'"
            [disabled]="examinerForm.invalid"
            [isLoading]="submitLoading$ | async"
            [label]="'Simpan'"
            [type]="'submit'"
        ></app-loading-button>
    </div>
</form>
