<div
    *ngIf="loading$ | async; else hadItem"
    class="d-flex justify-content-center"
>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ng-template #hadItem>
    <ng-container *ngIf="!isEditOpen; else openEdit">
        <div class="">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="firstnameInput">
                        <i class="mdi mdi-account-circle text-muted me-2"></i
                        >Nama Lengkap
                    </label>
                    <p class="border-bottom pb-2">{{ jf.name }}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label" for="phoneInput">
                        <i class="mdi mdi-phone text-muted me-2"></i> No. HP
                    </label>
                    <p class="border-bottom pb-2">{{ jf.phone ?? '-' }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="emailInput">
                        <i class="mdi mdi-email text-muted me-2"></i> Email
                    </label>
                    <p class="border-bottom pb-2">{{ jf.email ?? '-' }}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label" for="birthplaceInput">
                        <i class="mdi mdi-map-marker text-muted me-2"></i>
                        Tempat Lahir
                    </label>
                    <p class="border-bottom pb-2">{{ jf.tempatLahir ?? '-'}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label" for="birthdateInput">
                        <i class="mdi mdi-calendar-range text-muted me-2"></i>
                        Tanggal Lahir
                    </label>
                    <p class="border-bottom pb-2">
                        {{ jf.tanggalLahir ?? '-'}}
                    </p>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label" for="genderInput">
                        <i
                            class="mdi mdi-gender-male-female text-muted me-2"
                        ></i>
                        Jenis Kelamin
                    </label>
                    <p class="border-bottom pb-2">
                        {{ jf.jenisKelaminName ?? '-'}}
                    </p>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label" for="nikInput">
                        <i
                            class="mdi mdi-card-account-details text-muted me-2"
                        ></i>
                        NIK
                    </label>
                    <p class="border-bottom pb-2">{{ jf.nik?? '-' }}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <app-file-handler [inputs]="inputs"></app-file-handler>
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-end mt-3">
                    <a (click)="toggleEdit()" class="btn btn-primary"
                        >Ajukan Perubahan</a
                    >
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #openEdit>
        <form (ngSubmit)="submit()" [formGroup]="jfDetailForm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label" for="name">
                            Nama Lengkap <span class="text-danger">*</span>
                        </label>
                        <input
                            class="form-control"
                            formControlName="name"
                            id="name"
                            name="name"
                            placeholder="Masukkan nama lengkap"
                            type="text"
                        />
                        <div
                            *ngIf="getErrorMessage('name', 'Nama lengkap') as error"
                            class="text-danger"
                        >
                            {{ error }}
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" for="phone">
                                No. HP <span class="text-danger">*</span>
                            </label>
                            <input
                                class="form-control"
                                formControlName="phone"
                                id="phone"
                                name="phone"
                                placeholder="Masukkan No. HP"
                                type="text"
                            />
                            <div
                                *ngIf="getErrorMessage('phone', 'No. HP') as error"
                                class="text-danger"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" for="email">
                                Email <span class="text-danger">*</span>
                            </label>
                            <input
                                class="form-control"
                                formControlName="email"
                                id="email"
                                name="email"
                                placeholder="Masukkan email"
                                type="email"
                            />
                            <div
                                *ngIf="getErrorMessage('email', 'Email') as error"
                                class="text-danger"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" for="tempatLahir">
                                Tempat Lahir <span class="text-danger">*</span>
                            </label>
                            <input
                                class="form-control"
                                formControlName="tempatLahir"
                                id="tempatLahir"
                                name="tempatLahir"
                                placeholder="Masukkan Tempat Lahir"
                                type="text"
                            />
                            <div
                                *ngIf="getErrorMessage('tempatLahir', 'Tempat Lahir') as error"
                                class="text-danger"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" for="tanggalLahir">
                                Tanggal Lahir <span class="text-danger">*</span>
                            </label>
                            <input
                                class="form-control"
                                formControlName="tanggalLahir"
                                id="tanggalLahir"
                                name="tanggalLahir"
                                placeholder="Masukkan Tanggal Lahir"
                                type="date"
                            />
                            <div
                                *ngIf="getErrorMessage('tanggalLahir', 'Tanggal Lahir') as error"
                                class="text-danger"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label" for="jenisKelaminCode">
                                Jenis Kelamin <span class="text-danger">*</span>
                            </label>
                            <select
                                class="form-select"
                                formControlName="jenisKelaminCode"
                                name="jenisKelaminCode"
                            >
                                <option hidden selected value="">
                                    Pilih Jenis Kelamin
                                </option>
                                <option
                                    *ngFor="let jenisKelamin of jenisKelaminList"
                                    [value]="jenisKelamin.code"
                                >
                                    {{ jenisKelamin.name }}
                                </option>
                            </select>
                            <div
                                *ngIf="
              getErrorMessage('jenisKelaminCode', 'Jenis Kelamin') as error
            "
                                class="text-danger"
                            >
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="mb-3">
                                <label class="form-label" for="nik">
                                    NIK <span class="text-danger">*</span>
                                </label>
                                <input
                                    class="form-control"
                                    formControlName="nik"
                                    id="nik"
                                    name="nik"
                                    placeholder="Masukkan NIK"
                                    type="text"
                                />
                                <div
                                    *ngIf="getErrorMessage('nik', 'NIK') as error"
                                    class="text-danger"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <app-file-handler
                                    [inputs]="inputs"
                                ></app-file-handler>
                                <div
                                    *ngIf="getErrorMessage('fileKtp', 'Dokumen KTP') as error"
                                    class="text-danger"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="hstack justify-content-end gap-2">
                        <a
                            (click)="toggleEdit()"
                            class="btn btn-soft-secondary me-1"
                            >Kembali</a
                        >
                        <ng-container
                            *ngIf="submitLoading$ | async; else noLoading"
                        >
                            <button class="btn btn-primary" disabled>
                                <div
                                    class="spinner-border spinner-sm-custom"
                                    role="status"
                                >
                                    <span class="visually-hidden"
                                        >Loading...</span
                                    >
                                </div>
                            </button>
                        </ng-container>
                        <ng-template #noLoading>
                            <button
                                [disabled]="jfDetailForm.invalid || (submitLoading$ | async)"
                                class="btn btn-primary"
                                type="submit"
                            >
                                Simpan
                            </button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</ng-template>
