<section>
    <div class="col-lg-12">
        <div class="row">
            <app-file-handler [inputs]="inputs"></app-file-handler>
            <a class="link d-block mt-3" href="#" (click)="handleDownloadTemplate(); $event.preventDefault()">
                <span class="mdi mdi-download"></span>
                Download template file nilai pelatihan teknis
            </a>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <ng-container *ngIf="isLoading$ | async; else noLoading">
                <button class="btn btn-success float-end" disabled>
                    <div class="spinner-border spinner-sm-custom" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </ng-container>

            <ng-template #noLoading>
                <button type="submit" class="btn btn-success float-end" (click)="submit()"
                    [disabled]="isAnyFileMissing()">
                    Import
                </button>
            </ng-template>
        </div>
    </div>
</section>