/* You can add global styles to this file, and also import other style files */
.scroll-container {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.feedback {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.gradient-pattern-background {
    background-color: rgba(243, 246, 249, 1);
}

.spinner-sm-custom {
    width: 19px !important;
    height: 19px !important;
}

.grad-button {
  color: white !important;
  background: linear-gradient(45deg, #2967be, #49ab49) !important;
  border: none !important;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(90deg, #49ab49, #2967be) !important;
  }
}

