/* You can add global styles to this file, and also import other style files */
.scroll-container {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.feedback {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.gradient-pattern-background {
    background-color: rgba(243, 246, 249, 1);
}

.spinner-sm-custom {
    width: 19px !important;
    height: 19px !important;
}
