<ng-container *ngIf="activeTab() === 'list'">
    <div
        class="d-flex flex-column flex-md-row justify-content-end align-items-end mb-3 gap-2"
    >
        <app-loading-button
            (clicked)="finishExaminerAssessment()"
            [className]="'btn btn-primary'"
            [icon]="'mdi mdi-check-decagram'"
            [isLoading]="isFinishExaminerAssessmentLoading()"
            [label]="'1. Finalisasi Penilaian Penguji'"
        ></app-loading-button>

        <app-loading-button
            (clicked)="sendGradeToParticipants()"
            [className]="'btn btn-primary'"
            [icon]="'mdi mdi-send-check-outline'"
            [isLoading]="isSendGradeToParticipantsLoading()"
            [label]="'2. Kirim Nilai ke Peserta'"
        ></app-loading-button>

        <app-loading-button
            (clicked)="handleOpenBatchUploadModal()"
            [className]="'btn btn-primary'"
            [icon]="'mdi mdi-upload'"
            [label]="'3. Upload Batch Surat Rekomendasi'"
        ></app-loading-button>
    </div>

    <app-pagable [pagable]="pagable" [refresh]="refresh()"></app-pagable>

    <app-modal
        (toggle)="toggleModal()"
        *ngIf="isModalOpen$ | async"
        [enableFooter]="false"
        [title]="'Upload Rekomendasi Hasil UKom'"
    >
        <app-file-handler [inputs]="inputs"></app-file-handler>
        <ng-container *ngIf="isSubmitLoading$ | async; else noLoading">
            <button class="btn btn-success float-end" disabled>
                <div class="spinner-border spinner-sm-custom" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </ng-container>
        <ng-template #noLoading>
            <button
                (click)="onSubmit()"
                [disabled]="!payload.file_rekomendasi || (isSubmitLoading$ | async)"
                class="btn btn-success float-end"
                type="button"
            >
                Simpan
            </button>
        </ng-template>
    </app-modal>

    <app-modal
        (toggle)="handleCloseBatchUploadModal()"
        *ngIf="isModalUploadBatchOpen$ | async"
        [enableFooter]="false"
        [title]="'Upload Batch Rekomendasi Hasil UKom'"
    >
        <app-ukom-grade-upload-batch
            (uploadSuccess)="handleCloseBatchUploadModal(); refreshPagable()"
        ></app-ukom-grade-upload-batch
    ></app-modal>
</ng-container>

<app-ukom-grade-import *ngIf="activeTab() === 'import'"></app-ukom-grade-import>

<app-ukom-grade-export *ngIf="activeTab() === 'export'"></app-ukom-grade-export>

<app-ukom-grade-surat-rekom
    *ngIf="activeTab() === 'surat-rekom'"
></app-ukom-grade-surat-rekom>

<app-ukom-grade-surat-rekom-setup
    *ngIf="activeTab() === 'pengaturan-surat-rekom'"
></app-ukom-grade-surat-rekom-setup>
