<section>
  <div class="row">
    <div class="col-12">
      <h4 class="fw-bold">Rekapitulasi Usulan Formasi</h4>

      <a
        class="btn btn-primary float-end mb-2"
        (click)="
          preview(formasiDetail.rekomendasi, formasiDetail.rekomendasiUrl)
        "
        >Download File Rekomendasi</a
      >
    </div>
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="align-middle">No</th>
            <th scope="col" class="align-middle">Name Jabatan</th>
            <th scope="col" class="align-middle">Jenjang Jabatan</th>
            <th scope="col" class="align-middle">
              Rekapitulasi Usulan Formasi
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="
              let item of formasiDetail.formasiDetailDtoList;
              let i = index
            "
          >
            <tr
              *ngFor="let formasi of item.formasiResultDtoList; let j = index"
              [class.highlight]="hoveredJabatanIndex === i"
              (mouseover)="hoverJabatan(i, true)"
              (mouseleave)="hoverJabatan(i, false)"
              [class.highlight]="hoveredJabatanIndex === i"
            >
              <td
                *ngIf="j === 0"
                class="align-middle"
                [attr.rowspan]="item.formasiResultDtoList.length"
                [class.highlight]="hoveredJabatanIndex === i"
              >
                {{ i + 1 }}
              </td>
              <td
                *ngIf="j === 0"
                class="align-middle"
                [attr.rowspan]="item.formasiResultDtoList.length"
                [class.highlight]="hoveredJabatanIndex === i"
              >
                {{ item.jabatanName }}
              </td>
              <td class="align-middle">{{ formasi.jenjangName }}</td>
              <td class="align-middle">
                {{ formasi.result || 0 }}
              </td>
            </tr>
          </ng-container>

          <tr>
            <td colspan="3" class="align-middle text-center fw-bold">
              Jumlah Usulan Formasi
            </td>
            <td class="align-middle fw-bold">
              {{ getTotalRekapitulasi() }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
