<section>
    <button (click)="goBack()" class="btn btn-sm btn-outline-secondary mb-3">
        <i class="mdi mdi-chevron-left"></i> Kembali
    </button>
    <form (ngSubmit)="submit()" [formGroup]="examScheduleForm">
        <div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label fw-bold"
                    >Waktu Mulai <span class="text-danger">*</span></label
                >
                <div class="col-sm-10">
                    <input
                        class="form-control"
                        formControlName="startTime"
                        type="datetime-local"
                    />
                    <div
                        *ngIf="getError('startTime', 'Waktu Mulai')"
                        class="text-danger"
                    >
                        {{ getError('startTime', 'Waktu Mulai') }}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label fw-bold"
                    >Waktu Selesai <span class="text-danger">*</span></label
                >
                <div class="col-sm-10">
                    <input
                        class="form-control"
                        formControlName="endTime"
                        type="datetime-local"
                    />
                    <div
                        *ngIf="getError('endTime', 'Waktu Selesai')"
                        class="text-danger"
                    >
                        {{ getError('endTime', 'Waktu Selesai') }}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label fw-bold"
                    >Jenis UKom <span class="text-danger">*</span></label
                >
                <div class="col-sm-10">
                    <select class="form-select" formControlName="examTypeCode">
                        <option disabled hidden selected value="">
                            Pilih Jenis UKom
                        </option>
                        <option
                            *ngFor="let jenisUkom of jenisUkomList$ | async"
                            [value]="jenisUkom.code"
                        >
                            {{ jenisUkom.name }}
                        </option>
                    </select>
                    <div
                        *ngIf="getError('examTypeCode', 'Jenis UKom')"
                        class="text-danger"
                    >
                        {{ getError('examTypeCode', 'Jenis UKom') }}
                    </div>
                </div>
            </div>

            <div
                *ngIf="examScheduleForm.get('duration')?.hasValidator(requiredValidator)"
                class="row mb-3"
            >
                <label class="col-sm-2 col-form-label fw-bold"
                    >Durasi <span class="text-danger">*</span></label
                >
                <div class="col-sm-10">
                    <div class="input-group">
                        <input
                            class="form-control"
                            formControlName="duration"
                            min="1"
                            placeholder="Masukkan durasi"
                            type="number"
                        />
                        <span class="input-group-text">menit</span>
                    </div>
                    <div
                        *ngIf="getError('duration', 'Durasi')"
                        class="text-danger"
                    >
                        {{ getError('duration', 'Durasi') }}
                    </div>
                    <small class="form-text text-muted">
                        Durasi ujian dalam menit
                    </small>
                </div>
            </div>

            <div *ngIf="isCatExamType()" class="row mb-3">
                <label class="col-sm-2 col-form-label fw-bold"
                    >Secret Key <span class="text-danger">*</span></label
                >
                <div class="col-sm-10">
                    <div class="input-group">
                        <input
                            class="form-control"
                            formControlName="secretKey"
                            placeholder="Auto-generated secret key"
                            type="text"
                        />
                        <button
                            (click)="generateSecretKey()"
                            class="btn btn-outline-secondary"
                            title="Generate secret key"
                            type="button"
                        >
                            <i class="mdi mdi-shuffle-variant"></i>
                        </button>
                    </div>
                    <div
                        *ngIf="getError('secretKey', 'Secret Key')"
                        class="text-danger"
                    >
                        {{ getError('secretKey', 'Secret Key') }}
                    </div>
                    <small class="form-text text-muted"
                        >Klik ikon untuk menghasilkan kunci acak yang
                        aman.</small
                    >
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label fw-bold">Peserta</label>
                <div class="col-sm-10">
                    <app-multi-select
                        [options]="participants"
                        formControlName="participantIdList"
                        placeholder="Pilih Peserta"
                    ></app-multi-select>
                    <small class="form-text text-muted"
                        >Kosongkan jika ingin seluruh perseta ikut ujian.
                    </small>
                </div>
            </div>

            <div *ngIf="!isCatExamType()" class="row mb-3">
                <label class="col-sm-2 col-form-label fw-bold"
                    >Penguji <span class="text-danger">*</span>
                </label>
                <div class="col-sm-10">
                    <app-multi-select-api
                        [fetchFunction]="fetchExaminers"
                        [pageSize]="20"
                        [searchParamName]="'like_user|name'"
                        formControlName="examinerIdList"
                        placeholder="Pilih Penguji"
                        searchPlaceholder="Cari penguji..."
                    ></app-multi-select-api>
                    <div
                        *ngIf="getError('examinerIdList', 'Penguji') as error"
                        class="text-danger"
                    >
                        {{ error}}
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mb-3 gap-1">
            <app-loading-button
                [className]="'btn btn-primary'"
                [disabled]="examScheduleForm.invalid"
                [isLoading]="submitLoading()"
                [label]="'Simpan'"
                [type]="'submit'"
            ></app-loading-button>
        </div>
    </form>
    <app-pagable [pagable]="pagable" [refresh]="refresh"></app-pagable>

    <ng-container *ngIf="isUpdateModalOpen">
        <app-modal
            (toggle)="isUpdateModalOpen = !isUpdateModalOpen"
            [enableFooter]="false"
            [size]="'lg'"
            [title]="'Edit Jadwal Ujian'"
        >
            <app-ukom-exam-schedule-update
                (refresh)="refresh = !refresh; isUpdateModalOpen = false"
                [examScheduleId]="selectedExamSchedule.id"
                [roomUkomId]="id"
            ></app-ukom-exam-schedule-update>
        </app-modal>
    </ng-container>
</section>
