<ng-container *ngIf="isLoading$ | async; else dashboardContent">
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-container>

<ng-template #dashboardContent>
    <section>
        <!-- Room Information -->
        <div class="card shadow-sm border-0 mb-4" *ngIf="roomUkom.id">
            <div class="card-body">
                <h3 class="card-title mb-2 fw-semibold text-primary">
                    {{ roomUkom.name }}
                </h3>

                <ul class="list-unstyled mb-3">
                    <li>
                        <strong>Jabatan:</strong> {{ roomUkom.jabatanName }}
                    </li>
                    <li>
                        <strong>Jenjang:</strong> {{ roomUkom.jenjangName }}
                    </li>
                    <li *ngIf="roomUkom.bidangJabatanName">
                        <strong>Bidang Jabatan:</strong>
                        {{ roomUkom.bidangJabatanName }}
                    </li>
                </ul>

                <p class="mb-0">
                    <ng-container *ngIf="roomUkom.vidCallLink; else noLink">
                        <a [href]="getAbsoluteUrl(roomUkom.vidCallLink)" target="_blank" class="text-decoration-none"
                            data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="roomUkom.vidCallLink">
                            <span class="badge bg-primary">Join Zoom</span>
                        </a>
                    </ng-container>
                    <ng-template #noLink>
                        <span class="text-danger fst-italic">Belum ada link Zoom</span>
                    </ng-template>
                </p>
            </div>
        </div>

        <!-- Exam Schedule -->
        <ng-container *ngIf="roomUkom?.examScheduleDtoList.length > 0; else emptyState">
            <!-- <div class="list-group">
                <div class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-sm"
                    *ngFor="let exam of roomUkom.examScheduleDtoList">
                    <div>
                        <h5>{{ exam.examTypeCode }}</h5>
                        <p>
                            {{ exam.startTime | formatExamSchedule: exam.endTime }}
                        </p>
                    </div>
                    <div class="d-flex align-items-end gap-2 flex-sm-row flex-column mt-2 mt-sm-0">
                        <ng-container *ngIf="exam.examTypeCode === 'CAT'">
                            <app-loading-button [isLoading]="isStartCATLoading$ | async" [disabled]="!canStartExam(
                                            exam.startTime,
                                            exam.endTime
                                        ) ||
                                        (scoreMap['CAT']?.score !== null &&
                                            scoreMap['CAT']?.score !==
                                                undefined)" [label]="'Mulai'" [className]="'btn btn-primary'" *ngIf="
                                        canStartExam(
                                            exam.startTime,
                                            exam.endTime
                                        ) &&
                                        (scoreMap['CAT']?.score === null ||
                                            scoreMap['CAT']?.score ===
                                                undefined)
                                    " (clicked)="startExam(
                                            exam.roomUkomId,
                                            exam.examTypeCode
                                        )"></app-loading-button>

                            <button class="btn btn-success" *ngIf="
                                        scoreMap['CAT']?.score !== null &&
                                        scoreMap['CAT']?.score !== undefined
                                    " (click)="toggleModal()">
                                Lihat Nilai
                            </button>
                        </ng-container>

                        <ng-container *ngIf="exam.examTypeCode === 'MAKALAH'">
                            <app-loading-button *ngIf="
                                        canStartExam(
                                            exam.startTime,
                                            exam.endTime
                                        ) ||
                                        scoreMap['MAKALAH']?.score == null ||
                                            scoreMap['MAKALAH']?.score ===
                                                undefined
                                    " [className]="'btn btn-primary'" (clicked)=" startExam(
                                            exam.roomUkomId,
                                            exam.examTypeCode
                                        )" [disabled]="!canStartExam(
                                            exam.startTime,
                                            exam.endTime
                                        ) ||
                                        (scoreMap['MAKALAH']?.score !== null &&
                                            scoreMap['MAKALAH']?.score !==
                                                undefined)" [isLoading]="isMakalahLoading$ | async"
                                [label]="'Upload Makalah'"></app-loading-button>
                            <button class="btn btn-success " (click)="viewUploadedMakalah()" *ngIf="
                                        scoreMap['MAKALAH']?.score !== null &&
                                        scoreMap['MAKALAH']?.score !== undefined
                                    ">
                                Lihat Makalah
                            </button>
                        </ng-container>
                    </div>
                </div>
            </div> -->
            <div class="accordion" id="examAccordion">
                <div class="accordion-item" *ngFor="let exam of roomUkom.examScheduleDtoList; let i = index">
                    <h2 class="accordion-header" [id]="'heading' + i">
                        <button class="accordion-button" [class.collapsed]="!isInitiallyOpen(exam.examTypeCode)"
                            type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"
                            [attr.aria-expanded]="isInitiallyOpen(exam.examTypeCode)"
                            [attr.aria-controls]="'collapse' + i">
                            {{ exam.examTypeCode }}
                        </button>
                    </h2>
                    <div [id]="'collapse' + i" class="accordion-collapse collapse"
                        [class.show]="isInitiallyOpen(exam.examTypeCode)" [attr.aria-labelledby]="'heading' + i"
                        data-bs-parent="#examAccordion">
                        <div class="accordion-body">
                            <p>
                                <strong>Jadwal:</strong>
                                {{ exam.startTime | formatExamSchedule: exam.endTime }}
                            </p>

                            <div class="d-flex align-items-end gap-2 flex-sm-row flex-column">
                                <ng-container *ngIf="exam.examTypeCode === 'CAT'">
                                    <app-loading-button [isLoading]="isStartCATLoading$ | async"
                                        [disabled]="!canStartExam(exam.startTime, exam.endTime) ||
                                                (scoreMap['CAT']?.score !== null && scoreMap['CAT']?.score !== undefined)" [label]="'Mulai'" [className]="'btn btn-primary'"
                                        *ngIf="canStartExam(exam.startTime, exam.endTime) &&
                                                (scoreMap['CAT']?.score === null || scoreMap['CAT']?.score === undefined)"
                                        (clicked)="startExam(exam.roomUkomId, exam.examTypeCode)">
                                    </app-loading-button>

                                    <button class="btn btn-success"
                                        *ngIf="scoreMap['CAT']?.score !== null && scoreMap['CAT']?.score !== undefined"
                                        (click)="toggleModal()">
                                        Lihat Nilai
                                    </button>
                                </ng-container>

                                <ng-container *ngIf="exam.examTypeCode === 'MAKALAH'">
                                    <app-loading-button *ngIf="canStartExam(exam.startTime, exam.endTime) ||
                                                scoreMap['MAKALAH']?.score == null ||
                                                scoreMap['MAKALAH']?.score === undefined"
                                        [className]="'btn btn-primary'"
                                        (clicked)="startExam(exam.roomUkomId, exam.examTypeCode)"
                                        [disabled]="!canStartExam(exam.startTime, exam.endTime) ||
                                                (scoreMap['MAKALAH']?.score !== null && scoreMap['MAKALAH']?.score !== undefined)" [isLoading]="isMakalahLoading$ | async"
                                        [label]="'Upload Makalah'">
                                    </app-loading-button>

                                    <button class="btn btn-success" (click)="viewUploadedMakalah()"
                                        *ngIf="scoreMap['MAKALAH']?.score !== null && scoreMap['MAKALAH']?.score !== undefined">
                                        Lihat Makalah
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #emptyState>
            <section class="my-5">
                <app-empty-state [title]="'Anda belum ada jadwal UKom'"
                    [description]="'Panitia belum menetapkan jadwal ujian untuk Anda. Silahkan tunggu informasi selanjutnya.'">
                </app-empty-state>
            </section>

        </ng-template>
    </section>
</ng-template>

<app-modal *ngIf="isModalOpen()" [title]="'Hasil Ujian'" (toggle)="toggleModal()" [size]="'lg'" [enableFooter]="false">
    <ng-container>
        <div class="total-score-container">
            <div class="total-score-value">
                {{ scoreMap['CAT']?.score | number: '1.2-2' }}
            </div>
        </div>

        <div *ngFor="let competencyGroup of getGroupedCompetencies()" class="mb-3">
            <div class="card border-0 mb-3">
                <div class="card-header bg-primary text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 text-white">
                            {{ competencyGroup.name }}
                        </h4>
                        <span class="badge badge-light badge-lg">
                            {{ competencyGroup.percentage }}% ({{
                            competencyGroup.correct
                            }}/{{ competencyGroup.total }})
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-modal>