<div class="row">
  <div class="col-lg-12">
    <!-- <form (submit)="submit()"> -->
    <form>
      <div class="row mb-3">
        <label for="dokumenName" class="col-sm-2 col-form-label fw-bold"
          >Nama Dokumend<span class="text-danger">*</span></label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="dokumenPersyaratan.name"
            name="dokumenName"
            #dokumenInput="ngModel"
            required
          />
          <div
            *ngIf="
              dokumenInput.invalid &&
              (dokumenInput.touched || dokumenInput.dirty)
            "
            class="text-danger"
          >
            Nama Dokumen perlu diisi
          </div>
        </div>
      </div>
      <div class="text-center float-end">
        <button
          type="button"
          class="btn btn-success"
          (click)="submit()"
          [disabled]="dokumenInput.invalid"
        >
          Tambah
        </button>
      </div>
    </form>
  </div>
  <div class="col-lg-12">
    <app-pagable [pagable]="pagable" [refresh]="refresh"></app-pagable>
  </div>
</div>
